##Import relevant libraries and the data file

In [688]:
import pandas as pd
import numpy as np

In [689]:
valDf = pd.read_csv('./naveenkumar_propertyfinderbd.csv')

##Sneak peek into the original data file

In [690]:
valDf.head()

,added_on,address,area,details,fire_exit,generator,gym,last_updated,lift,offered_floor,...,property_category,property_id,property_size,property_type,property_url,rent_or_sale,rooftop_garden,swimming_pool,title,total_bathrooms
0,"Thu, Apr 6, 2023 7:49 PM","CHETONA TOWER, 274/4, Mirpur 60 fit road.","Mirpur, Dhaka",Flat sale\nReady Flat 1000 / 1200 / 1400 Squar...,NaN,NaN,NaN,"Sun, Apr 9, 2023 5:12 AM",NaN,5,...,Residential,864,1200,Apartment,https://propertyfinderbd.com/property-details/864,Sale,NaN,NaN,Ready Flat 1000 / 1200 / 1400 Square Feet Flat...,3
1,"Sun, Apr 9, 2023 9:21 AM",Gulshan Avenue,"Gulshan Avenue, Dhaka",Gulshan avenue is the most expensive and sough...,Yes,NaN,NaN,"Sun, Apr 9, 2023 9:21 AM",Yes,5,...,Commercial,875,2500,Office Space,https://propertyfinderbd.com/property-details/875,Rent,Yes,NaN,2500 sft office space for rent in Gulshan Avenue,NaN
2,"Wed, Mar 22, 2023 8:42 AM","JCX TOWER,1136/A, Block-I, Level 5, Japan Stre...","Bashundhara Residential Area, Dhaka",Two Room Furnished Serviced Apartment RENT in ...,Yes,Full Backup,NaN,"Sat, Mar 25, 2023 10:26 AM",Yes,4,...,Residential,821,375,Service Apartment,https://propertyfinderbd.com/property-details/821,Rent,NaN,NaN,Two Room Furnished Serviced Apartment RENT in ...,1
3,"Mon, Mar 20, 2023 5:55 AM",Gulshan Avenue,"Gulshan Avenue, Dhaka",Fully furnished 7000 sft office available for ...,Yes,Full Backup,NaN,"Mon, Mar 20, 2023 5:55 AM",Yes,7,...,Commercial,815,7000,Office,https://propertyfinderbd.com/property-details/815,Rent,Yes,NaN,"Ready Fully furnished 7,000 sft office for ren...",NaN
4,"Wed, Apr 5, 2023 5:50 AM","Sardar Complex, 1 South komlapur. Motijheel, D...","Motijheel, Dhaka",open space,NaN,Full Backup,NaN,"Sat, Apr 8, 2023 11:46 AM",NaN,1,...,Commercial,856,9000,Factory Shade,https://propertyfinderbd.com/property-details/856,Rent,NaN,NaN,Office space for rent,10

In [691]:
valDf.info()
valDf.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555 entries, 0 to 554
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   added_on           555 non-null    object
 1   address            555 non-null    object
 2   area               555 non-null    object
 3   details            555 non-null    object
 4   fire_exit          249 non-null    object
 5   generator          505 non-null    object
 6   gym                58 non-null     object
 7   last_updated       555 non-null    object
 8   lift               294 non-null    object
 9   offered_floor      491 non-null    object
 10  parking            396 non-null    object
 11  present_status     555 non-null    object
 12  price              555 non-null    object
 13  property_category  555 non-null    object
 14  property_id        555 non-null    int64
 15  property_size      555 non-null    int64
 16  property_type      555 non-null    object
 17  property_url       555 non-null    object
 18  rent_or_sale       555 non-null    object
 19  rooftop_garden     201 non-null    object
 20  swimming_pool      31 non-null     object
 21  title              555 non-null    object
 22  total_bathrooms    406 non-null    object
dtypes: int64(2), object(21)
memory usage: 99.9+ KB

       property_id  property_size
count   555.000000   5.550000e+02
mean    383.983784   2.539706e+04
std     239.644234   9.207220e+04
min      22.000000   0.000000e+00
25%     170.500000   1.362500e+03
50%     364.000000   3.000000e+03
75%     583.000000   1.591250e+04
max     875.000000   1.180800e+06

##Replace the original column names with the column names given as project standard

In [692]:
valDf.rename(columns = {'property_size':'AREA'}, inplace = True)
valDf.rename(columns = {'rent_or_sale':'PURPOSE'}, inplace = True)
#valDf.rename(columns = {'property_overview':'TITLE'}, inplace = True)
#valDf.rename(columns = {'property_description':'DETAILS'}, inplace = True)
valDf.rename(columns = {'property_category':'BUILDING_NATURE'}, inplace = True)
valDf.rename(columns = {'property_type':'BUILDING_TYPE'}, inplace = True)
#valDf.rename(columns = {'num_bath_rooms':'TOTAL_BATHROOMS'}, inplace = True)
#valDf.rename(columns = {'fire_exit':'K1'}, inplace = True)
##valDf.rename(columns = {'generator':'K2'}, inplace = True)
#valDf.rename(columns = {'gym':'K3'}, inplace = True)
#valDf.rename(columns = {'lift':'K4'}, inplace = True)
#valDf.rename(columns = {'offered_floor':'K5'}, inplace = True)
#valDf.rename(columns = {'parking':'parking-spaces-amenity'}, inplace = True)
#valDf.rename(columns = {'present_status':'K7'}, inplace = True)
#valDf.rename(columns = {'rooftop_garden':'K8'}, inplace = True)
#valDf.rename(columns = {'swimming_pool':'swimming-pool-amenity'}, inplace = True)

In [693]:
valDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555 entries, 0 to 554
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   added_on         555 non-null    object
 1   address          555 non-null    object
 2   area             555 non-null    object
 3   details          555 non-null    object
 4   fire_exit        249 non-null    object
 5   generator        505 non-null    object
 6   gym              58 non-null     object
 7   last_updated     555 non-null    object
 8   lift             294 non-null    object
 9   offered_floor    491 non-null    object
 10  parking          396 non-null    object
 11  present_status   555 non-null    object
 12  price            555 non-null    object
 13  BUILDING_NATURE  555 non-null    object
 14  property_id      555 non-null    int64
 15  AREA             555 non-null    int64
 16  BUILDING_TYPE    555 non-null    object
 17  property_url     555 non-null    object
 18  PURPOSE          555 non-null    object
 19  rooftop_garden   201 non-null    object
 20  swimming_pool    31 non-null     object
 21  title            555 non-null    object
 22  total_bathrooms  406 non-null    object
dtypes: int64(2), object(21)
memory usage: 99.9+ KB

##Get the District, city data by splitting the area column
##Feeding the country column with default as Bangladesh

In [694]:
valDf['DISTRICT']=valDf['area'].str.split(',').str[0]
valDf['CITY']=valDf['area'].str.split(',').str[1]
valDf['OTHERZONEAREA']=valDf['address'].str.split(',').str[-1]
valDf['COUNTRY']='Bangladesh'
valDf.head()

,added_on,address,area,details,fire_exit,generator,gym,last_updated,lift,offered_floor,...,property_url,PURPOSE,rooftop_garden,swimming_pool,title,total_bathrooms,DISTRICT,CITY,OTHERZONEAREA,COUNTRY
0,"Thu, Apr 6, 2023 7:49 PM","CHETONA TOWER, 274/4, Mirpur 60 fit road.","Mirpur, Dhaka",Flat sale\nReady Flat 1000 / 1200 / 1400 Squar...,NaN,NaN,NaN,"Sun, Apr 9, 2023 5:12 AM",NaN,5,...,https://propertyfinderbd.com/property-details/864,Sale,NaN,NaN,Ready Flat 1000 / 1200 / 1400 Square Feet Flat...,3,Mirpur,Dhaka,Mirpur 60 fit road.,Bangladesh
1,"Sun, Apr 9, 2023 9:21 AM",Gulshan Avenue,"Gulshan Avenue, Dhaka",Gulshan avenue is the most expensive and sough...,Yes,NaN,NaN,"Sun, Apr 9, 2023 9:21 AM",Yes,5,...,https://propertyfinderbd.com/property-details/875,Rent,Yes,NaN,2500 sft office space for rent in Gulshan Avenue,NaN,Gulshan Avenue,Dhaka,Gulshan Avenue,Bangladesh
2,"Wed, Mar 22, 2023 8:42 AM","JCX TOWER,1136/A, Block-I, Level 5, Japan Stre...","Bashundhara Residential Area, Dhaka",Two Room Furnished Serviced Apartment RENT in ...,Yes,Full Backup,NaN,"Sat, Mar 25, 2023 10:26 AM",Yes,4,...,https://propertyfinderbd.com/property-details/821,Rent,NaN,NaN,Two Room Furnished Serviced Apartment RENT in ...,1,Bashundhara Residential Area,Dhaka,Bashundhara R/A,Bangladesh
3,"Mon, Mar 20, 2023 5:55 AM",Gulshan Avenue,"Gulshan Avenue, Dhaka",Fully furnished 7000 sft office available for ...,Yes,Full Backup,NaN,"Mon, Mar 20, 2023 5:55 AM",Yes,7,...,https://propertyfinderbd.com/property-details/815,Rent,Yes,NaN,"Ready Fully furnished 7,000 sft office for ren...",NaN,Gulshan Avenue,Dhaka,Gulshan Avenue,Bangladesh
4,"Wed, Apr 5, 2023 5:50 AM","Sardar Complex, 1 South komlapur. Motijheel, D...","Motijheel, Dhaka",open space,NaN,Full Backup,NaN,"Sat, Apr 8, 2023 11:46 AM",NaN,1,...,https://propertyfinderbd.com/property-details/856,Rent,NaN,NaN,Office space for rent,10,Motijheel,Dhaka,Dhaka,Bangladesh

#Remove columns that are not needed

In [695]:
valDf=valDf.drop(['added_on','last_updated','present_status','property_url','address','area'],axis=1)

#Looking up unique values of the field to see if there are any null or junk values

In [696]:
valDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555 entries, 0 to 554
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   details          555 non-null    object
 1   fire_exit        249 non-null    object
 2   generator        505 non-null    object
 3   gym              58 non-null     object
 4   lift             294 non-null    object
 5   offered_floor    491 non-null    object
 6   parking          396 non-null    object
 7   price            555 non-null    object
 8   BUILDING_NATURE  555 non-null    object
 9   property_id      555 non-null    int64
 10  AREA             555 non-null    int64
 11  BUILDING_TYPE    555 non-null    object
 12  PURPOSE          555 non-null    object
 13  rooftop_garden   201 non-null    object
 14  swimming_pool    31 non-null     object
 15  title            555 non-null    object
 16  total_bathrooms  406 non-null    object
 17  DISTRICT         555 non-null    object
 18  CITY             555 non-null    object
 19  OTHERZONEAREA    555 non-null    object
 20  COUNTRY          555 non-null    object
dtypes: int64(2), object(19)
memory usage: 91.2+ KB

In [697]:
valDf['rooftop_garden'].unique()

array([nan, 'Yes'], dtype=object)

In [698]:
valDf['swimming_pool'].unique()

array([nan, 'Yes'], dtype=object)

In [699]:
valDf['total_bathrooms'].unique()

array(['3', nan, '1', '10', '4', '2', '9', '6', '5', '7', '20+', '19',
       '15', '12', '17', '20', '18'], dtype=object)

In [700]:
valDf['DISTRICT'].unique()

array(['Mirpur', 'Gulshan Avenue', 'Bashundhara Residential Area',
       'Motijheel', 'Uttara', 'Gulshan', 'Baridhara', 'Savar',
       'Sonargoan', 'Keraniganj', 'Ashulia', 'Banani',
       'Dhaka City Bypass.', 'Khilgaon', 'Joydebpur',
       'Purbachal New Town', 'Lalmatia', 'Tarabo', 'Sirajganj', 'Gazipur',
       'Rupganj', 'Mohakhali', 'Bayazid Bostami Road',
       'Purbachal American City', 'Tejgaon', 'Shewrapara', 'Nikunja',
       'Tongi', 'Khilkhet', 'Pubail', 'Bhaluka', 'Farmgate', 'Narsingdi',
       'Gulshan One', 'Gulistan', 'Paribagh', 'Jatrabari', 'Adabar',
       'Dhaka Cantonment', 'Pallabi', 'Rangpur City Corporation',
       'Shyamoli', 'Kawran Bazar', 'Shanti Nagar', 'Uttar Khan',
       'Aftab Nagar', 'Niketan', 'Dhanmondi', 'Badda', 'Manikganj',
       'Demra', 'Rampura', 'Shitakunda', 'Dhaka Chittagong Highway',
       'Mohammadpur', 'Moulvibazar', 'Valuka', 'Baily Road',
       'Faridpur City', 'Netrokona', 'Sreepur', 'Boshila', 'Ghorashal',
       'Madhabadi', 'Chapai Nawabganj', 'Satkhira', 'Narayanganj',
       'Mawna Chowrasta', 'Banasree', 'Mirpur DOHS', 'Araihazar',
       'Ulukhola Road', 'Uposhohor', 'Kallyanpur', 'Dinajpur',
       'Baridhara DOHS', 'Comilla', 'Baipayl', 'Shiddheswari',
       'West Khulshi', 'Faujdarhat', 'Naya Paltan', 'Kona Bari', 'Zirabo',
       'Shukrabad', 'Elephant Rd', 'Dhaka City Bypass', 'Segun Bagicha',
       'Choto Bazar Rd', 'Subid Bazar', 'Malibagh',
       'Kazi Nazrul Islam Ave', 'Mirsharai', 'Sokipur', 'Bogura Disttric',
       'Baridhara J Block', 'Kalurghat', 'Kemal Ataturk Avenue', 'Kuril'],
      dtype=object)

In [701]:
valDf['CITY'].unique()

array([' Dhaka', ' Narayanganj', ' Gazipur', ' Rupganj', ' Rajshahi',
       ' Chittagong', ' Kaliganj', ' Mymensingh', ' Rangpur', ' Sylhet',
       ' Narsingdi.', ' Khulna', ' Savar.'], dtype=object)

In [702]:
valDf['price'].unique()

array(['1.00 BDT', '160.00 BDT', '36000.00 BDT', '1050000.00 BDT',
       '500000.00 BDT', '4000000.00 BDT', '48000.00 BDT', '170000.00 BDT',
       '430000000.00 BDT', '150000.00 BDT', '4250000.00 BDT',
       '600000000.00 BDT', '3500.00 BDT', '25000.00 BDT', '88.00 BDT',
       '5000.00 BDT', '800000.00 BDT', '285000000.00 BDT', '60.00 BDT',
       '110000000.00 BDT', '200000000.00 BDT', '1125000.00 BDT',
       '400000000.00 BDT', '15000000.00 BDT', '62000000.00 BDT',
       '2000000.00 BDT', '180000000.00 BDT', '6000000.00 BDT',
       '230000.00 BDT', '35000.00 BDT', '34999.00 BDT', '275000.00 BDT',
       '85000.00 BDT', '0.00 BDT', '120.00 BDT', '2017500.00 BDT',
       '4600.00 BDT', '900000000.00 BDT', '28000000.00 BDT',
       '11000000.00 BDT', '60000000.00 BDT', '1000000.00 BDT',
       '65000000.00 BDT', '75000000.00 BDT', '180000.00 BDT',
       '35000000.00 BDT', '7500000.00 BDT', '300000.00 BDT',
       '110000.00 BDT', '55000.00 BDT', '770000.00 BDT', '28.00 BDT',
       '140.00 BDT', '45000000.00 BDT', '61500000.00 BDT',
       '57000000.00 BDT', '3500000.00 BDT', '14175000.00 BDT',
       '2050000000.00 BDT', '1344000000.00 BDT', '10000.00 BDT',
       '22000000.00 BDT', '280000.00 BDT', '415500.00 BDT',
       '1600000.00 BDT', '215000.00 BDT', '130.00 BDT', '70000.00 BDT',
       '345000000.00 BDT', '331870.00 BDT', '25000000.00 BDT',
       '16000000.00 BDT', '42000000.00 BDT', '12000000.00 BDT',
       '8500.00 BDT', '145000000.00 BDT', '1300000.00 BDT',
       '435000.00 BDT', '1470000.00 BDT', '600000.00 BDT',
       '255000000.00 BDT', '7750.00 BDT', '13000000.00 BDT',
       '800000000.00 BDT', '13500000.00 BDT', '85000000.00 BDT',
       '2700000.00 BDT', '21000000.00 BDT', '75000.00 BDT',
       '735000.00 BDT', '1650000.00 BDT', '220000.00 BDT',
       '140000.00 BDT', '100000000.00 BDT', '55000000.00 BDT',
       '4500000.00 BDT', '80000.00 BDT', '4000.00 BDT', '1000123.00 BDT',
       '8600000.00 BDT', '352000.00 BDT', '250000.00 BDT',
       '2400000.00 BDT', '204000000.00 BDT', '84000000.00 BDT',
       '175000000.00 BDT', '33000000.00 BDT', '1400000.00 BDT',
       '120000000.00 BDT', '430200000.00 BDT', '12250000.00 BDT',
       '1700000.00 BDT', '11500000.00 BDT', '67200000.00 BDT',
       '27500000.00 BDT', '10500000.00 BDT', '21500000.00 BDT',
       '137500000.00 BDT', '120250000.00 BDT', '232500000.00 BDT',
       '80000000.00 BDT', '275000000.00 BDT', '5000000.00 BDT',
       '192000.00 BDT', '480000.00 BDT', '450000.00 BDT',
       '91690000.00 BDT', '34000000.00 BDT', '7000000.00 BDT',
       '32500000.00 BDT', '17500000.00 BDT', '456000000.00 BDT',
       '36000000.00 BDT', '40000000.00 BDT', '90000.00 BDT',
       '270000.00 BDT', '140000000.00 BDT', '1120000.00 BDT',
       '360000.00 BDT', '1380000.00 BDT', '8280000.00 BDT',
       '45000.00 BDT', '105000000.00 BDT', '30000000.00 BDT',
       '5200.00 BDT', '100.00 BDT', '300000000.00 BDT', '260000.00 BDT',
       '280000000.00 BDT', '17000000.00 BDT', '14000000.00 BDT',
       '2800000.00 BDT', '4800000.00 BDT', '95000000.00 BDT',
       '185000000.00 BDT', '350000.00 BDT', '734400.00 BDT',
       '65000.00 BDT', '7800000.00 BDT', '350000000.00 BDT',
       '89000000.00 BDT', '5700.00 BDT', '4200.00 BDT', '9000.00 BDT',
       '8500000.00 BDT', '200000.00 BDT', '120000.00 BDT',
       '400000.00 BDT', '650000.00 BDT', '51000000.00 BDT',
       '135000000.00 BDT', '9800000.00 BDT', '162000000.00 BDT',
       '68000.00 BDT', '972000.00 BDT', '1124000.00 BDT', '840000.00 BDT',
       '47500000.00 BDT', '306000.00 BDT', '32000000.00 BDT',
       '26500000.00 BDT', '27000000.00 BDT', '315000.00 BDT',
       '127500.00 BDT', '100000.00 BDT', '728000.00 BDT', '960000.00 BDT',
       '188800.00 BDT', '16000.00 BDT', '12000.00 BDT', '640000.00 BDT',
       '440000.00 BDT', '19000.00 BDT', '30000.00 BDT', '850000.00 BDT',
       '50000.00 BDT', '330000.00 BDT', '240000.00 BDT', '11000.00 BDT',
       '580000.00 BDT', '1500000.00 BDT', '1000.00 BDT', '780000.00 BDT',
       '60000.00 BDT', '20000000.00 BDT', '320000000.00 BDT',
       '23000.00 BDT', '1250000.00 BDT', '2560000.00 BDT',
       '750000.00 BDT', '190000.00 BDT', '325000.00 BDT', '444450.00 BDT',
       '2100000.00 BDT', '1200000.00 BDT', '1920000.00 BDT',
       '990000.00 BDT', '1882800.00 BDT', '115000.00 BDT',
       '810000.00 BDT', '420000.00 BDT', '7300.00 BDT',
       '296000000.00 BDT', '320000.00 BDT', '1100000.00 BDT',
       '3912000.00 BDT', '160000.00 BDT', '385000.00 BDT',
       '856000.00 BDT', '145000.00 BDT', '125000.00 BDT', '265000.00 BDT',
       '1350000.00 BDT', '460000.00 BDT', '5800.00 BDT', '5900000.00 BDT',
       '1072500.00 BDT', '1800000.00 BDT', '70000000.00 BDT',
       '496000.00 BDT', '157500000.00 BDT', '130000.00 BDT',
       '2250000.00 BDT', '424000.00 BDT', '14000.00 BDT', '31000.00 BDT',
       '1490000.00 BDT', '7500.00 BDT', '550000.00 BDT', '335000.00 BDT',
       '515000.00 BDT', '330610.00 BDT', '24000.00 BDT', '316500.00 BDT',
       '900000.00 BDT', '365000000.00 BDT', '1270000.00 BDT',
       '2620125.00 BDT', '1150000.00 BDT', '135000.00 BDT',
       '175000.00 BDT', '430000.00 BDT', '1450000.00 BDT',
       '5500000.00 BDT', '1275000.00 BDT', '1210000.00 BDT',
       '1020000.00 BDT'], dtype=object)

In [703]:
valDf['AREA'].unique()

array([   1200,    2500,     375,    7000,    9000,   25000,    4600,
           800,    3200,    4000,    5400,       5,      20,    1550,
          2800,      16,     948,       8,      15,    1400,       4,
            10,    6500,    1089,  144000,   41000,   30000,   40510,
           150,    3000,       1,    6000,   11000,    3100,   93500,
          3017,    1345,   10500,  288000,    2160,    2100,   86400,
         43200,      11,   14400,      25,       3,      12,    8000,
           875,   22000,   16000,    7400,   36000,      52,   27500,
       1180800,  604800,   39600,     750,   14000,    3750,   17000,
          1650,    1800,  331200,    2200,       2,    1500,    1600,
        108000,    4200,     420,    4100,  148363,    6336,     166,
          2000,    1300,       9,   21000,   15000,    1662,    1000,
         47520,    1050,    2818,      59,    1140,    1700,   10000,
        244800,    1250,  100800,   93600,    4900,    7200,  417600,
          3500,     490,   28800,   20880,    1750,   79200,    8075,
          2950,  216000,   72000,   66960,   50400,   95000,   90000,
         32000,   40000,   44000,    3285,  720000,   20000,   18000,
       1094400,    2400,   28000,   56000,   11500,    1380,     600,
             6,   59677,    1228,  102000,      14,      50,    1450,
          1310,  132000,     700,    3685,    3450,    4500,    1430,
            90,    3600,   52272,    1100,    1565,    5500,   38000,
          3085,      27,    7500,      36,  110000,     200,   60000,
         54000,   70250,   42000,    3400,    2300,    2750,   48600,
         35000,    8500,    2600,    2360,    5000,     180,    1535,
         65000,    2450,    3228,     174,  100000,    2550,   52000,
            28,  576000,    1150,   82500,   50000,  128000,   24000,
         13500,    2860,    2963,    8250,   10460,    1395,  200000,
          2250,      37,   74000,   75000,  195600,   10700,    1060,
          4250,    5200,    3800,  432000,    1467,      23,      60,
          6200,    2656,       0,   22500,    1599,   26500,    2262,
           813,    2359,      51,    1620,    1185,    2650,    3686,
          2070,    1900,    4723,   85000,     127,  115000,   15825,
            13,   12000,   31000,    3700,    7470,   30825,    5399,
          7498,   19000,    2997,   15090,    2900,    6300,    5150])

In [704]:
valDf['fire_exit'].unique()

array([nan, 'Yes'], dtype=object)

In [705]:
valDf['generator'].unique()

array([nan, 'Full Backup', 'No', 'Partial'], dtype=object)

In [706]:
valDf['gym'].unique()

array([nan, 'Yes'], dtype=object)

In [707]:
valDf['lift'].unique()

array([nan, 'Yes'], dtype=object)

In [708]:
valDf['offered_floor'].unique()

array(['5', '4', '7', '1', nan, '3', '9', '2', '6', '18', '19', '11',
       '17', '10', '30+', '16', '12', '15', '13'], dtype=object)

In [709]:
valDf['parking'].unique()

array([nan, '2 Slot', '1 Slot', '4 Slot', '20 Slot', '5 Slot', '7 Slot',
       '3 Slot', '6 Slot', 'N/A Slot', '8 Slot', '১ Slot', '10+ Slot',
       '10 Slot', '50 Slot', '28 Slot',
       '2 level of basement Parking Slot', '14 Slot', '12 Slot',
       '20+ Slot', '5/7 Slot', '1216 Slot', '37 Slot'], dtype=object)

In [710]:
valDf['BUILDING_NATURE'].unique()

array(['Residential', 'Commercial', 'Land', 'None'], dtype=object)

In [711]:
valDf['BUILDING_TYPE'].unique()

array(['Apartment', 'Office Space', 'Service Apartment', 'Office',
       'Factory Shade', 'Commercial Plot', 'Commercial Building',
       'Industrial Plot', 'Ready Flat', 'Plot', 'Building', 'House',
       'Open Field', 'Factory Land', 'High Land', 'Factory Building',
       'Factory Sale', 'Apartment Office', 'Warehouse',
       'Building For Office', 'Furnished', 'Floor', 'Land with building',
       'Office Building', 'Brand New Apartment', 'Show-room',
       'Duplex House', 'None', 'Resorts / Banglobari', 'Duplex Apartment',
       'Open Floor', 'Semi Commercial Apartment'], dtype=object)

In [712]:
valDf['PURPOSE'].unique()

array(['Sale', 'Rent'], dtype=object)

In [713]:
valDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555 entries, 0 to 554
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   details          555 non-null    object
 1   fire_exit        249 non-null    object
 2   generator        505 non-null    object
 3   gym              58 non-null     object
 4   lift             294 non-null    object
 5   offered_floor    491 non-null    object
 6   parking          396 non-null    object
 7   price            555 non-null    object
 8   BUILDING_NATURE  555 non-null    object
 9   property_id      555 non-null    int64
 10  AREA             555 non-null    int64
 11  BUILDING_TYPE    555 non-null    object
 12  PURPOSE          555 non-null    object
 13  rooftop_garden   201 non-null    object
 14  swimming_pool    31 non-null     object
 15  title            555 non-null    object
 16  total_bathrooms  406 non-null    object
 17  DISTRICT         555 non-null    object
 18  CITY             555 non-null    object
 19  OTHERZONEAREA    555 non-null    object
 20  COUNTRY          555 non-null    object
dtypes: int64(2), object(19)
memory usage: 91.2+ KB

#Cleaning
###nan values
###remove unit BDT from price
###remove Slot from parking
###data types for numeric fields

##Fill NaN values

In [714]:
valDf = valDf.replace(np.nan, '', regex=True)
valDf.head(2)

,details,fire_exit,generator,gym,lift,offered_floor,parking,price,BUILDING_NATURE,property_id,...,BUILDING_TYPE,PURPOSE,rooftop_garden,swimming_pool,title,total_bathrooms,DISTRICT,CITY,OTHERZONEAREA,COUNTRY
0,Flat sale\nReady Flat 1000 / 1200 / 1400 Squar...,,,,,5,,1.00 BDT,Residential,864,...,Apartment,Sale,,,Ready Flat 1000 / 1200 / 1400 Square Feet Flat...,3,Mirpur,Dhaka,Mirpur 60 fit road.,Bangladesh
1,Gulshan avenue is the most expensive and sough...,Yes,,,Yes,5,2 Slot,160.00 BDT,Commercial,875,...,Office Space,Rent,Yes,,2500 sft office space for rent in Gulshan Avenue,,Gulshan Avenue,Dhaka,Gulshan Avenue,Bangladesh

##Remove Unit from Price

In [715]:
valDf['price']=valDf['price'].apply(lambda x: x.split(" ")[0] )
valDf['price'].unique()

array(['1.00', '160.00', '36000.00', '1050000.00', '500000.00',
       '4000000.00', '48000.00', '170000.00', '430000000.00', '150000.00',
       '4250000.00', '600000000.00', '3500.00', '25000.00', '88.00',
       '5000.00', '800000.00', '285000000.00', '60.00', '110000000.00',
       '200000000.00', '1125000.00', '400000000.00', '15000000.00',
       '62000000.00', '2000000.00', '180000000.00', '6000000.00',
       '230000.00', '35000.00', '34999.00', '275000.00', '85000.00',
       '0.00', '120.00', '2017500.00', '4600.00', '900000000.00',
       '28000000.00', '11000000.00', '60000000.00', '1000000.00',
       '65000000.00', '75000000.00', '180000.00', '35000000.00',
       '7500000.00', '300000.00', '110000.00', '55000.00', '770000.00',
       '28.00', '140.00', '45000000.00', '61500000.00', '57000000.00',
       '3500000.00', '14175000.00', '2050000000.00', '1344000000.00',
       '10000.00', '22000000.00', '280000.00', '415500.00', '1600000.00',
       '215000.00', '130.00', '70000.00', '345000000.00', '331870.00',
       '25000000.00', '16000000.00', '42000000.00', '12000000.00',
       '8500.00', '145000000.00', '1300000.00', '435000.00', '1470000.00',
       '600000.00', '255000000.00', '7750.00', '13000000.00',
       '800000000.00', '13500000.00', '85000000.00', '2700000.00',
       '21000000.00', '75000.00', '735000.00', '1650000.00', '220000.00',
       '140000.00', '100000000.00', '55000000.00', '4500000.00',
       '80000.00', '4000.00', '1000123.00', '8600000.00', '352000.00',
       '250000.00', '2400000.00', '204000000.00', '84000000.00',
       '175000000.00', '33000000.00', '1400000.00', '120000000.00',
       '430200000.00', '12250000.00', '1700000.00', '11500000.00',
       '67200000.00', '27500000.00', '10500000.00', '21500000.00',
       '137500000.00', '120250000.00', '232500000.00', '80000000.00',
       '275000000.00', '5000000.00', '192000.00', '480000.00',
       '450000.00', '91690000.00', '34000000.00', '7000000.00',
       '32500000.00', '17500000.00', '456000000.00', '36000000.00',
       '40000000.00', '90000.00', '270000.00', '140000000.00',
       '1120000.00', '360000.00', '1380000.00', '8280000.00', '45000.00',
       '105000000.00', '30000000.00', '5200.00', '100.00', '300000000.00',
       '260000.00', '280000000.00', '17000000.00', '14000000.00',
       '2800000.00', '4800000.00', '95000000.00', '185000000.00',
       '350000.00', '734400.00', '65000.00', '7800000.00', '350000000.00',
       '89000000.00', '5700.00', '4200.00', '9000.00', '8500000.00',
       '200000.00', '120000.00', '400000.00', '650000.00', '51000000.00',
       '135000000.00', '9800000.00', '162000000.00', '68000.00',
       '972000.00', '1124000.00', '840000.00', '47500000.00', '306000.00',
       '32000000.00', '26500000.00', '27000000.00', '315000.00',
       '127500.00', '100000.00', '728000.00', '960000.00', '188800.00',
       '16000.00', '12000.00', '640000.00', '440000.00', '19000.00',
       '30000.00', '850000.00', '50000.00', '330000.00', '240000.00',
       '11000.00', '580000.00', '1500000.00', '1000.00', '780000.00',
       '60000.00', '20000000.00', '320000000.00', '23000.00',
       '1250000.00', '2560000.00', '750000.00', '190000.00', '325000.00',
       '444450.00', '2100000.00', '1200000.00', '1920000.00', '990000.00',
       '1882800.00', '115000.00', '810000.00', '420000.00', '7300.00',
       '296000000.00', '320000.00', '1100000.00', '3912000.00',
       '160000.00', '385000.00', '856000.00', '145000.00', '125000.00',
       '265000.00', '1350000.00', '460000.00', '5800.00', '5900000.00',
       '1072500.00', '1800000.00', '70000000.00', '496000.00',
       '157500000.00', '130000.00', '2250000.00', '424000.00', '14000.00',
       '31000.00', '1490000.00', '7500.00', '550000.00', '335000.00',
       '515000.00', '330610.00', '24000.00', '316500.00', '900000.00',
       '365000000.00', '1270000.00', '2620125.00', '1150000.00',
       '135000.00', '175000.00', '430000.00', '1450000.00', '5500000.00',
       '1275000.00', '1210000.00', '1020000.00'], dtype=object)

##Remove Slot from parking

In [716]:
valDf["parking"]=valDf["parking"].str.replace("10+ Slot", "10")
valDf["parking"]=valDf["parking"].str.replace("20+ Slot", "20")
valDf["parking"]=valDf["parking"].str.replace("Slot", "")
valDf["parking"]=valDf["parking"].str.replace("N/A", "0")
valDf["parking"]=valDf["parking"].str.replace("2 level of basement Parking", "2")
valDf["parking"]=valDf["parking"].str.replace("১ ", "1")
valDf["parking"]=valDf["parking"].str.replace("5/7", "5")

<ipython-input-716-13d205ec2e92>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  valDf["parking"]=valDf["parking"].str.replace("10+ Slot", "10")
<ipython-input-716-13d205ec2e92>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  valDf["parking"]=valDf["parking"].str.replace("20+ Slot", "20")

In [717]:
valDf['price'].dtype

dtype('O')

In [718]:
valDf['parking'].unique()

array(['', '2 ', '1 ', '4 ', '20', '5 ', '7 ', '3 ', '6 ', '0 ', '8 ',
       '1', '10+ ', '10', '50 ', '28 ', '14 ', '12 ', '20+ ', '1216 ',
       '37 '], dtype=object)

In [719]:
valDf.head()

,details,fire_exit,generator,gym,lift,offered_floor,parking,price,BUILDING_NATURE,property_id,...,BUILDING_TYPE,PURPOSE,rooftop_garden,swimming_pool,title,total_bathrooms,DISTRICT,CITY,OTHERZONEAREA,COUNTRY
0,Flat sale\nReady Flat 1000 / 1200 / 1400 Squar...,,,,,5,,1.00,Residential,864,...,Apartment,Sale,,,Ready Flat 1000 / 1200 / 1400 Square Feet Flat...,3,Mirpur,Dhaka,Mirpur 60 fit road.,Bangladesh
1,Gulshan avenue is the most expensive and sough...,Yes,,,Yes,5,2,160.00,Commercial,875,...,Office Space,Rent,Yes,,2500 sft office space for rent in Gulshan Avenue,,Gulshan Avenue,Dhaka,Gulshan Avenue,Bangladesh
2,Two Room Furnished Serviced Apartment RENT in ...,Yes,Full Backup,,Yes,4,1,36000.00,Residential,821,...,Service Apartment,Rent,,,Two Room Furnished Serviced Apartment RENT in ...,1,Bashundhara Residential Area,Dhaka,Bashundhara R/A,Bangladesh
3,Fully furnished 7000 sft office available for ...,Yes,Full Backup,,Yes,7,4,1050000.00,Commercial,815,...,Office,Rent,Yes,,"Ready Fully furnished 7,000 sft office for ren...",,Gulshan Avenue,Dhaka,Gulshan Avenue,Bangladesh
4,open space,,Full Backup,,,1,2,500000.00,Commercial,856,...,Factory Shade,Rent,,,Office space for rent,10,Motijheel,Dhaka,Dhaka,Bangladesh

##Fix the data types for numeric columns

In [720]:
valDf[['price','AREA']] = valDf[['price','AREA']].apply(pd.to_numeric)

In [721]:
valDf[['parking','offered_floor','total_bathrooms']] = valDf[['parking','offered_floor','total_bathrooms']].apply(pd.to_numeric)

ValueError: ignored

In [ ]:
valDf.info()

In [722]:
valDf.to_csv('./naveenkumar_propertyfinderbd_cleaned.csv', index=False)