This notebook goal is to merge all cleaned csv files.

## TOC
1. [Importing cleaned csv files](#importing-cleaned-csvs)
1. [Merging cleaned csvs in one master dataset](#merging-cleaned-csvs)
<!--     1. [Merging `dbstall`](#merging-bdstall)
    1. [Merging `toleter`](#merging-toleter)
    1. [Merging `rentalhomebd`](#merging-rentalhomebd)
    1. [Merging `pbazaar`](#merging-pbazaar)
    1. [Merging `flatforsale`](#merging-flatforsale)
    1. [Merging `iqibd`](#merging-iqibd)
    1. [Merging `btib_df`](#merging-btib_df)
    1. [Merging `bdhousing_df`](#merging-bdhousing_df) -->
1. [Tidying merged csvs](#tidying-merged-csvs)
1. [Creating csv without amenities](#creating-csv-without-amenities)
1. [Creating csv with amenities](#creating-csv-with-amenities)

In [1]:
import pandas as pd
import numpy as np

from googletrans import Translator, constants # https://www.thepythoncode.com/article/translate-text-in-python

import os
import sys

sys.path.append("../functions")
from amenity_identifier import *

In [2]:
is_maintenance_or_cleaning_amenity("emergency exist")

False

In [3]:
# CSV folders

cleaned_data_folder="../../../data/CLeaned_Data"
merged_data_folder="../../../data/Merged_Data"

bproperty_folder= f"{cleaned_data_folder}/bproperty"
bdstall_folder= f"{cleaned_data_folder}/bdstall"
toleter_folder= f"{cleaned_data_folder}/toleter"
rentalhomebd_folder= f"{cleaned_data_folder}/rentalhomebd"
pbazaar_folder= f"{cleaned_data_folder}/pbazaar"
flatforsale_folder= f"{cleaned_data_folder}/flatforsaleindhaka_spider" 
iqibd_folder= f"{cleaned_data_folder}/iqibd"
btibrokeragebd_folder= f"{cleaned_data_folder}/btibrokeragebd"


bdhousing_folder= f"{cleaned_data_folder}/bdhousing" 
estatemartbd_folder= f"{cleaned_data_folder}/estatemartbd" 
thetolet_folder= f"{cleaned_data_folder}/thetolet" 
sharif_folder= f"{cleaned_data_folder}/sharif" 
homefairbd_folder= f"{cleaned_data_folder}/homefairbd_spider"

<span id="importing-cleaned-csvs" ></span>

## Importing the cleaned csv files

In [4]:
# Importing bproperty cleaned csv
bproperty_df = pd.read_csv(f"{bproperty_folder}/cleaned_bproperty.csv")
bproperty_df.head(3).T

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,0,1,2
area,1185.0,2464.0,1140.0
building_type,Apartment,Apartment,Apartment
building_nature,Residential,Residential,Residential
image_url,https://images-cdn.bproperty.com/thumbnails/15...,https://images-cdn.bproperty.com/thumbnails/15...,https://images-cdn.bproperty.com/thumbnails/15...
num_bath_rooms,0,4,0
num_bed_rooms,3,3,3
price,6100000.0,28900000.0,7500000.0
property_description,Grab This 1185 Sq Ft Beautiful Flat Is Vacant ...,A Vibrant 2464 Sq Ft Residential Flat For Sale...,1140 Sq Ft Nicely Planned Apartment Is Availab...
property_overview,This flat consists of facilities you can think...,Ready to move in somewhere with everything nea...,A spacious 1140 Square Feet apartment in Mirp...
property_url,https://www.bproperty.com/en/property/details-...,https://www.bproperty.com/en/property/details-...,https://www.bproperty.com/en/property/details-...
purpose,Sale,Sale,Sale
city,Dhaka,Dhaka,Dhaka
locality,Khilgaon,Dhanmondi,Mirpur
address,NaN,NaN,"Block Ta, Section 6"
balcony-or-terrace-amenity,yes,yes,yes
flooring-amenity,yes,yes,yes
parking-spaces-amenity,1,1,NaN
view-amenity,yes,yes,yes
lobby-in-building-amenity,yes,yes,yes
electricity-backup-amenity,yes,yes,yes
elevators-in-building-amenity,1.0,2.0,1.0
floor-level-amenity,yes,yes,yes
cctv-security-amenity,yes,yes,yes
maintenance-staff-amenity,yes,NaN,yes
cleaning-services-amenity,yes,NaN,yes
service-elevators-amenity,NaN,yes,NaN
intercom-amenity,NaN,yes,yes
atm-facility-amenity,NaN,yes,NaN
freehold-amenity,NaN,NaN,yes
broadband-internet-amenity,NaN,NaN,yes
double-glazed-windows-amenity,NaN,NaN,NaN
storage-areas-amenity,NaN,NaN,NaN
24-hours-concierge-amenity,NaN,NaN,NaN
waste-disposal-amenity,NaN,NaN,NaN
lawn-or-garden-amenity,NaN,NaN,NaN
prayer-room-amenity,NaN,NaN,NaN
facilities-for-disabled-amenity,NaN,NaN,NaN
conference-room-amenity,NaN,NaN,NaN
furnished-amenity,NaN,NaN,NaN
swimming-pool-amenity,NaN,NaN,NaN
steam-room-amenity,NaN,NaN,NaN
sauna-amenity,NaN,NaN,NaN
jacuzzi-amenity,NaN,NaN,NaN
barbeque-area-amenity,NaN,NaN,NaN
central-heating-amenity,NaN,NaN,NaN
business-center-amenity,NaN,NaN,NaN
first-aid-medical-center-amenity,NaN,NaN,NaN
day-care-center-amenity,NaN,NaN,NaN
shared-kitchen-amenity,NaN,NaN,NaN
cafeteria-or-canteen-amenity,NaN,NaN,NaN
laundry-facility-amenity,NaN,NaN,NaN

In [5]:
bproperty_df.shape

(17329, 51)

In [6]:
bproperty_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17329 entries, 0 to 17328
Data columns (total 51 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   area                              17329 non-null  float64
 1   building_type                     17329 non-null  object
 2   building_nature                   17329 non-null  object
 3   image_url                         17312 non-null  object
 4   num_bath_rooms                    17329 non-null  int64
 5   num_bed_rooms                     17329 non-null  int64
 6   price                             17329 non-null  float64
 7   property_description              17329 non-null  object
 8   property_overview                 17329 non-null  object
 9   property_url                      17329 non-null  object
 10  purpose                           17329 non-null  object
 11  city                              17329 non-null  object
 12  locality                          17282 non-null  object
 13  address                           12602 non-null  object
 14  balcony-or-terrace-amenity        14279 non-null  object
 15  flooring-amenity                  16398 non-null  object
 16  parking-spaces-amenity            8887 non-null   object
 17  view-amenity                      16413 non-null  object
 18  lobby-in-building-amenity         9257 non-null   object
 19  electricity-backup-amenity        10127 non-null  object
 20  elevators-in-building-amenity     12749 non-null  float64
 21  floor-level-amenity               15396 non-null  object
 22  cctv-security-amenity             10312 non-null  object
 23  maintenance-staff-amenity         9607 non-null   object
 24  cleaning-services-amenity         12445 non-null  object
 25  service-elevators-amenity         3317 non-null   object
 26  intercom-amenity                  5222 non-null   object
 27  atm-facility-amenity              550 non-null    object
 28  freehold-amenity                  5367 non-null   object
 29  broadband-internet-amenity        6190 non-null   object
 30  double-glazed-windows-amenity     5851 non-null   object
 31  storage-areas-amenity             1390 non-null   object
 32  24-hours-concierge-amenity        7142 non-null   object
 33  waste-disposal-amenity            4288 non-null   object
 34  lawn-or-garden-amenity            507 non-null    object
 35  prayer-room-amenity               910 non-null    object
 36  facilities-for-disabled-amenity   297 non-null    object
 37  conference-room-amenity           540 non-null    object
 38  furnished-amenity                 523 non-null    object
 39  swimming-pool-amenity             98 non-null     object
 40  steam-room-amenity                55 non-null     object
 41  sauna-amenity                     41 non-null     object
 42  jacuzzi-amenity                   47 non-null     object
 43  barbeque-area-amenity             193 non-null    object
 44  central-heating-amenity           531 non-null    object
 45  business-center-amenity           447 non-null    object
 46  first-aid-medical-center-amenity  130 non-null    object
 47  day-care-center-amenity           144 non-null    object
 48  shared-kitchen-amenity            51 non-null     object
 49  cafeteria-or-canteen-amenity      369 non-null    object
 50  laundry-facility-amenity          66 non-null     object
dtypes: float64(3), int64(2), object(46)
memory usage: 6.7+ MB

In [7]:
# Creating an id column for the dataframe
bproperty_df["id"] = bproperty_df.index.values
bproperty_df["id"] = bproperty_df["id"].apply(lambda x: "bproperty-"+str(x) )
bproperty_df["id"]

0            bproperty-0
1            bproperty-1
2            bproperty-2
3            bproperty-3
4            bproperty-4
              ...
17324    bproperty-17324
17325    bproperty-17325
17326    bproperty-17326
17327    bproperty-17327
17328    bproperty-17328
Name: id, Length: 17329, dtype: object

In [8]:
# Importing bdstall cleaned csv
bdstall_df = pd.read_csv(f"{bdstall_folder}/Farjana_bdstall-cleaned-Umesh.csv")
bdstall_df.head(3).T

,0,1,2
area,1350.0,1250.0,1252.0
building_type,Apartment,Apartment,Apartment
building_nature,NaN,NaN,NaN
num_bath_rooms,3.0,3.0,3.0
num_bed_rooms,3.0,3.0,3.0
price,1500000,2500000,5200000
property_description,Shares of 1350 Sqft land share in Banasree M B...,Shares of 1250 Sqft land will be sold on the o...,A 1252 Sqft flat will be sold in Arshi Nagar a...
property_overview,NaN,NaN,NaN
property_url,https://www.bdstall.com/details/near-hatirjhee...,https://www.bdstall.com/details/banasree-near-...,https://www.bdstall.com/details/near-mohammadp...
purpose,Sale,Sale,Sale
city,NaN,NaN,NaN
locality,NaN,Rampura,NaN
address,Banasree M Block.,Opposite Banasree Police Park,Arshi Nagar

In [9]:
bdstall_df.shape

(58, 13)

In [10]:
bdstall_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   area                  58 non-null     float64
 1   building_type         58 non-null     object
 2   building_nature       0 non-null      float64
 3   num_bath_rooms        58 non-null     float64
 4   num_bed_rooms         58 non-null     float64
 5   price                 58 non-null     int64
 6   property_description  58 non-null     object
 7   property_overview     0 non-null      float64
 8   property_url          58 non-null     object
 9   purpose               56 non-null     object
 10  city                  20 non-null     object
 11  locality              26 non-null     object
 12  address               49 non-null     object
dtypes: float64(5), int64(1), object(7)
memory usage: 6.0+ KB

In [11]:
# Creating an id column for the dataframe
bdstall_df["id"] = bdstall_df.index.values
bdstall_df["id"] = bdstall_df["id"].apply(lambda x: "bdstall-"+str(x) )
bdstall_df["id"]

0      bdstall-0
1      bdstall-1
2      bdstall-2
3      bdstall-3
4      bdstall-4
5      bdstall-5
6      bdstall-6
7      bdstall-7
8      bdstall-8
9      bdstall-9
10    bdstall-10
11    bdstall-11
12    bdstall-12
13    bdstall-13
14    bdstall-14
15    bdstall-15
16    bdstall-16
17    bdstall-17
18    bdstall-18
19    bdstall-19
20    bdstall-20
21    bdstall-21
22    bdstall-22
23    bdstall-23
24    bdstall-24
25    bdstall-25
26    bdstall-26
27    bdstall-27
28    bdstall-28
29    bdstall-29
30    bdstall-30
31    bdstall-31
32    bdstall-32
33    bdstall-33
34    bdstall-34
35    bdstall-35
36    bdstall-36
37    bdstall-37
38    bdstall-38
39    bdstall-39
40    bdstall-40
41    bdstall-41
42    bdstall-42
43    bdstall-43
44    bdstall-44
45    bdstall-45
46    bdstall-46
47    bdstall-47
48    bdstall-48
49    bdstall-49
50    bdstall-50
51    bdstall-51
52    bdstall-52
53    bdstall-53
54    bdstall-54
55    bdstall-55
56    bdstall-56
57    bdstall-57
Name: id, dtype: object

In [12]:
# Importing toleter cleaned csv
toleter_df = pd.read_csv(f"{toleter_folder}/Farjana_toleter-cleaned-Umesh.csv")
toleter_df.head(3).T

,0,1,2
area,NaN,NaN,4035.0
building_type,Apartment,Apartment,Apartment
building_nature,NaN,NaN,NaN
num_bath_rooms,1.0,1.0,1.0
num_bed_rooms,1.0,1.0,1.0
price,31000.0,36000.0,36000.0
property_description,"Short-Term Rentals are available with Kitchen,...","Short-Term Rentals with Kitchen, TV, Refrigera...",Two Room Furnished Serviced Apartment RENT in ...
property_overview,"Built in Year : 2020,Parking Spaces,Electricit...","Built in Year : 2020,Parking Spaces,Electricit...","Built in Year : 2020,Size 375 Sq. Meter,Floors..."
property_url,https://www.toleter.com/property/bd1683/,https://www.toleter.com/property/bd1635/,https://www.toleter.com/property/bd1650/
purpose,Rent,Rent,Rent
city,NaN,NaN,NaN
locality,Bashundhara R/A,Bashundhara R/A,Bashundhara R/A
address,"Jcx Tower, 1136/A, Block-I, Level 5, Japan Str...","Jcx Tower, 1136/A, Block-I, Level 5, Japan Str...","Jcx Tower, 1136/A, Block-I, Level 5 Japan Street,"
maintenance-staff-amenity,yes,yes,yes
security-staff-amenity,yes,yes,yes
facilities-for-disabled-amenity,NaN,NaN,yes

In [13]:
toleter_df.shape

(258, 16)

In [14]:
toleter_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 16 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   area                             169 non-null    float64
 1   building_type                    258 non-null    object
 2   building_nature                  0 non-null      float64
 3   num_bath_rooms                   258 non-null    float64
 4   num_bed_rooms                    258 non-null    float64
 5   price                            258 non-null    float64
 6   property_description             251 non-null    object
 7   property_overview                224 non-null    object
 8   property_url                     258 non-null    object
 9   purpose                          258 non-null    object
 10  city                             40 non-null     object
 11  locality                         161 non-null    object
 12  address                          257 non-null    object
 13  maintenance-staff-amenity        170 non-null    object
 14  security-staff-amenity           168 non-null    object
 15  facilities-for-disabled-amenity  45 non-null     object
dtypes: float64(5), object(11)
memory usage: 32.4+ KB

In [15]:
# Creating an id column for the dataframe
toleter_df["id"] = toleter_df.index.values
toleter_df["id"] = toleter_df["id"].apply(lambda x: "toleter-"+str(x) )
toleter_df["id"]

0        toleter-0
1        toleter-1
2        toleter-2
3        toleter-3
4        toleter-4
          ...
253    toleter-253
254    toleter-254
255    toleter-255
256    toleter-256
257    toleter-257
Name: id, Length: 258, dtype: object

In [16]:
# Importing rentalhomebd cleaned csv
rentalhomebd_df = pd.read_csv(f"{rentalhomebd_folder}/cleaned_rentalhomebd.csv")
rentalhomebd_df.head(3).T

,0,1,2
title,A FULLY FURNISHED APARTMENT @Gulshan,A furnished apartment of 3800 SQFT @Gulshan,A furnished apartment of 2300SQFT @Gulshan area
num_bed_rooms,3 bd,3 bd,3 bd
num_bath_rooms,4 ba,3 ba,3 ba
area,2800.0,3800.0,2300.0
building_type,Apartment/Flats,Apartment/Flats,Apartment/Flats
purpose,Rent,Rent,Rent
price,210000.0,190000.0,170000.0
property_description,The furnished apartment is now up for rent tha...,The furnished apartment is now up for rent tha...,A 2300 SQFT nicely viewed apartment at Gulshan...
property_url,http://www.rentalhomebd.com/properties/a-fully...,http://www.rentalhomebd.com/properties/a-furni...,http://www.rentalhomebd.com/properties/a-furni...
wifi-amenity,No,No,No
landscape-garden-amenity,No,No,No
wasa-amenity,Yes,Yes,Yes
internet-amenity,No,No,No
emergency-exit-amenity,No,No,No
electricity-amenity,Yes,Yes,Yes
child-allowed-amenity,Yes,Yes,Yes
gymnasium-amenity,No,No,No
community-center-amenity,No,No,No
elevators-in-building-amenity,Yes,Yes,Yes
guard-room-amenity,No,No,No
intercom-amenity,Yes,Yes,Yes
fire-alarm-amenity,No,No,No
cctv-security-amenity,Yes,Yes,Yes
pet-allowed-amenity,No,No,No
swimming-pool-amenity,No,No,No
safety-grill-amenity,Yes,Yes,Yes
govt-gas-amenity,Yes,Yes,Yes
visitor-car-parking-amenity,No,No,No
hot-water-amenity,No,Yes,No
security-guard-amenity,Yes,Yes,Yes
rooftop-garden-amenity,No,No,No
driver-room-amenity,No,No,No
building_nature,Residential,Residential,Residential
city,Dhaka,Dhaka,Dhaka
locality,Gulshan,Gulshan,Gulshan
address,Gulshan-1,Gulshan-1,Gulshan-1
servant-room-amenity,NaN,NaN,NaN
floor number-amenity,11.0,4.0,4.0
available-for-amenity,family,family,family
furnished-status-amenity,furnished,furnished,furnished
advance-deposit-amenity,420000.0,280000.0,340000.0
drawing-room-amenity,yes,yes,yes
floor-type-amenity,NaN,NaN,NaN
dining-room-amenity,yes,yes,yes
kitchen-amenity,1.0,1.0,1.0
negotiable-amenity,yes,yes,yes
parking-spaces-amenity,available,available,available
service-charge-amenity,12000.0,NaN,10000.0
staff-toilet-amenity,NaN,NaN,NaN
balcony-or-terrace-amenity,NaN,NaN,NaN
property-condition-amenity,new,new,new
living-room-amenity,yes,yes,yes

In [17]:
rentalhomebd_df.shape

(441, 52)

In [18]:
rentalhomebd_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 441 entries, 0 to 440
Data columns (total 52 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   title                          441 non-null    object
 1   num_bed_rooms                  441 non-null    object
 2   num_bath_rooms                 441 non-null    object
 3   area                           441 non-null    float64
 4   building_type                  441 non-null    object
 5   purpose                        441 non-null    object
 6   price                          441 non-null    float64
 7   property_description           441 non-null    object
 8   property_url                   441 non-null    object
 9   wifi-amenity                   441 non-null    object
 10  landscape-garden-amenity       441 non-null    object
 11  wasa-amenity                   441 non-null    object
 12  internet-amenity               441 non-null    object
 13  emergency-exit-amenity         441 non-null    object
 14  electricity-amenity            441 non-null    object
 15  child-allowed-amenity          441 non-null    object
 16  gymnasium-amenity              441 non-null    object
 17  community-center-amenity       441 non-null    object
 18  elevators-in-building-amenity  441 non-null    object
 19  guard-room-amenity             441 non-null    object
 20  intercom-amenity               441 non-null    object
 21  fire-alarm-amenity             441 non-null    object
 22  cctv-security-amenity          441 non-null    object
 23  pet-allowed-amenity            441 non-null    object
 24  swimming-pool-amenity          441 non-null    object
 25  safety-grill-amenity           441 non-null    object
 26  govt-gas-amenity               441 non-null    object
 27  visitor-car-parking-amenity    441 non-null    object
 28  hot-water-amenity              441 non-null    object
 29  security-guard-amenity         441 non-null    object
 30  rooftop-garden-amenity         441 non-null    object
 31  driver-room-amenity            441 non-null    object
 32  building_nature                441 non-null    object
 33  city                           441 non-null    object
 34  locality                       355 non-null    object
 35  address                        259 non-null    object
 36  servant-room-amenity           284 non-null    object
 37  floor number-amenity           437 non-null    float64
 38  available-for-amenity          439 non-null    object
 39  furnished-status-amenity       441 non-null    object
 40  advance-deposit-amenity        425 non-null    float64
 41  drawing-room-amenity           383 non-null    object
 42  floor-type-amenity             56 non-null     object
 43  dining-room-amenity            384 non-null    object
 44  kitchen-amenity                385 non-null    float64
 45  negotiable-amenity             127 non-null    object
 46  parking-spaces-amenity         392 non-null    object
 47  service-charge-amenity         338 non-null    float64
 48  staff-toilet-amenity           320 non-null    object
 49  balcony-or-terrace-amenity     97 non-null     object
 50  property-condition-amenity     441 non-null    object
 51  living-room-amenity            200 non-null    object
dtypes: float64(6), object(46)
memory usage: 179.3+ KB

In [19]:
rentalhomebd_df["num_bath_rooms"].unique()

array([' 4 ba', ' 3 ba', ' 5 ba', ' 0 ba', ' 2 ba', ' 7 ba', ' 6 ba',
       ' 9 ba', ' 1 ba'], dtype=object)

In [20]:
rentalhomebd_df["num_bed_rooms"].unique()

array([' 3 bd', ' 5 bd', ' 4 bd', ' 0 bd', ' 2 bd', ' 1 bd', ' 8 bd'],
      dtype=object)

`num_bath_rooms` and `num_bath_rooms` are string. They should be converted to int.

In [21]:
# Removing the units (ba, bd, ...) in num_bed_rooms and num_bath_rooms
rentalhomebd_df["num_bed_rooms"] = rentalhomebd_df["num_bed_rooms"].apply(lambda x: x.split(" ")[1] )
rentalhomebd_df["num_bath_rooms"] = rentalhomebd_df["num_bath_rooms"].apply(lambda x: x.split(" ")[1] )

# Converting num_bed_rooms and num_bath_rooms to integer
rentalhomebd_df["num_bed_rooms"] = rentalhomebd_df["num_bed_rooms"].astype(int)
rentalhomebd_df["num_bath_rooms"] = rentalhomebd_df["num_bath_rooms"].astype(int)

# Checking type conversion was succesful
rentalhomebd_df["num_bed_rooms"].dtype, rentalhomebd_df["num_bath_rooms"].dtype

(dtype('int32'), dtype('int32'))

In [22]:
# Creating an id column for the dataframe
rentalhomebd_df["id"] = rentalhomebd_df.index.values
rentalhomebd_df["id"] = rentalhomebd_df["id"].apply(lambda x: "rentalhomebd-"+str(x) )
rentalhomebd_df["id"]

0        rentalhomebd-0
1        rentalhomebd-1
2        rentalhomebd-2
3        rentalhomebd-3
4        rentalhomebd-4
             ...
436    rentalhomebd-436
437    rentalhomebd-437
438    rentalhomebd-438
439    rentalhomebd-439
440    rentalhomebd-440
Name: id, Length: 441, dtype: object

In [23]:
# Importing pbazaar cleaned csv
pbazaar_df = pd.read_csv(f"{pbazaar_folder}/pbazaar-cleaned_WithSomeExtraInfo-Umesh.csv")
pbazaar_df.head(3).T

,0,1,2
area,200.0,10.0,150.0
building_type,Shop,Shop,Shop
building_nature,Commercial,Commercial,Commercial
num_bath_rooms,0.0,0.0,0.0
num_bed_rooms,0.0,0.0,0.0
price,8000.0,833.3,13999.5
property_description,NaN,NaN,NaN
property_overview,NaN,NaN,NaN
property_url,https://pbazaar.com//en/200-sft-commercial-spa...,https://pbazaar.com//en/120-sft-shop-rent-at-m...,https://pbazaar.com//en/150-sft-shop-rent-at-m...
purpose,Rent,Rent,Rent
city,Dhaka,Dhaka,Dhaka
locality,Mirpur,Mirpur,Mirpur
address,Bangladesh,Bangladesh,Bangladesh
parking-spaces-amenity,NaN,NaN,NaN
price_info_extraInfo,Per Sft,Per Sft,Per Sft
dining_extraInfo,NaN,NaN,NaN
floor_extraInfo,NaN,NaN,NaN
floor_type_extraInfo,NaN,NaN,NaN
living_extraInfo,NaN,NaN,NaN
road_width_ft_extraInfo,NaN,NaN,NaN
total_floor_extraInfo,NaN,NaN,NaN
view_extraInfo,NaN,NaN,NaN

In [24]:
# Creating an id column for the dataframe
pbazaar_df["id"] = pbazaar_df.index.values
pbazaar_df["id"] = pbazaar_df["id"].apply(lambda x: "pbazaar-"+str(x) )
pbazaar_df["id"]

0            pbazaar-0
1            pbazaar-1
2            pbazaar-2
3            pbazaar-3
4            pbazaar-4
             ...
17088    pbazaar-17088
17089    pbazaar-17089
17090    pbazaar-17090
17091    pbazaar-17091
17092    pbazaar-17092
Name: id, Length: 17093, dtype: object

In [25]:
# Importing flatforsale cleaned csv
flatforsale_df = pd.read_csv(f"{flatforsale_folder}/cleaned_flatforsaleindhaka_spider.csv")
flatforsale_df.head(3).T

                                         0             1              2
city                                 Dhaka         Dhaka          Dhaka
locality                         Motijheel           NaN      Baridhara
address                          Old Town    Green Road    Kalachadpur
area                                 100.0        1150.0          850.0
building_type           Commerical - Other     Apartment      Apartment
building_nature                 Commercial   Residential    Residential
num_bath_rooms                         0.0           3.0            2.0
num_bed_rooms                          0.0           3.0            2.0
price                            2000000.0     6900000.0      3357500.0
purpose                               Sale          Sale           Sale
parking-spaces-amenity                 0.0           1.0            1.0
property_description                   NaN           NaN            NaN
property_overview                      NaN           NaN            NaN

In [26]:
flatforsale_df.shape

(25, 13)

In [27]:
flatforsale_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   city                    25 non-null     object
 1   locality                24 non-null     object
 2   address                 12 non-null     object
 3   area                    25 non-null     float64
 4   building_type           25 non-null     object
 5   building_nature         25 non-null     object
 6   num_bath_rooms          25 non-null     float64
 7   num_bed_rooms           25 non-null     float64
 8   price                   25 non-null     float64
 9   purpose                 25 non-null     object
 10  parking-spaces-amenity  25 non-null     float64
 11  property_description    0 non-null      float64
 12  property_overview       0 non-null      float64
dtypes: float64(7), object(6)
memory usage: 2.7+ KB

In [28]:
# Creating an id column for the dataframe
flatforsale_df["id"] = flatforsale_df.index.values
flatforsale_df["id"] = flatforsale_df["id"].apply(lambda x: "flatforsale-"+str(x) )
flatforsale_df["id"]

0      flatforsale-0
1      flatforsale-1
2      flatforsale-2
3      flatforsale-3
4      flatforsale-4
5      flatforsale-5
6      flatforsale-6
7      flatforsale-7
8      flatforsale-8
9      flatforsale-9
10    flatforsale-10
11    flatforsale-11
12    flatforsale-12
13    flatforsale-13
14    flatforsale-14
15    flatforsale-15
16    flatforsale-16
17    flatforsale-17
18    flatforsale-18
19    flatforsale-19
20    flatforsale-20
21    flatforsale-21
22    flatforsale-22
23    flatforsale-23
24    flatforsale-24
Name: id, dtype: object

In [29]:
# Importing iqibd cleaned csv
iqibd_df = pd.read_csv(f"{iqibd_folder}/cleaned_iqibd_Sunitha.csv")
iqibd_df.head(3).T

,0,1,2
air_conditioning-amenity,NaN,NaN,NaN
area,1380.0,1470.0,1500.0
balcony-or-terrace-amenity,NaN,NaN,NaN
building_type,Apartment,Apartment,Apartment
cctv-security-amenity,yes,NaN,yes
central-heating-amenity,NaN,NaN,NaN
elevators-in-building-amenity,yes,yes,yes
emergency_stairs-amenity,yes,yes,yes
fitness_center-amenity,NaN,NaN,NaN
floor,5th,9th,4th
garage,1.0,1.0,1.0
lawn-or-garden-amenity,NaN,NaN,NaN
generator-amenity,yes,yes,yes
government_gas-amenity,NaN,NaN,yes
interior,Un-Furnished,Un-Furnished,Un-Furnished
land_size,3.5 Katha,5 Katha,3 Katha
num_balcony,4.0,3.0,4.0
num_bath_rooms,3,3,4
num_bed_rooms,3,3,3
parking-spaces-amenity,yes,yes,yes
pets_allow-amenity,NaN,NaN,NaN
price,9800000.0,9500000.0,10500000.0
property_url,https://iqibd.com/properties/306,https://iqibd.com/properties/295,https://iqibd.com/properties/298
reception-amenity,yes,yes,yes
security-amenity,yes,yes,yes
servant_room-amenity,NaN,NaN,NaN
purpose,Sale,Sale,Sale
swimming-pool-amenity,NaN,NaN,NaN
tv_cable-amenity,yes,yes,yes
unit,Single Unit,9A & 9B,4A
wifi-amenity,yes,NaN,yes
year_built,2019.0,2023.0,2023.0
building_nature,Residential,Residential,Residential
city,NaN,NaN,NaN
address,Aftabnagar,Mirpur,Mohammadpur
property_description,NaN,NaN,NaN
property_overview,NaN,NaN,NaN

In [30]:
iqibd_df.shape

(261, 37)

In [31]:
iqibd_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261 entries, 0 to 260
Data columns (total 37 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   air_conditioning-amenity       48 non-null     object
 1   area                           261 non-null    float64
 2   balcony-or-terrace-amenity     19 non-null     object
 3   building_type                  261 non-null    object
 4   cctv-security-amenity          214 non-null    object
 5   central-heating-amenity        5 non-null      object
 6   elevators-in-building-amenity  253 non-null    object
 7   emergency_stairs-amenity       183 non-null    object
 8   fitness_center-amenity         20 non-null     object
 9   floor                          260 non-null    object
 10  garage                         199 non-null    float64
 11  lawn-or-garden-amenity         8 non-null      object
 12  generator-amenity              257 non-null    object
 13  government_gas-amenity         18 non-null     object
 14  interior                       261 non-null    object
 15  land_size                      192 non-null    object
 16  num_balcony                    242 non-null    float64
 17  num_bath_rooms                 261 non-null    int64
 18  num_bed_rooms                  261 non-null    int64
 19  parking-spaces-amenity         205 non-null    object
 20  pets_allow-amenity             2 non-null      object
 21  price                          261 non-null    float64
 22  property_url                   261 non-null    object
 23  reception-amenity              224 non-null    object
 24  security-amenity               253 non-null    object
 25  servant_room-amenity           32 non-null     object
 26  purpose                        261 non-null    object
 27  swimming-pool-amenity          16 non-null     object
 28  tv_cable-amenity               205 non-null    object
 29  unit                           241 non-null    object
 30  wifi-amenity                   240 non-null    object
 31  year_built                     256 non-null    float64
 32  building_nature                261 non-null    object
 33  city                           28 non-null     object
 34  address                        261 non-null    object
 35  property_description           0 non-null      float64
 36  property_overview              0 non-null      float64
dtypes: float64(7), int64(2), object(28)
memory usage: 75.6+ KB

In [32]:
# Creating an id column for the dataframe
iqibd_df["id"] = iqibd_df.index.values
iqibd_df["id"] = iqibd_df["id"].apply(lambda x: "iqibd-"+str(x) )
iqibd_df["id"]

0        iqibd-0
1        iqibd-1
2        iqibd-2
3        iqibd-3
4        iqibd-4
         ...
256    iqibd-256
257    iqibd-257
258    iqibd-258
259    iqibd-259
260    iqibd-260
Name: id, Length: 261, dtype: object

In [33]:
# Importing btibrokeragebd cleaned csv
btib_df = pd.read_csv(f"{btibrokeragebd_folder}/cleaned_btibrokeragebd.csv")
btib_df.head(3).T

,0,1,2
area,1517.0,935.0,1636.0
building_type,NaN,NaN,NaN
building_nature,Residential,Residential,Residential
image_url,NaN,NaN,NaN
num_bath_rooms,3.0,2.0,4.0
num_bed_rooms,3.0,2.0,3.0
price,12000000.0,5700000.0,14000000.0
property_description,Are you searching for a beautiful home to buy ...,Are you searching for a beautiful home to buy ...,Are you searching for a beautiful home to buy ...
property_overview,NaN,NaN,NaN
property_url,https://btibrokeragebd.com/property/1517-sft-a...,https://btibrokeragebd.com/property/935-sft-ap...,https://btibrokeragebd.com/property/1636-sft-a...
purpose,Sale,Sale,Sale
city,Dhaka,Dhaka,Dhaka
locality,Uttara,Uttarkhan,Uttara
address,NaN,NaN,NaN
Intercom-amenity,True,False,True
Air-Condition Provision-amenity,True,True,True
Fire Extinguisher-amenity,True,True,True
Reception Desk & Lobby-amenity,True,False,True
Prayer Room-amenity,False,False,False
Cable TV Provision-amenity,True,True,True
Lift-amenity,True,True,True
Generator-amenity,True,True,True
Tiled Floor-amenity,True,True,True
Emergency Exit-amenity,False,True,True
Built-in Kitchen Cabinet-amenity,False,False,False
Filtered Water-amenity,False,False,False
Dry Kitchen-amenity,False,False,False
Electricity Supply-amenity,True,True,True
Open Terrace-amenity,False,False,False
Gas Supply-amenity,False,True,True
Parking-amenity,True,False,True

In [34]:
# Creating an id column for the dataframe
btib_df["id"] = btib_df.index.values
btib_df["id"] = btib_df["id"].apply(lambda x: "btibrokeragebd-"+str(x) )
btib_df["id"]

0        btibrokeragebd-0
1        btibrokeragebd-1
2        btibrokeragebd-2
3        btibrokeragebd-3
4        btibrokeragebd-4
              ...
176    btibrokeragebd-176
177    btibrokeragebd-177
178    btibrokeragebd-178
179    btibrokeragebd-179
180    btibrokeragebd-180
Name: id, Length: 181, dtype: object

In [35]:
# Importing bdhousing cleaned csv
bdhousing_df = pd.read_csv(f"{bdhousing_folder}/cleaned_bdhousing.csv")
bdhousing_df.head(3).T

,0,1,2
area,3600.0,880.0,1553.0
balconies-amenity,0.0,0.0,2.0
num_bath_rooms,0.0,0.0,3.0
num_bed_rooms,0.0,0.0,3.0
price,468000.0,30000.0,30000.0
building_type,Showroom/Shop/Restaurant,Showroom/Shop/Restaurant,Apartment/Flats
property_url,https://www.bdhousing.com/details/245564/3600-...,https://www.bdhousing.com/details/242728/880-s...,https://www.bdhousing.com/details/245539/1553-...
purpose,Rent,Rent,Rent
building_nature,Commercial,Commercial,Residential
city,Dhaka,Dhaka,Dhaka
locality,Banasree,Uttara,NaN
address,NaN,NaN,Mirpur 13
wi-fi-connectivity-amenity,No,No,Yes
police-box-amenity,No,No,No
cctv-amenity,No,Yes,Yes
pool-amenity,No,No,Yes
telephone-line-amenity,No,No,Yes
gymnasium-amenity,No,No,Yes
post-office-amenity,No,No,No
security-alarm-system-amenity,No,No,Yes
garden-amenity,No,No,Yes
cylinder-gas-amenity,No,Yes,Yes
hospital-amenity,No,No,No
banks-amenity,No,No,No
gas-amenity,No,Yes,Yes
school-amenity,No,No,No
mosque/prayer-room-amenity,No,No,Yes
servent-room-amenity,No,No,No
fire-protection-amenity,No,Yes,Yes
solar-panels-amenity,No,No,Yes
universities-amenity,No,No,No
generator-amenity,No,Yes,Yes
inter-com-amenity,No,Yes,Yes
wasa-connection-amenity,No,No,Yes
electricity-amenity,No,No,Yes
satellite-or-cable-tv-amenity,No,No,Yes
bazaar-amenity,No,No,No
water-supply-amenity,No,No,No
play-ground-amenity,No,No,No
eid-congregation-place-amenity,No,No,No
fire-services-amenity,No,No,No
guest-parking-amenity,No,No,Yes
security-amenity,No,Yes,Yes
null-amenity,Yes,No,No
servent-toilet-amenity,No,No,No
electronic-security-amenity,No,Yes,Yes
gas-connection-amenity,No,No,Yes
college-amenity,No,No,No
graveyard-amenity,No,No,No
lakes-amenity,No,No,No
mosque-amenity,No,No,Yes
self-water-supply-amenity,No,Yes,Yes
civil-defense-amenity,No,No,No
lift-amenity,No,Yes,Yes
hot-water-and-heating-amenity,No,No,Yes
fire-exit-amenity,No,Yes,Yes
parks-amenity,No,No,No

In [36]:
# Creating an id column for the dataframe
bdhousing_df["id"] = bdhousing_df.index.values
bdhousing_df["id"] = bdhousing_df["id"].apply(lambda x: "bdhousing-"+str(x) )
bdhousing_df["id"]

0        bdhousing-0
1        bdhousing-1
2        bdhousing-2
3        bdhousing-3
4        bdhousing-4
           ...
484    bdhousing-484
485    bdhousing-485
486    bdhousing-486
487    bdhousing-487
488    bdhousing-488
Name: id, Length: 489, dtype: object

In [37]:
# Importing estatemartbd cleaned csv
estatemartbd_df = pd.read_csv(f"{estatemartbd_folder}/cleaned_estatemartbd.csv")
estatemartbd_df.head(3).T

,0,1,2
num_bath_rooms,0.0,3.0,3.0
num_bed_rooms,0.0,3.0,3.0
area,3600.0,1250.0,1518.0
property_description,The Valley is a small gated community land pro...,: / ( )\n: \n: ...,When it comes to securing a permanent address ...
purpose,Sale,Sale,Sale
price,4200000.0,1660000.0,16698000.0
property_url,https://www.estatemartbd.com/property/234/en/t...,https://www.estatemartbd.com/property/231/en/1...,https://www.estatemartbd.com/property/233/en/1...
city,Dhaka,NaN,Dhaka
locality,NaN,NaN,NaN
address,NaN,Banasree Dhaka,NaN
pool-amenity,No,No,Yes
grill-amenity,No,No,Yes
computer-amenity,No,No,No
air-conditioning-amenity,No,No,No
cable-tv-amenity,No,No,No
dishwasher-amenity,No,No,No
lift-amenity,No,No,Yes
heating-amenity,No,No,No
microwave-amenity,No,No,No
balcony-amenity,No,No,Yes
internet-amenity,No,No,No
null-amenity,Yes,Yes,No
parking-amenity,No,No,Yes
building_nature,Residential,Residential,Residential

In [38]:
# Creating an id column for the dataframe
estatemartbd_df["id"] = estatemartbd_df.index.values
estatemartbd_df["id"] = estatemartbd_df["id"].apply(lambda x: "estatemartbd-"+str(x) )
estatemartbd_df["id"]

0        estatemartbd-0
1        estatemartbd-1
2        estatemartbd-2
3        estatemartbd-3
4        estatemartbd-4
             ...
112    estatemartbd-112
113    estatemartbd-113
114    estatemartbd-114
115    estatemartbd-115
116    estatemartbd-116
Name: id, Length: 117, dtype: object

In [39]:
# Importing thetolet cleaned csv
thetolet_df = pd.read_csv(f"{thetolet_folder}/NaveenKumarM_Cleaned_thetolet.csv")
thetolet_df.head(3).T

,0,1,2
address,"D,5,190,Bashundhara R.A,Dhaka,D,5,190,Bashundh...","Shakartek,02,26,Adabor,Dhaka,Shakartek,02,26,A...","5,8,5,Uttara,Dhaka,5,8,5,Uttara,Dhaka,Johora M..."
property_overview,Not furnished,A Roma will grow a set of pleasant habitats,NaN
price,2200000,300000,1100000
property_url,https://www.thetolet.com/en/dhaka/bashundhara-...,https://www.thetolet.com/en/dhaka/adabor/31038...,https://www.thetolet.com/en/dhaka/uttara/31037...
purpose,Rent,Rent,Rent
property_description,Family House Tolet From April,Bachelor House Tolet From April,Bachelor House Tolet From May
num_bath_rooms,3,2,1
num_bed_rooms,3,3,1
area,1250,1400,300
cctv-security-amenity,NaN,Yes,Yes
parking-spaces-amenity,NaN,1.0,NaN
elevators-in-building-amenity,NaN,Yes,Yes
broadband-internet-amenity,NaN,Yes,Yes
maintenance-staff-amenity,NaN,NaN,NaN
building_type,Apartment,Apartment,Apartment
building_nature,Residential,Residential,Residential
flooring-amenity,Yes,Yes,Yes
balcony-or-terrace-amenity,Yes,Yes,Yes
city,Dhaka,Dhaka,Dhaka
locality,Bashundhara R.A,Adabor,Uttara
address_1,"D,5,190,D,5,190,House 190 Road 5 Blockd","Shakartek,02,26,Shakartek,02,26,Shekartek","5,8,5,5,8,5,Johora Market"

In [40]:
# Creating an id column for the dataframe
thetolet_df["id"] = thetolet_df.index.values
thetolet_df["id"] = thetolet_df["id"].apply(lambda x: "thetolet-"+str(x) )
thetolet_df["id"]

0          thetolet-0
1          thetolet-1
2          thetolet-2
3          thetolet-3
4          thetolet-4
            ...
2624    thetolet-2624
2625    thetolet-2625
2626    thetolet-2626
2627    thetolet-2627
2628    thetolet-2628
Name: id, Length: 2629, dtype: object

In [41]:
# Importing sharif cleaned csv
sharif_df = pd.read_csv(f"{sharif_folder}/NaveenKumarM_Cleaned_Sharif.csv")
sharif_df.head(3).T

,0,1,2
address,Bangladesh,"Bashundhara,Bangladesh",Gulshan Dhaka
num_bath_rooms,0.0,4.0,0.0
num_bed_rooms,0.0,3.0,3.0
property_overview,It is very attractive commercial office buildi...,furnished apartment for rent in bashundhara,luxury furnished apartment gulshan
price,500000.0,90000.0,130000.0
purpose,Rent,Rent,Rent
property_url,https://sharif.com.bd/dhaka/10361/office-space...,https://sharif.com.bd/dhaka/10354/furnished-ap...,https://sharif.com.bd/dhaka/10360/luxury-full-...
area,9000,2000,2200
property_description,office space for rent in motijheel dhaka,furnished apartment for rent in bashundhara,luxury full furnished apartment gulshan
building_type,Office,Apartment,Apartment
cctv-security-amenity,NaN,Yes,Yes
parking-spaces-amenity,2.0,1.0,1.0
electricity-backup-amenity,Yes,Yes,Yes
balcony-or-terrace-amenity,NaN,Yes,NaN
maintenance-staff-amenity,NaN,Yes,Yes
swimming-pool-amenity,NaN,NaN,NaN
furnished-amenity,No,Yes,Yes
building_nature,Commercial,Residential,Residential
city,Dhaka,Dhaka,Dhaka
locality,Motijheel,NaN,NaN

In [42]:
# Creating an id column for the dataframe
sharif_df["id"] = sharif_df.index.values
sharif_df["id"] = sharif_df["id"].apply(lambda x: "sharif-"+str(x) )
sharif_df["id"]

0        sharif-0
1        sharif-1
2        sharif-2
3        sharif-3
4        sharif-4
          ...
285    sharif-285
286    sharif-286
287    sharif-287
288    sharif-288
289    sharif-289
Name: id, Length: 290, dtype: object

In [43]:
# Importing homefairbd cleaned csv
homefairbd_df = pd.read_csv(f"{homefairbd_folder}/cleaned_homefairbd_spider.csv")
homefairbd_df.head(3).T

,0,1,2
city,Dhaka,Dhaka,Dhaka
locality,NaN,NaN,NaN
address,NaN,NaN,NaN
area,1350.0,1200.0,1200.0
building_type,Apartment,Apartment,Apartment
building_nature,Residential,Residential,Residential
num_bath_rooms,3,3,3
num_bed_rooms,3,3,3
price,7000000.0,7500000.0,9000000.0
purpose,Sale,Sale,sale
balcony-amenity,Yes,NaN,NaN
drawing-amenity,Yes,NaN,NaN
dining-amenity,Yes,NaN,NaN
electricity-amenity,Yes,NaN,NaN
water-amenity,Yes,NaN,NaN
lift-amenity,Yes,Yes,NaN
parking-amenity,NaN,Yes,Yes
generator-amenity,NaN,NaN,Yes
property_description,Apartment For Sale in Mirpur Ahmednagar @ 1350...,Used Apartment Sale in Uttara @ 1200 Sqft,South facing used apartment sale in Mogbazar@1...
property_overview,NaN,NaN,NaN

In [44]:
# Creating an id column for the dataframe
homefairbd_df["id"] = homefairbd_df.index.values
homefairbd_df["id"] = homefairbd_df["id"].apply(lambda x: "homefairbd-"+str(x) )
homefairbd_df["id"]

0          homefairbd-0
1          homefairbd-1
2          homefairbd-2
3          homefairbd-3
4          homefairbd-4
             ...
2370    homefairbd-2370
2371    homefairbd-2371
2372    homefairbd-2372
2373    homefairbd-2373
2374    homefairbd-2374
Name: id, Length: 2375, dtype: object

<span id="merging-cleaned-csvs" ></span>

## Merging cleaned csv files

In [45]:
# First step: the merged dataframe is based on the overall structure of bproperty, which is the master dataset
merged_df = bproperty_df.copy()
merged_df.shape

(17329, 52)

<span id="merging-bdstall" ></span>

### Merging `bdstall_df` to master dataset

In [46]:
bdstall_df.shape

(58, 14)

In [47]:
bdstall_df.head(3).T

,0,1,2
area,1350.0,1250.0,1252.0
building_type,Apartment,Apartment,Apartment
building_nature,NaN,NaN,NaN
num_bath_rooms,3.0,3.0,3.0
num_bed_rooms,3.0,3.0,3.0
price,1500000,2500000,5200000
property_description,Shares of 1350 Sqft land share in Banasree M B...,Shares of 1250 Sqft land will be sold on the o...,A 1252 Sqft flat will be sold in Arshi Nagar a...
property_overview,NaN,NaN,NaN
property_url,https://www.bdstall.com/details/near-hatirjhee...,https://www.bdstall.com/details/banasree-near-...,https://www.bdstall.com/details/near-mohammadp...
purpose,Sale,Sale,Sale
city,NaN,NaN,NaN
locality,NaN,Rampura,NaN
address,Banasree M Block.,Opposite Banasree Police Park,Arshi Nagar
id,bdstall-0,bdstall-1,bdstall-2

**Remark**: Looking at the variables in `bdstall`, we can confirm that it can be merged to the `merged_df` since the two datasets have similar variables.

In [48]:
merged_df.shape

(17329, 52)

In [49]:
bdstall_df.shape

(58, 14)

In [50]:
merged_df.shape[0] + bdstall_df.shape[0]

17387

In [51]:
merged_df = pd.concat([merged_df, bdstall_df],ignore_index=True)
merged_df.shape

(17387, 52)

<span id="merging-toleter" ></span>

### Merging `toleter_df` to master dataset

In [52]:
toleter_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 17 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   area                             169 non-null    float64
 1   building_type                    258 non-null    object
 2   building_nature                  0 non-null      float64
 3   num_bath_rooms                   258 non-null    float64
 4   num_bed_rooms                    258 non-null    float64
 5   price                            258 non-null    float64
 6   property_description             251 non-null    object
 7   property_overview                224 non-null    object
 8   property_url                     258 non-null    object
 9   purpose                          258 non-null    object
 10  city                             40 non-null     object
 11  locality                         161 non-null    object
 12  address                          257 non-null    object
 13  maintenance-staff-amenity        170 non-null    object
 14  security-staff-amenity           168 non-null    object
 15  facilities-for-disabled-amenity  45 non-null     object
 16  id                               258 non-null    object
dtypes: float64(5), object(12)
memory usage: 34.4+ KB

**Remark**: The variables here are pretty similar to those of the master dataset. The merge should be able to proceed successfully.

In [53]:
toleter_df.shape

(258, 17)

In [54]:
merged_df.shape[0] + toleter_df.shape[0]

17645

In [55]:
merged_df = pd.concat([merged_df, toleter_df],ignore_index=True)
merged_df.shape

(17645, 53)

<span id="merging-rentalhomebd" ></span>

### Merging `rentalhomebd_df` to master dataset

In [56]:
rentalhomebd_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 441 entries, 0 to 440
Data columns (total 53 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   title                          441 non-null    object
 1   num_bed_rooms                  441 non-null    int32
 2   num_bath_rooms                 441 non-null    int32
 3   area                           441 non-null    float64
 4   building_type                  441 non-null    object
 5   purpose                        441 non-null    object
 6   price                          441 non-null    float64
 7   property_description           441 non-null    object
 8   property_url                   441 non-null    object
 9   wifi-amenity                   441 non-null    object
 10  landscape-garden-amenity       441 non-null    object
 11  wasa-amenity                   441 non-null    object
 12  internet-amenity               441 non-null    object
 13  emergency-exit-amenity         441 non-null    object
 14  electricity-amenity            441 non-null    object
 15  child-allowed-amenity          441 non-null    object
 16  gymnasium-amenity              441 non-null    object
 17  community-center-amenity       441 non-null    object
 18  elevators-in-building-amenity  441 non-null    object
 19  guard-room-amenity             441 non-null    object
 20  intercom-amenity               441 non-null    object
 21  fire-alarm-amenity             441 non-null    object
 22  cctv-security-amenity          441 non-null    object
 23  pet-allowed-amenity            441 non-null    object
 24  swimming-pool-amenity          441 non-null    object
 25  safety-grill-amenity           441 non-null    object
 26  govt-gas-amenity               441 non-null    object
 27  visitor-car-parking-amenity    441 non-null    object
 28  hot-water-amenity              441 non-null    object
 29  security-guard-amenity         441 non-null    object
 30  rooftop-garden-amenity         441 non-null    object
 31  driver-room-amenity            441 non-null    object
 32  building_nature                441 non-null    object
 33  city                           441 non-null    object
 34  locality                       355 non-null    object
 35  address                        259 non-null    object
 36  servant-room-amenity           284 non-null    object
 37  floor number-amenity           437 non-null    float64
 38  available-for-amenity          439 non-null    object
 39  furnished-status-amenity       441 non-null    object
 40  advance-deposit-amenity        425 non-null    float64
 41  drawing-room-amenity           383 non-null    object
 42  floor-type-amenity             56 non-null     object
 43  dining-room-amenity            384 non-null    object
 44  kitchen-amenity                385 non-null    float64
 45  negotiable-amenity             127 non-null    object
 46  parking-spaces-amenity         392 non-null    object
 47  service-charge-amenity         338 non-null    float64
 48  staff-toilet-amenity           320 non-null    object
 49  balcony-or-terrace-amenity     97 non-null     object
 50  property-condition-amenity     441 non-null    object
 51  living-room-amenity            200 non-null    object
 52  id                             441 non-null    object
dtypes: float64(6), int32(2), object(45)
memory usage: 179.3+ KB

In [57]:
rentalhomebd_df.shape

(441, 53)

In [58]:
merged_df.shape[0] + rentalhomebd_df.shape[0]

18086

In [59]:
merged_df = pd.concat([merged_df, rentalhomebd_df],ignore_index=True)
merged_df.shape

(18086, 87)

<span id="merging-pbazaar" ></span>

### Merging `pbazaar_df` to master dataset

In [60]:
pbazaar_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17093 entries, 0 to 17092
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   area                     14910 non-null  float64
 1   building_type            17093 non-null  object
 2   building_nature          17093 non-null  object
 3   num_bath_rooms           17093 non-null  float64
 4   num_bed_rooms            17093 non-null  float64
 5   price                    16025 non-null  float64
 6   property_description     0 non-null      float64
 7   property_overview        0 non-null      float64
 8   property_url             17093 non-null  object
 9   purpose                  17081 non-null  object
 10  city                     17046 non-null  object
 11  locality                 17038 non-null  object
 12  address                  17046 non-null  object
 13  parking-spaces-amenity   8084 non-null   float64
 14  price_info_extraInfo     16177 non-null  object
 15  dining_extraInfo         13263 non-null  object
 16  floor_extraInfo          437 non-null    float64
 17  floor_type_extraInfo     13916 non-null  object
 18  living_extraInfo         13038 non-null  object
 19  road_width_ft_extraInfo  645 non-null    float64
 20  total_floor_extraInfo    1354 non-null   float64
 21  view_extraInfo           1566 non-null   object
 22  id                       17093 non-null  object
dtypes: float64(10), object(13)
memory usage: 3.0+ MB

In [61]:
pbazaar_df.shape

(17093, 23)

In [62]:
merged_df.shape[0] + pbazaar_df.shape[0]

35179

In [63]:
merged_df = pd.concat([merged_df, pbazaar_df],ignore_index=True)
merged_df.shape

(35179, 95)

<span id="merging-flatforsale" ></span>

### Merging `flatforsale_df` to master dataset

In [64]:
flatforsale_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   city                    25 non-null     object
 1   locality                24 non-null     object
 2   address                 12 non-null     object
 3   area                    25 non-null     float64
 4   building_type           25 non-null     object
 5   building_nature         25 non-null     object
 6   num_bath_rooms          25 non-null     float64
 7   num_bed_rooms           25 non-null     float64
 8   price                   25 non-null     float64
 9   purpose                 25 non-null     object
 10  parking-spaces-amenity  25 non-null     float64
 11  property_description    0 non-null      float64
 12  property_overview       0 non-null      float64
 13  id                      25 non-null     object
dtypes: float64(7), object(7)
memory usage: 2.9+ KB

In [65]:
flatforsale_df.shape

(25, 14)

In [66]:
merged_df.shape[0] + flatforsale_df.shape[0]

35204

In [67]:
merged_df = pd.concat([merged_df, flatforsale_df],ignore_index=True)
merged_df.shape

(35204, 95)

<span id="merging-iqibd" ></span>

### Merging `iqibd_df` to master dataset

In [68]:
iqibd_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261 entries, 0 to 260
Data columns (total 38 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   air_conditioning-amenity       48 non-null     object
 1   area                           261 non-null    float64
 2   balcony-or-terrace-amenity     19 non-null     object
 3   building_type                  261 non-null    object
 4   cctv-security-amenity          214 non-null    object
 5   central-heating-amenity        5 non-null      object
 6   elevators-in-building-amenity  253 non-null    object
 7   emergency_stairs-amenity       183 non-null    object
 8   fitness_center-amenity         20 non-null     object
 9   floor                          260 non-null    object
 10  garage                         199 non-null    float64
 11  lawn-or-garden-amenity         8 non-null      object
 12  generator-amenity              257 non-null    object
 13  government_gas-amenity         18 non-null     object
 14  interior                       261 non-null    object
 15  land_size                      192 non-null    object
 16  num_balcony                    242 non-null    float64
 17  num_bath_rooms                 261 non-null    int64
 18  num_bed_rooms                  261 non-null    int64
 19  parking-spaces-amenity         205 non-null    object
 20  pets_allow-amenity             2 non-null      object
 21  price                          261 non-null    float64
 22  property_url                   261 non-null    object
 23  reception-amenity              224 non-null    object
 24  security-amenity               253 non-null    object
 25  servant_room-amenity           32 non-null     object
 26  purpose                        261 non-null    object
 27  swimming-pool-amenity          16 non-null     object
 28  tv_cable-amenity               205 non-null    object
 29  unit                           241 non-null    object
 30  wifi-amenity                   240 non-null    object
 31  year_built                     256 non-null    float64
 32  building_nature                261 non-null    object
 33  city                           28 non-null     object
 34  address                        261 non-null    object
 35  property_description           0 non-null      float64
 36  property_overview              0 non-null      float64
 37  id                             261 non-null    object
dtypes: float64(7), int64(2), object(29)
memory usage: 77.6+ KB

In [69]:
iqibd_df["floor"].unique()

array(['5th', '9th', '4th', '6th', '8th', '3rd', '1st', '2nd',
       '8th & 9th', '7th', '6th & 7th', '1st,2nd,3rd,4th,5th,6th,7th,8th',
       '2nd & 5th', '4th,6th,8th & 10th', '3rd,7th & 9th', '1st & 9th',
       '5th & 6th', '1st,3rd,5th & 6th', '2nd,4th,6th,8th & 9th',
       '2nd & 6th', '5tt & 8th', '1st & 8th', '2nd,6th,7th',
       '2nd,4th,6th.8th', '3rd & 4th', '1st,7th', '1sr & 3rd', '3rd,5th',
       '3', '5th,6th,7th,9th', '1st,8th', '3rd,5th,7th', '1st,6th',
       '4th,5th,6th', '3rd,4th', '3rd,5th,6th', '1st & 7th', '12th',
       '2nd,4th,6th', '2nd,3rd,7th,8th', '5th,7th', '9', '8', '7',
       '1st, 5th, 7th', '2nd, 3rd, 5th', '3rd, 7th', '1st-6th',
       '2nd, 4th', '1st,2nd,3rd', '11th', '2nd & 3rd', nan, '7th,9th',
       '4th,5th', '1st & 6th', '2nd,3rd,6th,8th', '1st, 6th, 8th',
       '2nd,4th,6th,7th', '1st, 8th', '1st & 2nd'], dtype=object)

In [70]:
iqibd_df["unit"].unique()

array(['Single Unit', '9A & 9B', '4A', 'C6', nan, '8A', 'A4,B4', '4C',
       'A3', 'B1', 'G9', 'B6', '4B', '9A', '6c', '6A', '2C', '2B',
       'Single', 'c5', '5C', 'A6', 'D-2 & E-5',
       'A-4,B-4,A-10,B-10,C-8,C-6', '7B', 'J1', 'C7', 'E6',
       '3A,3B,7A,7B,9A,9B', 'A1', '5B', 'A-9', '9B', '5A', 'B-1', '8B',
       'A5 & C8', 'A1, A8, B8', 'E1', 'A8', 'D1', 'A7', '3B & 4B', '3B',
       '2A & 2B', 'B2', 'F8', 'C3,C5', 'A-3', 'B-5,B-6,B-7,B-8,B-9',
       'D1,D8', 'D3,D5,D7', '4A,5A,6A', '4B,5B,6B', '3B,5B,6B', 'A1,A7',
       '02', '3B,5A,5B,7A,7B', 'A4', 'A5', 'B12', 'B-12', '2B,4B,6B',
       '2B,3B,7B,8B', '2A,3A,7A,8A', '2A,4A,6A', '5A,5B,7A', 'B5', 'C1',
       'A9', '2E', '3D', 'A5 & C5', '9C', '7D', '3A', '7A', '7A & 7C',
       '7B & 7D', 'A1, A5, A7', '2B, 3A, 3B, 5A', '3C', '10A',
       '3A, 3B, 7A,7B', '6B', '2A', '2B,4A,4B', '7C', '11A', '6C',
       'A9,B7', 'C8', '12J', '2A & 6B',
       '2(A,B,C)3(A,B,C)6(A,B,C)8(A,B,C)', 'D9', 'A2', 'C1, C6, C8',
       '2B,4A,4B,6B,7A,7B', 'B1, B6, B8', 'A1, A8', '1st & 2nd', '1B',
       '7A & 7B', '5A & 5B', 'D4', 'C4', 'C5'], dtype=object)

In [71]:
merged_df["floor-level-amenity"].unique()

array(['yes', nan], dtype=object)

In [72]:
iqibd_df["balcony-or-terrace-amenity"].unique()

array([nan, 'yes'], dtype=object)

In [73]:
iqibd_df["num_balcony"].unique()

array([ 4.,  3.,  2., nan,  7.,  5.,  1.])

In [74]:
bproperty_df["balcony-or-terrace-amenity"].unique()

array(['yes', nan], dtype=object)

In [75]:
# iqibd_df.drop(["balcony-or-terrace-amenity"],inplace=True, axis=1)

In [76]:
# # Renaming some column
# iqibd_df.rename(columns={
#     "num_balcony":"balcony-or-terrace-amenity"
# })

In [77]:
# bproperty_df.columns.to_list()

In [78]:
iqibd_df.shape

(261, 38)

In [79]:
merged_df.shape[0] + iqibd_df.shape[0]

35465

In [80]:
merged_df = pd.concat([merged_df, iqibd_df],ignore_index=True)
merged_df.shape

(35465, 112)

<span id="merging-btib_df" ></span>

### Merging `btib_df` to master dataset

In [81]:
btib_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181 entries, 0 to 180
Data columns (total 32 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   area                              181 non-null    float64
 1   building_type                     0 non-null      float64
 2   building_nature                   181 non-null    object
 3   image_url                         0 non-null      float64
 4   num_bath_rooms                    181 non-null    float64
 5   num_bed_rooms                     181 non-null    float64
 6   price                             181 non-null    float64
 7   property_description              180 non-null    object
 8   property_overview                 0 non-null      float64
 9   property_url                      181 non-null    object
 10  purpose                           181 non-null    object
 11  city                              181 non-null    object
 12  locality                          160 non-null    object
 13  address                           21 non-null     object
 14  Intercom-amenity                  181 non-null    bool
 15  Air-Condition Provision-amenity   181 non-null    bool
 16  Fire Extinguisher-amenity         181 non-null    bool
 17  Reception Desk & Lobby-amenity    181 non-null    bool
 18  Prayer Room-amenity               181 non-null    bool
 19  Cable TV Provision-amenity        181 non-null    bool
 20  Lift-amenity                      181 non-null    bool
 21  Generator-amenity                 181 non-null    bool
 22  Tiled Floor-amenity               181 non-null    bool
 23  Emergency Exit-amenity            181 non-null    bool
 24  Built-in Kitchen Cabinet-amenity  181 non-null    bool
 25  Filtered Water-amenity            181 non-null    bool
 26  Dry Kitchen-amenity               181 non-null    bool
 27  Electricity Supply-amenity        181 non-null    bool
 28  Open Terrace-amenity              181 non-null    bool
 29  Gas Supply-amenity                181 non-null    bool
 30  Parking-amenity                   181 non-null    bool
 31  id                                181 non-null    object
dtypes: bool(17), float64(7), object(8)
memory usage: 24.3+ KB

In [82]:
btib_df.rename(columns={
    "Lift-amenity":"lift-amenity",
    "Generator-amenity":"generator-amenity",
    "Gas Supply-amenity":"gas_supply-amenity",
    "Built-in Kitchen Cabinet-amenity": "built-in-kitchen-and-cabinet-amenity",
    "Reception Desk & Lobby-amenity":"reception-desk-and-lobby-amenity",
    "Tiled Floor-amenity":"tiled-floor-amenity",
    "Dry Kitchen-amenity":"dry-kitchen-amenity",
    "Parking-amenity":"parking-spaces-amenity",
    "Prayer Room-amenity":"prayer-room-amenity",
    "Cable TV Provision-amenity ":"cable-tv-provision-amenity",
    "Intercom-amenity":"intercom-amenity",
    "Filtered Water-amenity":"filtered-water-amenity",
    "Open Terrace-amenity":"balcony-or-terrace-amenity",
    "Electricity Supply-amenity":"electricity-supply-amenity",
    "Air-Condition Provision-amenity":"air-condition-and-provision-amenity",
    "Fire Extinguisher-amenity":"fire-extinguisher-amenity"
},inplace=True)

In [83]:
btib_df.shape

(181, 32)

In [84]:
merged_df.shape[0] + btib_df.shape[0]

35646

In [85]:
merged_df = pd.concat([merged_df, btib_df],ignore_index=True)
merged_df.shape

(35646, 124)

<span id="merging-bdhousing_df" ></span>

### Merging `bdhousing_df` to master dataset

In [86]:
bdhousing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 489 entries, 0 to 488
Data columns (total 58 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   area                            489 non-null    float64
 1   balconies-amenity               489 non-null    float64
 2   num_bath_rooms                  489 non-null    float64
 3   num_bed_rooms                   489 non-null    float64
 4   price                           489 non-null    float64
 5   building_type                   489 non-null    object
 6   property_url                    489 non-null    object
 7   purpose                         489 non-null    object
 8   building_nature                 489 non-null    object
 9   city                            464 non-null    object
 10  locality                        287 non-null    object
 11  address                         207 non-null    object
 12  wi-fi-connectivity-amenity      489 non-null    object
 13  police-box-amenity              489 non-null    object
 14  cctv-amenity                    489 non-null    object
 15  pool-amenity                    489 non-null    object
 16  telephone-line-amenity          489 non-null    object
 17  gymnasium-amenity               489 non-null    object
 18  post-office-amenity             489 non-null    object
 19  security-alarm-system-amenity   489 non-null    object
 20  garden-amenity                  489 non-null    object
 21  cylinder-gas-amenity            489 non-null    object
 22  hospital-amenity                489 non-null    object
 23  banks-amenity                   489 non-null    object
 24  gas-amenity                     489 non-null    object
 25  school-amenity                  489 non-null    object
 26  mosque/prayer-room-amenity      489 non-null    object
 27  servent-room-amenity            489 non-null    object
 28  fire-protection-amenity         489 non-null    object
 29  solar-panels-amenity            489 non-null    object
 30  universities-amenity            489 non-null    object
 31  generator-amenity               489 non-null    object
 32  inter-com-amenity               489 non-null    object
 33  wasa-connection-amenity         489 non-null    object
 34  electricity-amenity             489 non-null    object
 35  satellite-or-cable-tv-amenity   489 non-null    object
 36  bazaar-amenity                  489 non-null    object
 37  water-supply-amenity            489 non-null    object
 38  play-ground-amenity             489 non-null    object
 39  eid-congregation-place-amenity  489 non-null    object
 40  fire-services-amenity           489 non-null    object
 41  guest-parking-amenity           489 non-null    object
 42  security-amenity                489 non-null    object
 43  null-amenity                    489 non-null    object
 44  servent-toilet-amenity          489 non-null    object
 45  electronic-security-amenity     489 non-null    object
 46  gas-connection-amenity          489 non-null    object
 47  college-amenity                 489 non-null    object
 48  graveyard-amenity               489 non-null    object
 49  lakes-amenity                   489 non-null    object
 50  mosque-amenity                  489 non-null    object
 51  self-water-supply-amenity       489 non-null    object
 52  civil-defense-amenity           489 non-null    object
 53  lift-amenity                    489 non-null    object
 54  hot-water-and-heating-amenity   489 non-null    object
 55  fire-exit-amenity               489 non-null    object
 56  parks-amenity                   489 non-null    object
 57  id                              489 non-null    object
dtypes: float64(5), object(53)
memory usage: 221.7+ KB

In [87]:
# btib_df.rename(columns={
#     "Lift-amenity":"lift-amenity",
#     "Generator-amenity":"generator-amenity",
#     "Gas Supply-amenity":"gas_supply-amenity",
#     "Built-in Kitchen Cabinet-amenity": "built-in-kitchen-and-cabinet-amenity",
#     "Reception Desk & Lobby-amenity":"reception-desk-and-lobby-amenity",
#     "Tiled Floor-amenity":"tiled-floor-amenity",
#     "Dry Kitchen-amenity":"dry-kitchen-amenity",
#     "Parking-amenity":"parking-spaces-amenity",
#     "Prayer Room-amenity":"prayer-room-amenity",
#     "Cable TV Provision-amenity ":"cable-tv-provision-amenity",
#     "Intercom-amenity":"intercom-amenity",
#     "Filtered Water-amenity":"filtered-water-amenity",
#     "Open Terrace-amenity":"balcony-or-terrace-amenity",
#     "Electricity Supply-amenity":"electricity-supply-amenity",
#     "Air-Condition Provision-amenity":"air-condition-and-provision-amenity",
#     "Fire Extinguisher-amenity":"fire-extinguisher-amenity"
# },inplace=True)

In [88]:
bdhousing_df.shape

(489, 58)

In [89]:
merged_df.shape[0] + bdhousing_df.shape[0]

36135

In [90]:
merged_df = pd.concat([merged_df, bdhousing_df],ignore_index=True)
merged_df.shape

(36135, 165)

<span id="merging-estatemartbd_df" ></span>

### Merging `estatemartbd_df` to master dataset

In [91]:
estatemartbd_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117 entries, 0 to 116
Data columns (total 25 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   num_bath_rooms            117 non-null    float64
 1   num_bed_rooms             117 non-null    float64
 2   area                      117 non-null    float64
 3   property_description      112 non-null    object
 4   purpose                   117 non-null    object
 5   price                     117 non-null    float64
 6   property_url              117 non-null    object
 7   city                      110 non-null    object
 8   locality                  10 non-null     object
 9   address                   6 non-null      object
 10  pool-amenity              117 non-null    object
 11  grill-amenity             117 non-null    object
 12  computer-amenity          117 non-null    object
 13  air-conditioning-amenity  117 non-null    object
 14  cable-tv-amenity          117 non-null    object
 15  dishwasher-amenity        117 non-null    object
 16  lift-amenity              117 non-null    object
 17  heating-amenity           117 non-null    object
 18  microwave-amenity         117 non-null    object
 19  balcony-amenity           117 non-null    object
 20  internet-amenity          117 non-null    object
 21  null-amenity              117 non-null    object
 22  parking-amenity           117 non-null    object
 23  building_nature           117 non-null    object
 24  id                        117 non-null    object
dtypes: float64(4), object(21)
memory usage: 23.0+ KB

In [92]:
estatemartbd_df.shape

(117, 25)

In [93]:
merged_df.shape[0] + estatemartbd_df.shape[0]

36252

In [94]:
merged_df = pd.concat([merged_df, estatemartbd_df],ignore_index=True)
merged_df.shape

(36252, 174)

<span id="merging-thetolet_df" ></span>

### Merging `thetolet_df` to master dataset

In [95]:
thetolet_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2629 entries, 0 to 2628
Data columns (total 22 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   address                        2629 non-null   object
 1   property_overview              2351 non-null   object
 2   price                          2629 non-null   int64
 3   property_url                   2629 non-null   object
 4   purpose                        2629 non-null   object
 5   property_description           2629 non-null   object
 6   num_bath_rooms                 2629 non-null   int64
 7   num_bed_rooms                  2629 non-null   int64
 8   area                           2629 non-null   int64
 9   cctv-security-amenity          119 non-null    object
 10  parking-spaces-amenity         92 non-null     float64
 11  elevators-in-building-amenity  79 non-null     object
 12  broadband-internet-amenity     125 non-null    object
 13  maintenance-staff-amenity      0 non-null      float64
 14  building_type                  2629 non-null   object
 15  building_nature                2629 non-null   object
 16  flooring-amenity               779 non-null    object
 17  balcony-or-terrace-amenity     683 non-null    object
 18  city                           1722 non-null   object
 19  locality                       1389 non-null   object
 20  address_1                      2618 non-null   object
 21  id                             2629 non-null   object
dtypes: float64(2), int64(4), object(16)
memory usage: 452.0+ KB

In [96]:
thetolet_df.shape

(2629, 22)

In [97]:
merged_df.shape[0] + thetolet_df.shape[0]

38881

In [98]:
merged_df = pd.concat([merged_df, thetolet_df],ignore_index=True)
merged_df.shape

(38881, 175)

<span id="merging-sharif_df" ></span>

### Merging `sharif_df` to master dataset

In [99]:
sharif_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290 entries, 0 to 289
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   address                     270 non-null    object
 1   num_bath_rooms              290 non-null    float64
 2   num_bed_rooms               290 non-null    float64
 3   property_overview           290 non-null    object
 4   price                       290 non-null    float64
 5   purpose                     290 non-null    object
 6   property_url                290 non-null    object
 7   area                        290 non-null    object
 8   property_description        290 non-null    object
 9   building_type               290 non-null    object
 10  cctv-security-amenity       47 non-null     object
 11  parking-spaces-amenity      286 non-null    float64
 12  electricity-backup-amenity  255 non-null    object
 13  balcony-or-terrace-amenity  25 non-null     object
 14  maintenance-staff-amenity   44 non-null     object
 15  swimming-pool-amenity       14 non-null     object
 16  furnished-amenity           290 non-null    object
 17  building_nature             290 non-null    object
 18  city                        290 non-null    object
 19  locality                    16 non-null     object
 20  id                          290 non-null    object
dtypes: float64(4), object(17)
memory usage: 47.7+ KB

In [100]:
sharif_df["area"].unique()

array(['9000', '2000', '2200', '3300', '3000', '2400', '3200', '2800',
       '875', '325', '300', '1150 sft', '2500', '375', '400', '5500',
       '2530', '1000', '4100', '4300', '2450', '3500', '2750', '3700',
       '4400', '6000', '14000', '8500', '5800', '7000', '1900', '2600',
       '4200', '36000', '25000', '1800', '30000', '10800', '4600',
       '17000', '30000(Sft)', '5900', '20000', '40000', '12000',
       '5200 gross', '6500', '1400', '2100', '3600', '5000', '7500',
       '4000', '2910', '1255', '4500', '3625', '18000', '2700', '8000',
       '2900', '3800', '1980', '13500', '2300', '16000', '650', '2250',
       '6200', '4006', '10000', '70000', '15000', '44000', '12200',
       '50000', '3250', '9500', '1850', '7200', '27000'], dtype=object)

In [101]:
sharif_df[ sharif_df["area"]=="5200 gross" ].T

                                                                           97
address                                                                   NaN
num_bath_rooms                                                            0.0
num_bed_rooms                                                             0.0
property_overview           Fully commercial well-renowned building accord...
price                                                               1350000.0
purpose                                                                  Rent
property_url                https://sharif.com.bd/dhaka/10202/5200-sqft-co...
area                                                               5200 gross
property_description                  5200 sqft commercial space at Dhanmondi
building_type                                                          Office
cctv-security-amenity                                                     NaN
parking-spaces-amenity                                                    2.0
electricity-backup-amenity                                                Yes
balcony-or-terrace-amenity                                                NaN
maintenance-staff-amenity                                                 NaN
swimming-pool-amenity                                                     NaN
furnished-amenity                                                          No
building_nature                                                    Commercial
city                                                                    Dhaka
locality                                                            Dhanmondi
id                                                                  sharif-97

In [102]:
# sharif_df[ sharif_df["area"]=="5200 gross" ].index

In [103]:
sharif_df.drop( sharif_df[ sharif_df["area"]=="5200 gross" ].index, inplace=True )

In [104]:
sharif_df[ sharif_df["area"]=="5200 gross" ]

Empty DataFrame
Columns: [address, num_bath_rooms, num_bed_rooms, property_overview, price, purpose, property_url, area, property_description, building_type, cctv-security-amenity, parking-spaces-amenity, electricity-backup-amenity, balcony-or-terrace-amenity, maintenance-staff-amenity, swimming-pool-amenity, furnished-amenity, building_nature, city, locality, id]
Index: []

[0 rows x 21 columns]

In [105]:
sharif_df["area"] = sharif_df["area"].apply(lambda x: x.split("sft")[0].split("(Sft)")[0])

sharif_df["area"] = sharif_df["area"].astype(float)

sharif_df["area"].dtype

dtype('float64')

In [106]:
sharif_df.shape

(289, 21)

In [107]:
merged_df.shape[0] + sharif_df.shape[0]

39170

In [108]:
merged_df = pd.concat([merged_df, sharif_df],ignore_index=True)
merged_df.shape

(39170, 175)

<span id="merging-homefairbd_df" ></span>

### Merging `homefairbd_df` to master dataset

In [109]:
homefairbd_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2375 entries, 0 to 2374
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   city                  2373 non-null   object
 1   locality              0 non-null      float64
 2   address               0 non-null      float64
 3   area                  2375 non-null   float64
 4   building_type         2375 non-null   object
 5   building_nature       2375 non-null   object
 6   num_bath_rooms        2375 non-null   int64
 7   num_bed_rooms         2375 non-null   int64
 8   price                 2363 non-null   float64
 9   purpose               1684 non-null   object
 10  balcony-amenity       2 non-null      object
 11  drawing-amenity       2 non-null      object
 12  dining-amenity        2 non-null      object
 13  electricity-amenity   2 non-null      object
 14  water-amenity         2 non-null      object
 15  lift-amenity          3 non-null      object
 16  parking-amenity       3 non-null      object
 17  generator-amenity     202 non-null    object
 18  property_description  2375 non-null   object
 19  property_overview     0 non-null      float64
 20  id                    2375 non-null   object
dtypes: float64(5), int64(2), object(14)
memory usage: 389.8+ KB

In [110]:
homefairbd_df.shape

(2375, 21)

In [111]:
merged_df.shape[0] + homefairbd_df.shape[0]

41545

In [112]:
merged_df = pd.concat([merged_df, homefairbd_df],ignore_index=True)
merged_df.shape

(41545, 178)

<span id="tidying-merged-csvs" ></span>

## Tidying the merged csvs

In [113]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41545 entries, 0 to 41544
Columns: 178 entries, area to water-amenity
dtypes: float64(15), object(163)
memory usage: 56.4+ MB

In [114]:
print(merged_df.columns.to_list())

['area', 'building_type', 'building_nature', 'image_url', 'num_bath_rooms', 'num_bed_rooms', 'price', 'property_description', 'property_overview', 'property_url', 'purpose', 'city', 'locality', 'address', 'balcony-or-terrace-amenity', 'flooring-amenity', 'parking-spaces-amenity', 'view-amenity', 'lobby-in-building-amenity', 'electricity-backup-amenity', 'elevators-in-building-amenity', 'floor-level-amenity', 'cctv-security-amenity', 'maintenance-staff-amenity', 'cleaning-services-amenity', 'service-elevators-amenity', 'intercom-amenity', 'atm-facility-amenity', 'freehold-amenity', 'broadband-internet-amenity', 'double-glazed-windows-amenity', 'storage-areas-amenity', '24-hours-concierge-amenity', 'waste-disposal-amenity', 'lawn-or-garden-amenity', 'prayer-room-amenity', 'facilities-for-disabled-amenity', 'conference-room-amenity', 'furnished-amenity', 'swimming-pool-amenity', 'steam-room-amenity', 'sauna-amenity', 'jacuzzi-amenity', 'barbeque-area-amenity', 'central-heating-amenity', 'business-center-amenity', 'first-aid-medical-center-amenity', 'day-care-center-amenity', 'shared-kitchen-amenity', 'cafeteria-or-canteen-amenity', 'laundry-facility-amenity', 'id', 'security-staff-amenity', 'title', 'wifi-amenity', 'landscape-garden-amenity', 'wasa-amenity', 'internet-amenity', 'emergency-exit-amenity', 'electricity-amenity', 'child-allowed-amenity', 'gymnasium-amenity', 'community-center-amenity', 'guard-room-amenity', 'fire-alarm-amenity', 'pet-allowed-amenity', 'safety-grill-amenity', 'govt-gas-amenity', 'visitor-car-parking-amenity', 'hot-water-amenity', 'security-guard-amenity', 'rooftop-garden-amenity', 'driver-room-amenity', 'servant-room-amenity', 'floor number-amenity', 'available-for-amenity', 'furnished-status-amenity', 'advance-deposit-amenity', 'drawing-room-amenity', 'floor-type-amenity', 'dining-room-amenity', 'kitchen-amenity', 'negotiable-amenity', 'service-charge-amenity', 'staff-toilet-amenity', 'property-condition-amenity', 'living-room-amenity', 'price_info_extraInfo', 'dining_extraInfo', 'floor_extraInfo', 'floor_type_extraInfo', 'living_extraInfo', 'road_width_ft_extraInfo', 'total_floor_extraInfo', 'view_extraInfo', 'air_conditioning-amenity', 'emergency_stairs-amenity', 'fitness_center-amenity', 'floor', 'garage', 'generator-amenity', 'government_gas-amenity', 'interior', 'land_size', 'num_balcony', 'pets_allow-amenity', 'reception-amenity', 'security-amenity', 'servant_room-amenity', 'tv_cable-amenity', 'unit', 'year_built', 'air-condition-and-provision-amenity', 'fire-extinguisher-amenity', 'reception-desk-and-lobby-amenity', 'Cable TV Provision-amenity', 'lift-amenity', 'tiled-floor-amenity', 'Emergency Exit-amenity', 'built-in-kitchen-and-cabinet-amenity', 'filtered-water-amenity', 'dry-kitchen-amenity', 'electricity-supply-amenity', 'gas_supply-amenity', 'balconies-amenity', 'wi-fi-connectivity-amenity', 'police-box-amenity', 'cctv-amenity', 'pool-amenity', 'telephone-line-amenity', 'post-office-amenity', 'security-alarm-system-amenity', 'garden-amenity', 'cylinder-gas-amenity', 'hospital-amenity', 'banks-amenity', 'gas-amenity', 'school-amenity', 'mosque/prayer-room-amenity', 'servent-room-amenity', 'fire-protection-amenity', 'solar-panels-amenity', 'universities-amenity', 'inter-com-amenity', 'wasa-connection-amenity', 'satellite-or-cable-tv-amenity', 'bazaar-amenity', 'water-supply-amenity', 'play-ground-amenity', 'eid-congregation-place-amenity', 'fire-services-amenity', 'guest-parking-amenity', 'null-amenity', 'servent-toilet-amenity', 'electronic-security-amenity', 'gas-connection-amenity', 'college-amenity', 'graveyard-amenity', 'lakes-amenity', 'mosque-amenity', 'self-water-supply-amenity', 'civil-defense-amenity', 'hot-water-and-heating-amenity', 'fire-exit-amenity', 'parks-amenity', 'grill-amenity', 'computer-amenity', 'air-conditioning-amenity', 'cable-tv-amenity', 'dishwasher-amenity', 'heating-amenity', 'microwave-amenity', 'balcony-amenity', 'parking-amenity', 'address_1', 'drawing-amenity', 'dining-amenity', 'water-amenity']

In [115]:
merged_df.isna().sum()

area                2272
building_type        298
building_nature      316
image_url          24233
num_bath_rooms         0
                   ...
parking-amenity    41425
address_1          38927
drawing-amenity    41543
dining-amenity     41543
water-amenity      41543
Length: 178, dtype: int64

In [116]:
merged_df.iloc[:,:10].isna().sum()

area                     2272
building_type             298
building_nature           316
image_url               24233
num_bath_rooms              0
num_bed_rooms               0
price                    1080
property_description    17881
property_overview       21352
property_url             2400
dtype: int64

In [117]:
merged_df["building_type"].unique()

array(['Apartment', 'Shop', 'Floor', 'Office', 'Building', 'Plot',
       'Duplex', 'Warehouse', 'Factory', 'Apartment/Flats',
       'Office space', 'Duplex Home', 'Showroom / Shop / Restaurant',
       'Independent House', 'Land', 'Garage', 'House', 'Commercial Space',
       'Commerical - Other', 'Apartment, Commercial',
       'Commercial property', nan, 'Showroom/Shop/Restaurant',
       'Office Space', 'Industrial Space', 'Residential Plot',
       'Commercial Plot', 'Land Sharing Flat', 'Agriculture/Farm Land',
       'Sublet/Room', ' Apartment ', ' Condos '], dtype=object)

In [118]:
merged_df["building_type"].value_counts()

Apartment                       28990
 Apartment                       2374
Office                           2339
Building                         1422
Land                             1342
Shop                             1064
Floor                             885
Plot                              809
Apartment/Flats                   611
Garage                            457
Commercial Space                  249
House                             221
Residential Plot                  164
Duplex                             91
Office space                       52
Warehouse                          39
Factory                            26
Land Sharing Flat                  24
Office Space                       24
Showroom/Shop/Restaurant           16
Independent House                   9
Duplex Home                         9
Commercial Plot                     8
Industrial Space                    6
Commerical - Other                  4
Sublet/Room                         4
Apartment, Commercial               2
Showroom / Shop / Restaurant        2
Commercial property                 2
 Condos                             1
Agriculture/Farm Land               1
Name: building_type, dtype: int64

**TODO**:
* define how to deal with the `building_type` whose value counts are less than 200 (drop them ? group them under the same category, for example `Commercial - other` or `Residence - Other` ?)

In [119]:
merged_df.loc[ merged_df["building_type"].isna() ]

,area,building_type,building_nature,image_url,num_bath_rooms,num_bed_rooms,price,property_description,property_overview,property_url,...,cable-tv-amenity,dishwasher-amenity,heating-amenity,microwave-amenity,balcony-amenity,parking-amenity,address_1,drawing-amenity,dining-amenity,water-amenity
35465,1517.0,NaN,Residential,NaN,3.0,3.0,12000000.0,Are you searching for a beautiful home to buy ...,NaN,https://btibrokeragebd.com/property/1517-sft-a...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35466,935.0,NaN,Residential,NaN,2.0,2.0,5700000.0,Are you searching for a beautiful home to buy ...,NaN,https://btibrokeragebd.com/property/935-sft-ap...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35467,1636.0,NaN,Residential,NaN,4.0,3.0,14000000.0,Are you searching for a beautiful home to buy ...,NaN,https://btibrokeragebd.com/property/1636-sft-a...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35468,2520.0,NaN,Residential,NaN,3.0,3.0,43000000.0,Are you searching for a beautiful home to buy ...,NaN,https://btibrokeragebd.com/property/2520-sft-a...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35469,1352.0,NaN,Residential,NaN,3.0,3.0,11000000.0,Are you searching for a beautiful home to buy ...,NaN,https://btibrokeragebd.com/property/1352-sft-a...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36247,2165.0,NaN,Residential,NaN,4.0,4.0,21567500.0,Project Name: Orchard ShadowsAddress:Plot 289...,NaN,https://www.estatemartbd.com/property/194/en/o...,...,Yes,Yes,No,Yes,Yes,Yes,NaN,NaN,NaN,NaN
36248,1200.0,NaN,Residential,NaN,3.0,3.0,3120000.0,Want to sale ready flat at Keraniganj in Dhaka...,NaN,https://www.estatemartbd.com/property/199/en/r...,...,No,No,No,No,No,No,NaN,NaN,NaN,NaN
36249,1900.0,NaN,Residential,NaN,4.0,3.0,20300000.0,A well-designed and well-constructed building ...,NaN,https://www.estatemartbd.com/property/203/en/f...,...,No,No,No,No,No,No,NaN,NaN,NaN,NaN
36250,1200.0,NaN,Residential,NaN,3.0,3.0,9100000.0,"Address: Road-20/A, Plot-1140, Sector-3, Uttar...",NaN,https://www.estatemartbd.com/property/204/en/v...,...,No,No,No,No,Yes,Yes,NaN,NaN,NaN,NaN
36251,1250.0,NaN,Residential,NaN,3.0,3.0,1000000.0,...,NaN,https://www.estatemartbd.com/property/205/en/d...,...,No,No,No,No,No,No,NaN,NaN,NaN,NaN

**TODO**:
* define which value to give as default to the `building_type` where the value is NaN, or how to deal with those NaN values.

In [120]:
merged_df["building_nature"].unique()

array(['Residential', 'Commercial', nan, 'Apartment'], dtype=object)

Some `building_nature` are `Apartment`. They should be replaced by `Residential`.

In [121]:
# Giving the samples which building_nature is Apartment the value of Residential
merged_df.loc[ merged_df["building_nature"]=="Apartment", ["building_nature"] ] = "Residential"

# making sure Apartment were successfully replaced by 
merged_df["building_nature"].unique()

array(['Residential', 'Commercial', nan], dtype=object)

In [122]:
# Selecting the samples without building_nature
merged_df_without_nature = merged_df.loc[ merged_df["building_nature"].isna() ]
merged_df_without_nature

,area,building_type,building_nature,image_url,num_bath_rooms,num_bed_rooms,price,property_description,property_overview,property_url,...,cable-tv-amenity,dishwasher-amenity,heating-amenity,microwave-amenity,balcony-amenity,parking-amenity,address_1,drawing-amenity,dining-amenity,water-amenity
17329,1350.0,Apartment,NaN,NaN,3.0,3.0,1500000.0,Shares of 1350 Sqft land share in Banasree M B...,NaN,https://www.bdstall.com/details/near-hatirjhee...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17330,1250.0,Apartment,NaN,NaN,3.0,3.0,2500000.0,Shares of 1250 Sqft land will be sold on the o...,NaN,https://www.bdstall.com/details/banasree-near-...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17331,1252.0,Apartment,NaN,NaN,3.0,3.0,5200000.0,A 1252 Sqft flat will be sold in Arshi Nagar a...,NaN,https://www.bdstall.com/details/near-mohammadp...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17332,1200.0,Apartment,NaN,NaN,3.0,3.0,5200000.0,Shares of 1200 sqft apartment in South Keran...,NaN,https://www.bdstall.com/details/south-keraniga...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17333,1500.0,Apartment,NaN,NaN,3.0,3.0,6500000.0,1500 Sqft flat land share will sale in importa...,NaN,https://www.bdstall.com/details/paltan-vijay-n...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17640,NaN,Apartment,NaN,NaN,1.0,2.0,7500.0,The pleasant environment will be rented on the...,Beautiful View,https://www.toleter.com/property/bd222/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17641,16140.0,Apartment,NaN,NaN,3.0,5.0,5000.0,Well-to-do living and easy movement! If you ar...,"Built in Year : 2015,Size 1500 Sq. Meter,Floor...",https://www.toleter.com/property/bd101/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17642,16140.0,Apartment,NaN,NaN,3.0,5.0,5000.0,Well-to-do living and easy movement! If you ar...,"Built in Year : 2015,Size 1500 Sq. Meter,Floor...",https://www.toleter.com/property/bd102/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17643,NaN,Apartment,NaN,NaN,3.0,3.0,16000.0,"House # 03, Rod # 4/1, Ward No # 37, Negar, Se...","Parking Spaces,Balcony,Elevator,Others Main Fe...",https://www.toleter.com/property/bd244/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17644,NaN,Apartment,NaN,NaN,0.0,2.0,9500.0,The new building will be rented from April 202...,NaN,https://www.toleter.com/property/bd254/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [123]:
merged_df_without_nature["building_type"].unique()

array(['Apartment'], dtype=object)

All samples without `building_nature` are of type `Apartment`. So their `building_nature` should be set to `Residential`.

In [124]:
merged_df.loc[ (merged_df["building_nature"].isna()) & 
             ( merged_df["building_type"]=="Apartment") , ["building_nature"] ] = "Residential"

In [125]:
# Checking if their are still properties without nature
merged_df.loc[ merged_df["building_nature"].isna() ].T

Empty DataFrame
Columns: []
Index: [area, building_type, building_nature, image_url, num_bath_rooms, num_bed_rooms, price, property_description, property_overview, property_url, purpose, city, locality, address, balcony-or-terrace-amenity, flooring-amenity, parking-spaces-amenity, view-amenity, lobby-in-building-amenity, electricity-backup-amenity, elevators-in-building-amenity, floor-level-amenity, cctv-security-amenity, maintenance-staff-amenity, cleaning-services-amenity, service-elevators-amenity, intercom-amenity, atm-facility-amenity, freehold-amenity, broadband-internet-amenity, double-glazed-windows-amenity, storage-areas-amenity, 24-hours-concierge-amenity, waste-disposal-amenity, lawn-or-garden-amenity, prayer-room-amenity, facilities-for-disabled-amenity, conference-room-amenity, furnished-amenity, swimming-pool-amenity, steam-room-amenity, sauna-amenity, jacuzzi-amenity, barbeque-area-amenity, central-heating-amenity, business-center-amenity, first-aid-medical-center-amenity, day-care-center-amenity, shared-kitchen-amenity, cafeteria-or-canteen-amenity, laundry-facility-amenity, id, security-staff-amenity, title, wifi-amenity, landscape-garden-amenity, wasa-amenity, internet-amenity, emergency-exit-amenity, electricity-amenity, child-allowed-amenity, gymnasium-amenity, community-center-amenity, guard-room-amenity, fire-alarm-amenity, pet-allowed-amenity, safety-grill-amenity, govt-gas-amenity, visitor-car-parking-amenity, hot-water-amenity, security-guard-amenity, rooftop-garden-amenity, driver-room-amenity, servant-room-amenity, floor number-amenity, available-for-amenity, furnished-status-amenity, advance-deposit-amenity, drawing-room-amenity, floor-type-amenity, dining-room-amenity, kitchen-amenity, negotiable-amenity, service-charge-amenity, staff-toilet-amenity, property-condition-amenity, living-room-amenity, price_info_extraInfo, dining_extraInfo, floor_extraInfo, floor_type_extraInfo, living_extraInfo, road_width_ft_extraInfo, total_floor_extraInfo, view_extraInfo, air_conditioning-amenity, emergency_stairs-amenity, fitness_center-amenity, floor, garage, ...]

[178 rows x 0 columns]

In [126]:
merged_df["building_nature"].unique()

array(['Residential', 'Commercial'], dtype=object)

In [127]:
# merged_df_without_nature.loc[ merged_df_without_nature["building_nature"].isna() & 
#               merged_df_without_nature["building_type"]=="Apartment", ["building_nature"] ] = "Residential"

In [128]:
del merged_df_without_nature

In [129]:
merged_df["garage"].fillna(0, inplace=True)

In [130]:
merged_df.reset_index(inplace=True)

In [131]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41545 entries, 0 to 41544
Columns: 179 entries, index to water-amenity
dtypes: float64(15), int64(1), object(163)
memory usage: 56.7+ MB

<span id="creating-csv-without-amenities" ></span>

## Creating csv without amenities

In [132]:
# no_amenity_vars = ['id','area', 'building_type', 'building_nature', 'image_url', 'num_bath_rooms', 'num_bed_rooms', 
#                  'price', 'property_description', 'property_overview', 'property_url', 'purpose', 'city', 
#                  'locality', 'address','garage','year_built']

In [133]:
# no_amenity_df = merged_df[ no_amenity_vars ]
# no_amenity_df.head(3).T

In [134]:
# no_amenity_df.info()

In [135]:
# no_amenity_df["building_type"].unique()

In [136]:
# no_amenity_df["building_nature"].unique()

In [137]:
# no_amenity_df["building_nature"].isna().sum()

In [138]:
# no_amenity_df.shape

In [139]:
# # Create folder in which to save cleaned dataset
# if not os.path.exists(merged_data_folder):
#     os.makedirs(merged_data_folder)
#     print(f"Create folder '{merged_data_folder}'")
# else:
#     print(f"Folder '{merged_data_folder}' already exists")

In [140]:
# # Save merged datasets to csv
# no_amenity_df.to_csv(f"{merged_data_folder}/no_amenity.csv", index=False)

In [141]:
# # Load saved csv (to make sure it was successfully save)
# saved_no_amenity_df = pd.read_csv(f"{merged_data_folder}/no_amenity.csv")
# saved_no_amenity_df.head(3).T

<span id="creating-csv-with-amenities" ></span>

## Creating csv with amenities

Since there are so many amenities, I am going to categorize them, end have the count of how many such categories each sample has.

In [142]:
no_amenity_vars = ['id','area', 'building_type', 'building_nature', 'image_url', 'num_bath_rooms', 'num_bed_rooms', 
                 'price', 'property_description', 'property_overview', 'property_url', 'purpose', 'city', 
                 'locality', 'address','garage','year_built']

In [143]:
print(no_amenity_vars)

['id', 'area', 'building_type', 'building_nature', 'image_url', 'num_bath_rooms', 'num_bed_rooms', 'price', 'property_description', 'property_overview', 'property_url', 'purpose', 'city', 'locality', 'address', 'garage', 'year_built']

In [144]:
amenity_vars=[] # will contain the columns that hold amenity information
columns = merged_df.columns.to_list()

for col in columns:
    if col not in no_amenity_vars:
        amenity_vars.append(col)

print(amenity_vars)

['index', 'balcony-or-terrace-amenity', 'flooring-amenity', 'parking-spaces-amenity', 'view-amenity', 'lobby-in-building-amenity', 'electricity-backup-amenity', 'elevators-in-building-amenity', 'floor-level-amenity', 'cctv-security-amenity', 'maintenance-staff-amenity', 'cleaning-services-amenity', 'service-elevators-amenity', 'intercom-amenity', 'atm-facility-amenity', 'freehold-amenity', 'broadband-internet-amenity', 'double-glazed-windows-amenity', 'storage-areas-amenity', '24-hours-concierge-amenity', 'waste-disposal-amenity', 'lawn-or-garden-amenity', 'prayer-room-amenity', 'facilities-for-disabled-amenity', 'conference-room-amenity', 'furnished-amenity', 'swimming-pool-amenity', 'steam-room-amenity', 'sauna-amenity', 'jacuzzi-amenity', 'barbeque-area-amenity', 'central-heating-amenity', 'business-center-amenity', 'first-aid-medical-center-amenity', 'day-care-center-amenity', 'shared-kitchen-amenity', 'cafeteria-or-canteen-amenity', 'laundry-facility-amenity', 'security-staff-amenity', 'title', 'wifi-amenity', 'landscape-garden-amenity', 'wasa-amenity', 'internet-amenity', 'emergency-exit-amenity', 'electricity-amenity', 'child-allowed-amenity', 'gymnasium-amenity', 'community-center-amenity', 'guard-room-amenity', 'fire-alarm-amenity', 'pet-allowed-amenity', 'safety-grill-amenity', 'govt-gas-amenity', 'visitor-car-parking-amenity', 'hot-water-amenity', 'security-guard-amenity', 'rooftop-garden-amenity', 'driver-room-amenity', 'servant-room-amenity', 'floor number-amenity', 'available-for-amenity', 'furnished-status-amenity', 'advance-deposit-amenity', 'drawing-room-amenity', 'floor-type-amenity', 'dining-room-amenity', 'kitchen-amenity', 'negotiable-amenity', 'service-charge-amenity', 'staff-toilet-amenity', 'property-condition-amenity', 'living-room-amenity', 'price_info_extraInfo', 'dining_extraInfo', 'floor_extraInfo', 'floor_type_extraInfo', 'living_extraInfo', 'road_width_ft_extraInfo', 'total_floor_extraInfo', 'view_extraInfo', 'air_conditioning-amenity', 'emergency_stairs-amenity', 'fitness_center-amenity', 'floor', 'generator-amenity', 'government_gas-amenity', 'interior', 'land_size', 'num_balcony', 'pets_allow-amenity', 'reception-amenity', 'security-amenity', 'servant_room-amenity', 'tv_cable-amenity', 'unit', 'air-condition-and-provision-amenity', 'fire-extinguisher-amenity', 'reception-desk-and-lobby-amenity', 'Cable TV Provision-amenity', 'lift-amenity', 'tiled-floor-amenity', 'Emergency Exit-amenity', 'built-in-kitchen-and-cabinet-amenity', 'filtered-water-amenity', 'dry-kitchen-amenity', 'electricity-supply-amenity', 'gas_supply-amenity', 'balconies-amenity', 'wi-fi-connectivity-amenity', 'police-box-amenity', 'cctv-amenity', 'pool-amenity', 'telephone-line-amenity', 'post-office-amenity', 'security-alarm-system-amenity', 'garden-amenity', 'cylinder-gas-amenity', 'hospital-amenity', 'banks-amenity', 'gas-amenity', 'school-amenity', 'mosque/prayer-room-amenity', 'servent-room-amenity', 'fire-protection-amenity', 'solar-panels-amenity', 'universities-amenity', 'inter-com-amenity', 'wasa-connection-amenity', 'satellite-or-cable-tv-amenity', 'bazaar-amenity', 'water-supply-amenity', 'play-ground-amenity', 'eid-congregation-place-amenity', 'fire-services-amenity', 'guest-parking-amenity', 'null-amenity', 'servent-toilet-amenity', 'electronic-security-amenity', 'gas-connection-amenity', 'college-amenity', 'graveyard-amenity', 'lakes-amenity', 'mosque-amenity', 'self-water-supply-amenity', 'civil-defense-amenity', 'hot-water-and-heating-amenity', 'fire-exit-amenity', 'parks-amenity', 'grill-amenity', 'computer-amenity', 'air-conditioning-amenity', 'cable-tv-amenity', 'dishwasher-amenity', 'heating-amenity', 'microwave-amenity', 'balcony-amenity', 'parking-amenity', 'address_1', 'drawing-amenity', 'dining-amenity', 'water-amenity']

In [145]:
merged_df[ amenity_vars[:50] ].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41545 entries, 0 to 41544
Data columns (total 50 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   index                             41545 non-null  int64
 1   balcony-or-terrace-amenity        15284 non-null  object
 2   flooring-amenity                  17177 non-null  object
 3   parking-spaces-amenity            18151 non-null  object
 4   view-amenity                      16413 non-null  object
 5   lobby-in-building-amenity         9257 non-null   object
 6   electricity-backup-amenity        10381 non-null  object
 7   elevators-in-building-amenity     13522 non-null  object
 8   floor-level-amenity               15396 non-null  object
 9   cctv-security-amenity             11133 non-null  object
 10  maintenance-staff-amenity         9821 non-null   object
 11  cleaning-services-amenity         12445 non-null  object
 12  service-elevators-amenity         3317 non-null   object
 13  intercom-amenity                  5844 non-null   object
 14  atm-facility-amenity              550 non-null    object
 15  freehold-amenity                  5367 non-null   object
 16  broadband-internet-amenity        6315 non-null   object
 17  double-glazed-windows-amenity     5851 non-null   object
 18  storage-areas-amenity             1390 non-null   object
 19  24-hours-concierge-amenity        7142 non-null   object
 20  waste-disposal-amenity            4288 non-null   object
 21  lawn-or-garden-amenity            515 non-null    object
 22  prayer-room-amenity               1091 non-null   object
 23  facilities-for-disabled-amenity   342 non-null    object
 24  conference-room-amenity           540 non-null    object
 25  furnished-amenity                 812 non-null    object
 26  swimming-pool-amenity             569 non-null    object
 27  steam-room-amenity                55 non-null     object
 28  sauna-amenity                     41 non-null     object
 29  jacuzzi-amenity                   47 non-null     object
 30  barbeque-area-amenity             193 non-null    object
 31  central-heating-amenity           536 non-null    object
 32  business-center-amenity           447 non-null    object
 33  first-aid-medical-center-amenity  130 non-null    object
 34  day-care-center-amenity           144 non-null    object
 35  shared-kitchen-amenity            51 non-null     object
 36  cafeteria-or-canteen-amenity      369 non-null    object
 37  laundry-facility-amenity          66 non-null     object
 38  security-staff-amenity            168 non-null    object
 39  title                             441 non-null    object
 40  wifi-amenity                      681 non-null    object
 41  landscape-garden-amenity          441 non-null    object
 42  wasa-amenity                      441 non-null    object
 43  internet-amenity                  558 non-null    object
 44  emergency-exit-amenity            441 non-null    object
 45  electricity-amenity               932 non-null    object
 46  child-allowed-amenity             441 non-null    object
 47  gymnasium-amenity                 930 non-null    object
 48  community-center-amenity          441 non-null    object
 49  guard-room-amenity                441 non-null    object
dtypes: int64(1), object(49)
memory usage: 15.8+ MB

I want to understand the type of values we have in the amenity columns.

In [146]:
merged_df[ amenity_vars[1] ].unique()

array(['yes', nan, 'no', False, True, 'Yes'], dtype=object)

In [147]:
merged_df[ amenity_vars[2] ].unique()

array(['yes', nan, 'Yes'], dtype=object)

In [148]:
amenity_vars[9]

'cctv-security-amenity'

In [149]:
merged_df[ amenity_vars[9] ].unique()

array(['yes', nan, 'Yes', 'No'], dtype=object)

I have the following groups of values:
* `numbers` : 1, 2, 3
* `strings` : " 1", "Yes", "No"
* `np.NaN`

I assume there may also be `True/False` values

In [150]:
# type(True)

In [151]:

# Creating amenity categories columns, and giving them default value
merged_df["relaxation_amenity_count"] = 0
merged_df["security_amenity_count"] = 0
merged_df["maintenance_or_cleaning_amenity_count"] = 0
merged_df["social_amenity_count"] = 0
merged_df["expendable_amenity_count"] = 0
merged_df["expendable_amenity_count"] = 0 
merged_df["service_staff_amenity_count"] = 0
merged_df["service_staff_amenity_count"] = 0
merged_df["unclassify_amenity_count"] = 0

In [152]:
"""
    Loop through each sample, while :
       - counting the number of each category amenity it has
       - translating property_description and property_overview to English (some text are in Benguali)
"""
# init the Google API translator
translator = Translator()

unclassified_vars=[] # will contain columns that are not in amenity_vars nor in no_amenity_vars (for debug purpose)


for index, row in merged_df.iterrows(): # loop through each sample
    
    # The code may take time, log in the console to keep track of things
    if index==0 or index%5000==0:
        print(f"Currently processing sample {index}...")
    
    # Count the number of amenity per category for the current sample
    for av in amenity_vars:
#         print(f"av : {av}")
        av_content = row[av] # merged_df.loc[index,av] #
        av_weight=None
        
        # if the content of the amenity variable is ['yes', a number greater than 0, or True] , 
        #      then av_weight take 1 as value
        if pd.isna(av_content): # If the content of that variable for the current sample is np.NaN, do nothing
            av_weight=0
        elif type(av_content)==str: # if it is a string
            if av_content.strip().lower()=="no" or av_content.strip().lower()=="0" \
                or av_content.strip().lower()=="0.0" or av_content.strip().lower()=="na":
                av_weight=0
            else:
                av_weight=1
        elif type(av_content)==int or type(av_content)==float:
            if av_content>0:
                av_weight=1
            else:
                av_weight=0
        elif type(av_content)==bool:
            if av_content==False:
                av_weight=0
            else:
                av_weight=1
        else:
            raise Exception(f"Amenity value '{av_content}' not taken into account for sample {index} and column {av}")
    
        # Updating the count of the corresponding amenity category
        if is_relaxation_amenity(av):
            merged_df.loc[index,"relaxation_amenity_count"] += av_weight
        elif is_security_amenity(av):
            merged_df.loc[index,"security_amenity_count"] += av_weight
        elif is_maintenance_or_cleaning_amenity(av):
            merged_df.loc[index,"maintenance_or_cleaning_amenity_count"] += av_weight
        elif is_social_amenity(av):
            merged_df.loc[index,"social_amenity_count"] += av_weight
        elif is_expendable_amenity(av):
            merged_df.loc[index,"expendable_amenity_count"] += av_weight
        elif is_service_staff_amenity(av):
            merged_df.loc[index,"service_staff_amenity_count"] += av_weight
        elif is_unclassify_amenity(av):
            merged_df.loc[index,"unclassify_amenity_count"] += av_weight
        else:
            unclassified_dic={
                "index":index,
                "column":av
            }
            unclassified_vars.append(unclassified_dic)
            
            
            
    # Translating text from Benguali to English
    
#     # retrieve the property_overview and property_description
#     overview = row["property_overview"]
#     description = row["property_description"] 
    
#     # translate text
#     translated_ov_obj = translator.translate(overview.strip(), src="bn", dest="en")
#     translated_desc_obj = translator.translate(description.strip(), src="bn", dest="en")
    
#     translated_ov = translated_ov_obj.text
#     translated_desc = translated_desc_obj.text
    
#     # updating the translated columns of the sample in the dataframe
#     merged_df.loc[index, "property_overview"] = translated_ov
#     merged_df.loc[index, "property_description"] = translated_desc
        
print("Processing has come to an end")

Currently processing sample 0...
Currently processing sample 5000...
Currently processing sample 10000...
Currently processing sample 15000...
Currently processing sample 20000...
Currently processing sample 25000...
Currently processing sample 30000...
Currently processing sample 35000...
Currently processing sample 40000...
Processing has come to an end

In [153]:
unclassified_vars[:3]

[{'index': 0, 'column': 'index'},
 {'index': 0, 'column': 'balcony-or-terrace-amenity'},
 {'index': 0, 'column': 'parking-spaces-amenity'}]

In [154]:
len(unclassified_vars)

3697505

In [155]:
# merged_df.loc[0,"balcony-or-terrace-amenity"]

In [156]:
merged_df.shape

(41545, 186)

In [157]:
merged_df.iloc[:, -7:].sample(10)

,relaxation_amenity_count,security_amenity_count,maintenance_or_cleaning_amenity_count,social_amenity_count,expendable_amenity_count,service_staff_amenity_count,unclassify_amenity_count
35488,0,0,0,0,0,0,0
12705,0,0,2,0,3,0,3
9937,0,1,1,0,5,0,5
27778,0,0,0,0,0,0,0
21021,0,0,0,0,0,0,0
2802,0,2,3,0,3,0,4
13282,0,1,2,0,4,0,3
21120,0,0,0,0,0,0,0
22466,0,0,0,0,0,0,0
34714,0,0,0,0,0,0,0

In [158]:
merged_df.shape

(41545, 186)

In [159]:
# Dropping amenity variables
merged_df.drop(amenity_vars,axis=1,inplace=True)
merged_df.shape

(41545, 24)

In [160]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41545 entries, 0 to 41544
Data columns (total 24 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   area                                   39273 non-null  float64
 1   building_type                          41247 non-null  object
 2   building_nature                        41545 non-null  object
 3   image_url                              17312 non-null  object
 4   num_bath_rooms                         41545 non-null  float64
 5   num_bed_rooms                          41545 non-null  float64
 6   price                                  40465 non-null  float64
 7   property_description                   23664 non-null  object
 8   property_overview                      20193 non-null  object
 9   property_url                           39145 non-null  object
 10  purpose                                40840 non-null  object
 11  city                                   40068 non-null  object
 12  locality                               36747 non-null  object
 13  address                                33619 non-null  object
 14  id                                     41545 non-null  object
 15  garage                                 41545 non-null  float64
 16  year_built                             256 non-null    float64
 17  relaxation_amenity_count               41545 non-null  int64
 18  security_amenity_count                 41545 non-null  int64
 19  maintenance_or_cleaning_amenity_count  41545 non-null  int64
 20  social_amenity_count                   41545 non-null  int64
 21  expendable_amenity_count               41545 non-null  int64
 22  service_staff_amenity_count            41545 non-null  int64
 23  unclassify_amenity_count               41545 non-null  int64
dtypes: float64(6), int64(7), object(11)
memory usage: 7.6+ MB

In [161]:
merged_df.head(2).T

,0,1
area,1185.0,2464.0
building_type,Apartment,Apartment
building_nature,Residential,Residential
image_url,https://images-cdn.bproperty.com/thumbnails/15...,https://images-cdn.bproperty.com/thumbnails/15...
num_bath_rooms,0.0,4.0
num_bed_rooms,3.0,3.0
price,6100000.0,28900000.0
property_description,Grab This 1185 Sq Ft Beautiful Flat Is Vacant ...,A Vibrant 2464 Sq Ft Residential Flat For Sale...
property_overview,This flat consists of facilities you can think...,Ready to move in somewhere with everything nea...
property_url,https://www.bproperty.com/en/property/details-...,https://www.bproperty.com/en/property/details-...
purpose,Sale,Sale
city,Dhaka,Dhaka
locality,Khilgaon,Dhanmondi
address,NaN,NaN
id,bproperty-0,bproperty-1
garage,0.0,0.0
year_built,NaN,NaN
relaxation_amenity_count,0,0
security_amenity_count,1,2
maintenance_or_cleaning_amenity_count,2,0
social_amenity_count,0,0
expendable_amenity_count,2,3
service_staff_amenity_count,0,0
unclassify_amenity_count,3,4

In [162]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41545 entries, 0 to 41544
Data columns (total 24 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   area                                   39273 non-null  float64
 1   building_type                          41247 non-null  object
 2   building_nature                        41545 non-null  object
 3   image_url                              17312 non-null  object
 4   num_bath_rooms                         41545 non-null  float64
 5   num_bed_rooms                          41545 non-null  float64
 6   price                                  40465 non-null  float64
 7   property_description                   23664 non-null  object
 8   property_overview                      20193 non-null  object
 9   property_url                           39145 non-null  object
 10  purpose                                40840 non-null  object
 11  city                                   40068 non-null  object
 12  locality                               36747 non-null  object
 13  address                                33619 non-null  object
 14  id                                     41545 non-null  object
 15  garage                                 41545 non-null  float64
 16  year_built                             256 non-null    float64
 17  relaxation_amenity_count               41545 non-null  int64
 18  security_amenity_count                 41545 non-null  int64
 19  maintenance_or_cleaning_amenity_count  41545 non-null  int64
 20  social_amenity_count                   41545 non-null  int64
 21  expendable_amenity_count               41545 non-null  int64
 22  service_staff_amenity_count            41545 non-null  int64
 23  unclassify_amenity_count               41545 non-null  int64
dtypes: float64(6), int64(7), object(11)
memory usage: 7.6+ MB

In [163]:
merged_df["purpose"].unique()

array(['Sale', 'Rent', nan, 'sale', 'SALE', 'rent'], dtype=object)

In [164]:
merged_df["purpose"] = merged_df["purpose"].str.capitalize()
merged_df["purpose"].unique()

array(['Sale', 'Rent', nan], dtype=object)

In [165]:
# Dropping samples with NaN value in mandatory columns for our analysis
merged_df.dropna(subset=["area","price","city","locality", "purpose","building_type","building_nature"], inplace=True)
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33703 entries, 0 to 39161
Data columns (total 24 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   area                                   33703 non-null  float64
 1   building_type                          33703 non-null  object
 2   building_nature                        33703 non-null  object
 3   image_url                              17265 non-null  object
 4   num_bath_rooms                         33703 non-null  float64
 5   num_bed_rooms                          33703 non-null  float64
 6   price                                  33703 non-null  float64
 7   property_description                   19029 non-null  object
 8   property_overview                      18509 non-null  object
 9   property_url                           33679 non-null  object
 10  purpose                                33703 non-null  object
 11  city                                   33703 non-null  object
 12  locality                               33703 non-null  object
 13  address                                28526 non-null  object
 14  id                                     33703 non-null  object
 15  garage                                 33703 non-null  float64
 16  year_built                             0 non-null      float64
 17  relaxation_amenity_count               33703 non-null  int64
 18  security_amenity_count                 33703 non-null  int64
 19  maintenance_or_cleaning_amenity_count  33703 non-null  int64
 20  social_amenity_count                   33703 non-null  int64
 21  expendable_amenity_count               33703 non-null  int64
 22  service_staff_amenity_count            33703 non-null  int64
 23  unclassify_amenity_count               33703 non-null  int64
dtypes: float64(6), int64(7), object(11)
memory usage: 6.4+ MB

In [166]:
merged_df.reset_index(inplace=True)

In [167]:
merged_df.shape

(33703, 25)

In [168]:
merged_df.drop(["year_built"], axis=1,inplace=True)
merged_df.shape

(33703, 24)

In [169]:
merged_df["purpose"].value_counts()

Rent    20723
Sale    12980
Name: purpose, dtype: int64

In [170]:
merged_df["building_type"].unique()

array(['Apartment', 'Shop', 'Floor', 'Office', 'Building', 'Plot',
       'Duplex', 'Warehouse', 'Factory', 'Apartment/Flats',
       'Office space', 'Duplex Home', 'Showroom / Shop / Restaurant',
       'Independent House', 'House', 'Commerical - Other',
       'Apartment, Commercial', 'Showroom/Shop/Restaurant',
       'Office Space', 'Residential Plot', 'Industrial Space',
       'Commercial Plot', 'Land Sharing Flat', 'Sublet/Room'],
      dtype=object)

In [171]:
merged_df[ merged_df["building_type"]=="Plot" ]

,index,area,building_type,building_nature,image_url,num_bath_rooms,num_bed_rooms,price,property_description,property_overview,...,address,id,garage,relaxation_amenity_count,security_amenity_count,maintenance_or_cleaning_amenity_count,social_amenity_count,expendable_amenity_count,service_staff_amenity_count,unclassify_amenity_count
62,62,2160.0,Plot,Residential,https://images-cdn.bproperty.com/thumbnails/15...,0.0,0.0,18000000.0,"3 Katha Residential Plot For Sale In Mirpur, S...",If your goal is to structure your own home in ...,...,Section 11,bproperty-62,0.0,0,0,0,0,0,0,0
150,150,2944.8,Plot,Residential,https://images-cdn.bproperty.com/thumbnails/15...,0.0,0.0,120000000.0,4.09 Katha Plot With Full Building For Sale In...,This plot is designed with your desired home i...,...,NaN,bproperty-150,0.0,0,0,0,0,0,0,0
175,176,2088.0,Plot,Residential,https://images-cdn.bproperty.com/thumbnails/15...,0.0,0.0,55000000.0,2.9 Khata Residential Plot Is For Sale In Niku...,If your goal is to structure your own home in ...,...,Nikunja 2,bproperty-176,0.0,0,0,0,0,0,0,0
179,180,1224.0,Plot,Residential,https://images-cdn.bproperty.com/thumbnails/15...,0.0,0.0,26500000.0,"1.7 Katha Plot Is For Sale In Hazaribag, Jigatola",If your goal is to structure your own home in ...,...,Jigatola,bproperty-180,0.0,0,0,0,0,0,0,0
264,265,3240.0,Plot,Residential,https://images-cdn.bproperty.com/thumbnails/15...,0.0,0.0,20000000.0,4.5 Katha Plot Is Now Available For Sale In Ko...,This plot is designed with your desired home i...,...,NaN,bproperty-265,0.0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13696,13733,2520.0,Plot,Commercial,https://images-cdn.bproperty.com/thumbnails/10...,0.0,0.0,55000.0,Attention Plot Finders! A 3.5 Katha Commercial...,We are offering a unique and comprehensive val...,...,Kawlar,bproperty-13733,0.0,0,0,0,0,0,0,0
13854,13891,993.6,Plot,Commercial,https://images-cdn.bproperty.com/thumbnails/12...,0.0,0.0,60000.0,1.38 Katha Commercial Plot For Lease At Textil...,We are offering a unique and comprehensive val...,...,NaN,bproperty-13891,0.0,0,1,0,0,0,0,2
13870,13907,3002.4,Plot,Commercial,https://images-cdn.bproperty.com/thumbnails/10...,0.0,0.0,200000.0,Grab This 3000 SQ FT Commercial Plot Which Is ...,This commercial plot is located in the very po...,...,NaN,bproperty-13907,0.0,0,0,0,0,0,0,2
16936,16980,99936.0,Plot,Residential,https://images-cdn.bproperty.com/thumbnails/10...,0.0,0.0,1500000.0,138.8 Katha Plot Is Now Available For Lease In...,This lucrative plot has a lot to offer. The pl...,...,"Aragaon, Ashulia",bproperty-16980,0.0,0,0,0,0,0,0,0
17255,17302,2520.0,Plot,Commercial,https://images-cdn.bproperty.com/thumbnails/15...,0.0,0.0,73000000.0,3.5 Katha Commercial Plot Is For Sale In Mirpu...,We are offering a unique and comprehensive val...,...,West Shewrapara,bproperty-17302,0.0,0,0,0,0,0,0,0

In [172]:
merged_df["building_type"] = merged_df.apply(lambda row: f"{row['building_nature']} {row['building_type']}" if row["building_type"]=="Plot" else row["building_type"], axis=1)
#[ merged_df["building_type"]=="Plot" ]
# merged_df["x"] = merged_df.apply(lambda row: row["building_nature"]+" "+row["building_type"] if row["building_type"]=="Plot" else row["building_type"])

In [173]:
merged_df[ merged_df["building_type"]=="Plot" ]

Empty DataFrame
Columns: [index, area, building_type, building_nature, image_url, num_bath_rooms, num_bed_rooms, price, property_description, property_overview, property_url, purpose, city, locality, address, id, garage, relaxation_amenity_count, security_amenity_count, maintenance_or_cleaning_amenity_count, social_amenity_count, expendable_amenity_count, service_staff_amenity_count, unclassify_amenity_count]
Index: []

[0 rows x 24 columns]

In [174]:
merged_df[ merged_df["building_type"]=="Apartment, Commercial" ]

,index,area,building_type,building_nature,image_url,num_bath_rooms,num_bed_rooms,price,property_description,property_overview,...,address,id,garage,relaxation_amenity_count,security_amenity_count,maintenance_or_cleaning_amenity_count,social_amenity_count,expendable_amenity_count,service_staff_amenity_count,unclassify_amenity_count
32028,35187,820.0,"Apartment, Commercial",Residential,NaN,0.0,0.0,3280000.0,NaN,NaN,...,Old Town,flatforsale-8,0.0,0,0,0,0,0,0,0
32029,35188,820.0,"Apartment, Commercial",Commercial,NaN,0.0,0.0,3280000.0,NaN,NaN,...,Old Town,flatforsale-9,0.0,0,0,0,0,0,0,0

The two above samples are ambiguous. Let's drop them.

In [175]:
# Drop samples where building_type is ambiguous
merged_df.drop( merged_df[ merged_df["building_type"]=="Apartment, Commercial" ].index, inplace=True )

# Check dropping was effective
merged_df[ merged_df["building_type"]=="Apartment, Commercial" ]

Empty DataFrame
Columns: [index, area, building_type, building_nature, image_url, num_bath_rooms, num_bed_rooms, price, property_description, property_overview, property_url, purpose, city, locality, address, id, garage, relaxation_amenity_count, security_amenity_count, maintenance_or_cleaning_amenity_count, social_amenity_count, expendable_amenity_count, service_staff_amenity_count, unclassify_amenity_count]
Index: []

[0 rows x 24 columns]

In [176]:
merged_df[ merged_df["building_type"]=="Commerical - Other" ]

,index,area,building_type,building_nature,image_url,num_bath_rooms,num_bed_rooms,price,property_description,property_overview,...,address,id,garage,relaxation_amenity_count,security_amenity_count,maintenance_or_cleaning_amenity_count,social_amenity_count,expendable_amenity_count,service_staff_amenity_count,unclassify_amenity_count
32021,35179,100.0,Commerical - Other,Commercial,NaN,0.0,0.0,2000000.0,NaN,NaN,...,Old Town,flatforsale-0,0.0,0,0,0,0,0,0,0
32027,35186,7556.0,Commerical - Other,Commercial,NaN,0.0,0.0,302240000.0,NaN,NaN,...,NaN,flatforsale-7,0.0,0,0,0,0,0,0,0
32030,35189,1150.0,Commerical - Other,Commercial,NaN,0.0,0.0,18400000.0,NaN,NaN,...,Segun Bagicha,flatforsale-10,0.0,0,0,0,0,0,0,0
32032,35191,91.0,Commerical - Other,Commercial,NaN,0.0,0.0,3640000.0,NaN,NaN,...,NaN,flatforsale-12,0.0,0,0,0,0,0,0,0

In [177]:
merged_df["building_type"].unique()

array(['Apartment', 'Shop', 'Floor', 'Office', 'Building',
       'Residential Plot', 'Duplex', 'Commercial Plot', 'Warehouse',
       'Factory', 'Apartment/Flats', 'Office space', 'Duplex Home',
       'Showroom / Shop / Restaurant', 'Independent House', 'House',
       'Commerical - Other', 'Showroom/Shop/Restaurant', 'Office Space',
       'Industrial Space', 'Land Sharing Flat', 'Sublet/Room'],
      dtype=object)

There is a repetition of value in `building_type`. Related values are going to be combined into unique types as follow:
*  `Apartment`, `Apartment/Flats` -> `Apartment`
* `Shop`, `Showroom / Shop / Restaurant`, `Showroom/Shop/Restaurant` -> `Shop`
* `Floor` -> `Floor`
* `Office`, `Office space`, `Office Space` -> `Office`
* `Building` -> `Building`
* `Duplex`, `Duplex Home` -> `Duplex`
* `Warehouse` -> `Warehouse`
* `Factory` -> `Factory`
* `Independent House`, `House` -> `House`
* `Commerical - Other` -> `Commercial Space`
* `Residential Plot` -> `Residential Plot`
* `Commercial Plot` -> `Commercial Plot`
* `Industrial Space` -> `Industrial Space`
* `Land Sharing Flat` -> `Land Sharing Flat`
* `Sublet/Room` -> `Sublet/Room`

In [178]:
# Replacing "Apartment/Flats" in building_type column by "Apartment"
#merged_df[ merged_df["building_type"]=="Apartment/Flats" ]["building_type"] = "Apartment"
merged_df["building_type"] = merged_df["building_type"].str.replace("Apartment/Flats","Apartment") \
                                           .str.replace("Showroom / Shop / Restaurant","Shop") \
                                           .str.replace("Showroom/Shop/Restaurant","Shop") \
                                           .str.replace("Office space","Office")  \
                                           .str.replace("Office Space","Office")  \
                                           .str.replace("Duplex Home","Duplex")  \
                                           .str.replace("Independent House","House")  \
                                           .str.replace("Commerical - Other","Commercial Space")



# Check that replacement was done
merged_df["building_type"].value_counts()

Apartment            26940
Office                2266
Building              1412
Shop                   956
Floor                  880
Residential Plot       875
House                  175
Duplex                  84
Commercial Plot         54
Warehouse               29
Factory                 19
Commercial Space         4
Land Sharing Flat        4
Industrial Space         2
Sublet/Room              1
Name: building_type, dtype: int64

Some property types have very few occurences, let's club them together as `Others`

In [179]:
building_types_count= merged_df["building_type"].value_counts()
limit=19
building_types_count[ building_types_count<limit ]

Commercial Space     4
Land Sharing Flat    4
Industrial Space     2
Sublet/Room          1
Name: building_type, dtype: int64

In [180]:
small_occurences = building_types_count[ building_types_count<limit ].index.to_list()
small_occurences

['Commercial Space', 'Land Sharing Flat', 'Industrial Space', 'Sublet/Room']

In [181]:
# # "|".join(small_occurences)

# merged_df["x"] = np.where( merged_df["building_type"].str.contains("|".join(small_occurences),
#                                                                   "Others",
#                                                                    merged_df["building_type"]) )
# merged_df["x"].value_counts()

In [182]:
# Combining small building_type occurences into "Others"
merged_df["building_type"] = merged_df["building_type"].apply(lambda x: "Others" if x in small_occurences else x )
merged_df["building_type"].value_counts()

Apartment           26940
Office               2266
Building             1412
Shop                  956
Floor                 880
Residential Plot      875
House                 175
Duplex                 84
Commercial Plot        54
Warehouse              29
Factory                19
Others                 11
Name: building_type, dtype: int64

In [183]:
merged_df["garage"].value_counts()

0.0    33701
Name: garage, dtype: int64

All samples have 0 garages. Since this feature have only one occurrence, it's no longer useful for later stage of the work.

There is also an index column, which shall be dropped.

In [184]:
print(merged_df.shape)
merged_df.drop(["garage","index"], axis=1, inplace=True)
print(merged_df.shape)

(33701, 24)
(33701, 22)

In [185]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33701 entries, 0 to 33702
Data columns (total 22 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   area                                   33701 non-null  float64
 1   building_type                          33701 non-null  object
 2   building_nature                        33701 non-null  object
 3   image_url                              17265 non-null  object
 4   num_bath_rooms                         33701 non-null  float64
 5   num_bed_rooms                          33701 non-null  float64
 6   price                                  33701 non-null  float64
 7   property_description                   19029 non-null  object
 8   property_overview                      18509 non-null  object
 9   property_url                           33679 non-null  object
 10  purpose                                33701 non-null  object
 11  city                                   33701 non-null  object
 12  locality                               33701 non-null  object
 13  address                                28524 non-null  object
 14  id                                     33701 non-null  object
 15  relaxation_amenity_count               33701 non-null  int64
 16  security_amenity_count                 33701 non-null  int64
 17  maintenance_or_cleaning_amenity_count  33701 non-null  int64
 18  social_amenity_count                   33701 non-null  int64
 19  expendable_amenity_count               33701 non-null  int64
 20  service_staff_amenity_count            33701 non-null  int64
 21  unclassify_amenity_count               33701 non-null  int64
dtypes: float64(4), int64(7), object(11)
memory usage: 5.9+ MB

In [186]:
# Save merged datasets to csv
merged_df.to_csv(f"{merged_data_folder}/cleaned_merged_datasets.csv", index=False)

In [187]:
# Load saved csv (to make sure it was successfully save)
saved_merged_df = pd.read_csv(f"{merged_data_folder}/cleaned_merged_datasets.csv")
saved_merged_df.head(3).T

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,0,1,2
area,1185.0,2464.0,1140.0
building_type,Apartment,Apartment,Apartment
building_nature,Residential,Residential,Residential
image_url,https://images-cdn.bproperty.com/thumbnails/15...,https://images-cdn.bproperty.com/thumbnails/15...,https://images-cdn.bproperty.com/thumbnails/15...
num_bath_rooms,0.0,4.0,0.0
num_bed_rooms,3.0,3.0,3.0
price,6100000.0,28900000.0,7500000.0
property_description,Grab This 1185 Sq Ft Beautiful Flat Is Vacant ...,A Vibrant 2464 Sq Ft Residential Flat For Sale...,1140 Sq Ft Nicely Planned Apartment Is Availab...
property_overview,This flat consists of facilities you can think...,Ready to move in somewhere with everything nea...,A spacious 1140 Square Feet apartment in Mirp...
property_url,https://www.bproperty.com/en/property/details-...,https://www.bproperty.com/en/property/details-...,https://www.bproperty.com/en/property/details-...
purpose,Sale,Sale,Sale
city,Dhaka,Dhaka,Dhaka
locality,Khilgaon,Dhanmondi,Mirpur
address,NaN,NaN,"Block Ta, Section 6"
id,bproperty-0,bproperty-1,bproperty-2
relaxation_amenity_count,0,0,0
security_amenity_count,1,2,2
maintenance_or_cleaning_amenity_count,2,0,2
social_amenity_count,0,0,0
expendable_amenity_count,2,3,2
service_staff_amenity_count,0,0,0
unclassify_amenity_count,3,4,4