This notebook goal is to merge all cleaned csv files.

## TOC
1. [Importing cleaned csv files](#importing-cleaned-csvs)
1. [Merging cleaned csvs in one master dataset](#merging-cleaned-csvs)
    1. [Merging `dbstall`](#merging-bdstall)
    1. [Merging `toleter`](#merging-toleter)
    1. [Merging `rentalhomebd`](#merging-rentalhomebd)
    1. [Merging `pbazaar`](#merging-pbazaar)
    1. [Merging `flatforsale`](#merging-flatforsale)
    1. [Merging `iqibd`](#merging-iqibd)
    1. [Merging `btib_df`](#merging-btib_df)
1. [Tidying merged csvs](#tidying-merged-csvs)
1. [Creating csv without amenities](#creating-csv-without-amenities)
1. [Creating csv with amenities](#creating-csv-with-amenities)

In [1]:
import pandas as pd
import numpy as np

import os

In [2]:
# CSV folders

cleaned_data_folder="../../../data/CLeaned_Data"
merged_data_folder="../../../data/Merged_Data"

bproperty_folder= f"{cleaned_data_folder}/bproperty"
bdstall_folder= f"{cleaned_data_folder}/bdstall"
toleter_folder= f"{cleaned_data_folder}/toleter"
rentalhomebd_folder= f"{cleaned_data_folder}/rentalhomebd"
pbazaar_folder= f"{cleaned_data_folder}/pbazaar"
flatforsale_folder= f"{cleaned_data_folder}/flatforsaleindhaka_spider" 
iqibd_folder= f"{cleaned_data_folder}/iqibd"
btibrokeragebd_folder= f"{cleaned_data_folder}/btibrokeragebd"

<span id="importing-cleaned-csvs" ></span>

## Importing the cleaned csv files

In [3]:
# Importing bproperty cleaned csv
bproperty_df = pd.read_csv(f"{bproperty_folder}/cleaned_bproperty.csv")
bproperty_df.head(3).T

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,0,1,2
area,1185.0,2464.0,1140.0
building_type,Apartment,Apartment,Apartment
building_nature,Residential,Residential,Residential
image_url,https://images-cdn.bproperty.com/thumbnails/15...,https://images-cdn.bproperty.com/thumbnails/15...,https://images-cdn.bproperty.com/thumbnails/15...
num_bath_rooms,0,4,0
num_bed_rooms,3,3,3
price,6100000.0,28900000.0,7500000.0
property_description,Grab This 1185 Sq Ft Beautiful Flat Is Vacant ...,A Vibrant 2464 Sq Ft Residential Flat For Sale...,1140 Sq Ft Nicely Planned Apartment Is Availab...
property_overview,This flat consists of facilities you can think...,Ready to move in somewhere with everything nea...,A spacious 1140 Square Feet apartment in Mirp...
property_url,https://www.bproperty.com/en/property/details-...,https://www.bproperty.com/en/property/details-...,https://www.bproperty.com/en/property/details-...
purpose,Sale,Sale,Sale
city,Dhaka,Dhaka,Dhaka
locality,Khilgaon,Dhanmondi,Mirpur
address,NaN,NaN,"Block Ta, Section 6"
balcony-or-terrace-amenity,yes,yes,yes
flooring-amenity,yes,yes,yes
parking-spaces-amenity,1,1,NaN
view-amenity,yes,yes,yes
lobby-in-building-amenity,yes,yes,yes
electricity-backup-amenity,yes,yes,yes
elevators-in-building-amenity,1.0,2.0,1.0
floor-level-amenity,yes,yes,yes
cctv-security-amenity,yes,yes,yes
maintenance-staff-amenity,yes,NaN,yes
cleaning-services-amenity,yes,NaN,yes
service-elevators-amenity,NaN,yes,NaN
intercom-amenity,NaN,yes,yes
atm-facility-amenity,NaN,yes,NaN
freehold-amenity,NaN,NaN,yes
broadband-internet-amenity,NaN,NaN,yes
double-glazed-windows-amenity,NaN,NaN,NaN
storage-areas-amenity,NaN,NaN,NaN
24-hours-concierge-amenity,NaN,NaN,NaN
waste-disposal-amenity,NaN,NaN,NaN
lawn-or-garden-amenity,NaN,NaN,NaN
prayer-room-amenity,NaN,NaN,NaN
facilities-for-disabled-amenity,NaN,NaN,NaN
conference-room-amenity,NaN,NaN,NaN
furnished-amenity,NaN,NaN,NaN
swimming-pool-amenity,NaN,NaN,NaN
steam-room-amenity,NaN,NaN,NaN
sauna-amenity,NaN,NaN,NaN
jacuzzi-amenity,NaN,NaN,NaN
barbeque-area-amenity,NaN,NaN,NaN
central-heating-amenity,NaN,NaN,NaN
business-center-amenity,NaN,NaN,NaN
first-aid-medical-center-amenity,NaN,NaN,NaN
day-care-center-amenity,NaN,NaN,NaN
shared-kitchen-amenity,NaN,NaN,NaN
cafeteria-or-canteen-amenity,NaN,NaN,NaN
laundry-facility-amenity,NaN,NaN,NaN

In [4]:
bproperty_df.shape

(17329, 51)

In [5]:
bproperty_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17329 entries, 0 to 17328
Data columns (total 51 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   area                              17329 non-null  float64
 1   building_type                     17329 non-null  object
 2   building_nature                   17329 non-null  object
 3   image_url                         17312 non-null  object
 4   num_bath_rooms                    17329 non-null  int64
 5   num_bed_rooms                     17329 non-null  int64
 6   price                             17329 non-null  float64
 7   property_description              17329 non-null  object
 8   property_overview                 17329 non-null  object
 9   property_url                      17329 non-null  object
 10  purpose                           17329 non-null  object
 11  city                              17329 non-null  object
 12  locality                          17282 non-null  object
 13  address                           12602 non-null  object
 14  balcony-or-terrace-amenity        14279 non-null  object
 15  flooring-amenity                  16398 non-null  object
 16  parking-spaces-amenity            8887 non-null   object
 17  view-amenity                      16413 non-null  object
 18  lobby-in-building-amenity         9257 non-null   object
 19  electricity-backup-amenity        10127 non-null  object
 20  elevators-in-building-amenity     12749 non-null  float64
 21  floor-level-amenity               15396 non-null  object
 22  cctv-security-amenity             10312 non-null  object
 23  maintenance-staff-amenity         9607 non-null   object
 24  cleaning-services-amenity         12445 non-null  object
 25  service-elevators-amenity         3317 non-null   object
 26  intercom-amenity                  5222 non-null   object
 27  atm-facility-amenity              550 non-null    object
 28  freehold-amenity                  5367 non-null   object
 29  broadband-internet-amenity        6190 non-null   object
 30  double-glazed-windows-amenity     5851 non-null   object
 31  storage-areas-amenity             1390 non-null   object
 32  24-hours-concierge-amenity        7142 non-null   object
 33  waste-disposal-amenity            4288 non-null   object
 34  lawn-or-garden-amenity            507 non-null    object
 35  prayer-room-amenity               910 non-null    object
 36  facilities-for-disabled-amenity   297 non-null    object
 37  conference-room-amenity           540 non-null    object
 38  furnished-amenity                 523 non-null    object
 39  swimming-pool-amenity             98 non-null     object
 40  steam-room-amenity                55 non-null     object
 41  sauna-amenity                     41 non-null     object
 42  jacuzzi-amenity                   47 non-null     object
 43  barbeque-area-amenity             193 non-null    object
 44  central-heating-amenity           531 non-null    object
 45  business-center-amenity           447 non-null    object
 46  first-aid-medical-center-amenity  130 non-null    object
 47  day-care-center-amenity           144 non-null    object
 48  shared-kitchen-amenity            51 non-null     object
 49  cafeteria-or-canteen-amenity      369 non-null    object
 50  laundry-facility-amenity          66 non-null     object
dtypes: float64(3), int64(2), object(46)
memory usage: 6.7+ MB

In [6]:
# Creating an id column for the dataframe
bproperty_df["id"] = bproperty_df.index.values
bproperty_df["id"] = bproperty_df["id"].apply(lambda x: "bproperty-"+str(x) )
bproperty_df["id"]

0            bproperty-0
1            bproperty-1
2            bproperty-2
3            bproperty-3
4            bproperty-4
              ...
17324    bproperty-17324
17325    bproperty-17325
17326    bproperty-17326
17327    bproperty-17327
17328    bproperty-17328
Name: id, Length: 17329, dtype: object

In [7]:
# Importing bdstall cleaned csv
bdstall_df = pd.read_csv(f"{bdstall_folder}/Farjana_bdstall-cleaned-Umesh.csv")
bdstall_df.head(3).T

,0,1,2
area,1350.0,1250.0,1252.0
building_type,Apartment,Apartment,Apartment
building_nature,NaN,NaN,NaN
num_bath_rooms,3.0,3.0,3.0
num_bed_rooms,3.0,3.0,3.0
price,1500000,2500000,5200000
property_description,Shares of 1350 Sqft land share in Banasree M B...,Shares of 1250 Sqft land will be sold on the o...,A 1252 Sqft flat will be sold in Arshi Nagar a...
property_overview,NaN,NaN,NaN
property_url,https://www.bdstall.com/details/near-hatirjhee...,https://www.bdstall.com/details/banasree-near-...,https://www.bdstall.com/details/near-mohammadp...
purpose,Sale,Sale,Sale
city,NaN,NaN,NaN
locality,NaN,Rampura,NaN
address,Banasree M Block.,Opposite Banasree Police Park,Arshi Nagar

In [8]:
bdstall_df.shape

(58, 13)

In [9]:
bdstall_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   area                  58 non-null     float64
 1   building_type         58 non-null     object
 2   building_nature       0 non-null      float64
 3   num_bath_rooms        58 non-null     float64
 4   num_bed_rooms         58 non-null     float64
 5   price                 58 non-null     int64
 6   property_description  58 non-null     object
 7   property_overview     0 non-null      float64
 8   property_url          58 non-null     object
 9   purpose               56 non-null     object
 10  city                  20 non-null     object
 11  locality              26 non-null     object
 12  address               49 non-null     object
dtypes: float64(5), int64(1), object(7)
memory usage: 6.0+ KB

In [10]:
# Creating an id column for the dataframe
bdstall_df["id"] = bdstall_df.index.values
bdstall_df["id"] = bdstall_df["id"].apply(lambda x: "bdstall-"+str(x) )
bdstall_df["id"]

0      bdstall-0
1      bdstall-1
2      bdstall-2
3      bdstall-3
4      bdstall-4
5      bdstall-5
6      bdstall-6
7      bdstall-7
8      bdstall-8
9      bdstall-9
10    bdstall-10
11    bdstall-11
12    bdstall-12
13    bdstall-13
14    bdstall-14
15    bdstall-15
16    bdstall-16
17    bdstall-17
18    bdstall-18
19    bdstall-19
20    bdstall-20
21    bdstall-21
22    bdstall-22
23    bdstall-23
24    bdstall-24
25    bdstall-25
26    bdstall-26
27    bdstall-27
28    bdstall-28
29    bdstall-29
30    bdstall-30
31    bdstall-31
32    bdstall-32
33    bdstall-33
34    bdstall-34
35    bdstall-35
36    bdstall-36
37    bdstall-37
38    bdstall-38
39    bdstall-39
40    bdstall-40
41    bdstall-41
42    bdstall-42
43    bdstall-43
44    bdstall-44
45    bdstall-45
46    bdstall-46
47    bdstall-47
48    bdstall-48
49    bdstall-49
50    bdstall-50
51    bdstall-51
52    bdstall-52
53    bdstall-53
54    bdstall-54
55    bdstall-55
56    bdstall-56
57    bdstall-57
Name: id, dtype: object

In [11]:
# Importing toleter cleaned csv
toleter_df = pd.read_csv(f"{toleter_folder}/Farjana_toleter-cleaned-Umesh.csv")
toleter_df.head(3).T

,0,1,2
area,NaN,NaN,4035.0
building_type,Apartment,Apartment,Apartment
building_nature,NaN,NaN,NaN
num_bath_rooms,1.0,1.0,1.0
num_bed_rooms,1.0,1.0,1.0
price,31000.0,36000.0,36000.0
property_description,"Short-Term Rentals are available with Kitchen,...","Short-Term Rentals with Kitchen, TV, Refrigera...",Two Room Furnished Serviced Apartment RENT in ...
property_overview,"Built in Year : 2020,Parking Spaces,Electricit...","Built in Year : 2020,Parking Spaces,Electricit...","Built in Year : 2020,Size 375 Sq. Meter,Floors..."
property_url,https://www.toleter.com/property/bd1683/,https://www.toleter.com/property/bd1635/,https://www.toleter.com/property/bd1650/
purpose,Rent,Rent,Rent
city,NaN,NaN,NaN
locality,Bashundhara R/A,Bashundhara R/A,Bashundhara R/A
address,"Jcx Tower, 1136/A, Block-I, Level 5, Japan Str...","Jcx Tower, 1136/A, Block-I, Level 5, Japan Str...","Jcx Tower, 1136/A, Block-I, Level 5 Japan Street,"
maintenance-staff-amenity,yes,yes,yes
security-staff-amenity,yes,yes,yes
facilities-for-disabled-amenity,NaN,NaN,yes

In [12]:
toleter_df.shape

(258, 16)

In [13]:
toleter_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 16 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   area                             169 non-null    float64
 1   building_type                    258 non-null    object
 2   building_nature                  0 non-null      float64
 3   num_bath_rooms                   258 non-null    float64
 4   num_bed_rooms                    258 non-null    float64
 5   price                            258 non-null    float64
 6   property_description             251 non-null    object
 7   property_overview                224 non-null    object
 8   property_url                     258 non-null    object
 9   purpose                          258 non-null    object
 10  city                             40 non-null     object
 11  locality                         161 non-null    object
 12  address                          257 non-null    object
 13  maintenance-staff-amenity        170 non-null    object
 14  security-staff-amenity           168 non-null    object
 15  facilities-for-disabled-amenity  45 non-null     object
dtypes: float64(5), object(11)
memory usage: 32.4+ KB

In [14]:
# Creating an id column for the dataframe
toleter_df["id"] = toleter_df.index.values
toleter_df["id"] = toleter_df["id"].apply(lambda x: "toleter-"+str(x) )
toleter_df["id"]

0        toleter-0
1        toleter-1
2        toleter-2
3        toleter-3
4        toleter-4
          ...
253    toleter-253
254    toleter-254
255    toleter-255
256    toleter-256
257    toleter-257
Name: id, Length: 258, dtype: object

In [15]:
# Importing rentalhomebd cleaned csv
rentalhomebd_df = pd.read_csv(f"{rentalhomebd_folder}/cleaned_rentalhomebd.csv")
rentalhomebd_df.head(3).T

,0,1,2
title,A FULLY FURNISHED APARTMENT @Gulshan,A furnished apartment of 3800 SQFT @Gulshan,A furnished apartment of 2300SQFT @Gulshan area
num_bed_rooms,3 bd,3 bd,3 bd
num_bath_rooms,4 ba,3 ba,3 ba
area,2800.0,3800.0,2300.0
building_type,Apartment/Flats,Apartment/Flats,Apartment/Flats
purpose,Rent,Rent,Rent
price,210000.0,190000.0,170000.0
property_description,The furnished apartment is now up for rent tha...,The furnished apartment is now up for rent tha...,A 2300 SQFT nicely viewed apartment at Gulshan...
property_url,http://www.rentalhomebd.com/properties/a-fully...,http://www.rentalhomebd.com/properties/a-furni...,http://www.rentalhomebd.com/properties/a-furni...
wifi-amenity,No,No,No
landscape-garden-amenity,No,No,No
wasa-amenity,Yes,Yes,Yes
internet-amenity,No,No,No
emergency-exit-amenity,No,No,No
electricity-amenity,Yes,Yes,Yes
child-allowed-amenity,Yes,Yes,Yes
gymnasium-amenity,No,No,No
community-center-amenity,No,No,No
elevators-in-building-amenity,Yes,Yes,Yes
guard-room-amenity,No,No,No
intercom-amenity,Yes,Yes,Yes
fire-alarm-amenity,No,No,No
cctv-security-amenity,Yes,Yes,Yes
pet-allowed-amenity,No,No,No
swimming-pool-amenity,No,No,No
safety-grill-amenity,Yes,Yes,Yes
govt-gas-amenity,Yes,Yes,Yes
visitor-car-parking-amenity,No,No,No
hot-water-amenity,No,Yes,No
security-guard-amenity,Yes,Yes,Yes
rooftop-garden-amenity,No,No,No
driver-room-amenity,No,No,No
building_nature,Residential,Residential,Residential
city,Dhaka,Dhaka,Dhaka
locality,Gulshan,Gulshan,Gulshan
address,Gulshan-1,Gulshan-1,Gulshan-1
servant-room-amenity,NaN,NaN,NaN
floor number-amenity,11.0,4.0,4.0
available-for-amenity,family,family,family
furnished-status-amenity,furnished,furnished,furnished
advance-deposit-amenity,420000.0,280000.0,340000.0
drawing-room-amenity,yes,yes,yes
floor-type-amenity,NaN,NaN,NaN
dining-room-amenity,yes,yes,yes
kitchen-amenity,1.0,1.0,1.0
negotiable-amenity,yes,yes,yes
parking-spaces-amenity,available,available,available
service-charge-amenity,12000.0,NaN,10000.0
staff-toilet-amenity,NaN,NaN,NaN
balcony-or-terrace-amenity,NaN,NaN,NaN
property-condition-amenity,new,new,new
living-room-amenity,yes,yes,yes

In [16]:
rentalhomebd_df.shape

(441, 52)

In [17]:
rentalhomebd_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 441 entries, 0 to 440
Data columns (total 52 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   title                          441 non-null    object
 1   num_bed_rooms                  441 non-null    object
 2   num_bath_rooms                 441 non-null    object
 3   area                           441 non-null    float64
 4   building_type                  441 non-null    object
 5   purpose                        441 non-null    object
 6   price                          441 non-null    float64
 7   property_description           441 non-null    object
 8   property_url                   441 non-null    object
 9   wifi-amenity                   441 non-null    object
 10  landscape-garden-amenity       441 non-null    object
 11  wasa-amenity                   441 non-null    object
 12  internet-amenity               441 non-null    object
 13  emergency-exit-amenity         441 non-null    object
 14  electricity-amenity            441 non-null    object
 15  child-allowed-amenity          441 non-null    object
 16  gymnasium-amenity              441 non-null    object
 17  community-center-amenity       441 non-null    object
 18  elevators-in-building-amenity  441 non-null    object
 19  guard-room-amenity             441 non-null    object
 20  intercom-amenity               441 non-null    object
 21  fire-alarm-amenity             441 non-null    object
 22  cctv-security-amenity          441 non-null    object
 23  pet-allowed-amenity            441 non-null    object
 24  swimming-pool-amenity          441 non-null    object
 25  safety-grill-amenity           441 non-null    object
 26  govt-gas-amenity               441 non-null    object
 27  visitor-car-parking-amenity    441 non-null    object
 28  hot-water-amenity              441 non-null    object
 29  security-guard-amenity         441 non-null    object
 30  rooftop-garden-amenity         441 non-null    object
 31  driver-room-amenity            441 non-null    object
 32  building_nature                441 non-null    object
 33  city                           441 non-null    object
 34  locality                       355 non-null    object
 35  address                        259 non-null    object
 36  servant-room-amenity           284 non-null    object
 37  floor number-amenity           437 non-null    float64
 38  available-for-amenity          439 non-null    object
 39  furnished-status-amenity       441 non-null    object
 40  advance-deposit-amenity        425 non-null    float64
 41  drawing-room-amenity           383 non-null    object
 42  floor-type-amenity             56 non-null     object
 43  dining-room-amenity            384 non-null    object
 44  kitchen-amenity                385 non-null    float64
 45  negotiable-amenity             127 non-null    object
 46  parking-spaces-amenity         392 non-null    object
 47  service-charge-amenity         338 non-null    float64
 48  staff-toilet-amenity           320 non-null    object
 49  balcony-or-terrace-amenity     97 non-null     object
 50  property-condition-amenity     441 non-null    object
 51  living-room-amenity            200 non-null    object
dtypes: float64(6), object(46)
memory usage: 179.3+ KB

In [18]:
rentalhomebd_df["num_bath_rooms"].unique()

array([' 4 ba', ' 3 ba', ' 5 ba', ' 0 ba', ' 2 ba', ' 7 ba', ' 6 ba',
       ' 9 ba', ' 1 ba'], dtype=object)

In [19]:
rentalhomebd_df["num_bed_rooms"].unique()

array([' 3 bd', ' 5 bd', ' 4 bd', ' 0 bd', ' 2 bd', ' 1 bd', ' 8 bd'],
      dtype=object)

`num_bath_rooms` and `num_bath_rooms` are string. They should be converted to int.

In [20]:
# Removing the units (ba, bd, ...) in num_bed_rooms and num_bath_rooms
rentalhomebd_df["num_bed_rooms"] = rentalhomebd_df["num_bed_rooms"].apply(lambda x: x.split(" ")[1] )
rentalhomebd_df["num_bath_rooms"] = rentalhomebd_df["num_bath_rooms"].apply(lambda x: x.split(" ")[1] )

# Converting num_bed_rooms and num_bath_rooms to integer
rentalhomebd_df["num_bed_rooms"] = rentalhomebd_df["num_bed_rooms"].astype(int)
rentalhomebd_df["num_bath_rooms"] = rentalhomebd_df["num_bath_rooms"].astype(int)

# Checking type conversion was succesful
rentalhomebd_df["num_bed_rooms"].dtype, rentalhomebd_df["num_bath_rooms"].dtype

(dtype('int32'), dtype('int32'))

In [21]:
# Creating an id column for the dataframe
rentalhomebd_df["id"] = rentalhomebd_df.index.values
rentalhomebd_df["id"] = rentalhomebd_df["id"].apply(lambda x: "rentalhomebd-"+str(x) )
rentalhomebd_df["id"]

0        rentalhomebd-0
1        rentalhomebd-1
2        rentalhomebd-2
3        rentalhomebd-3
4        rentalhomebd-4
             ...
436    rentalhomebd-436
437    rentalhomebd-437
438    rentalhomebd-438
439    rentalhomebd-439
440    rentalhomebd-440
Name: id, Length: 441, dtype: object

In [22]:
# Importing pbazaar cleaned csv
pbazaar_df = pd.read_csv(f"{pbazaar_folder}/pbazaar-cleaned_WithSomeExtraInfo-Umesh.csv")
pbazaar_df.head(3).T

,0,1,2
area,200.0,10.0,150.0
building_type,Shop,Shop,Shop
building_nature,Commercial,Commercial,Commercial
num_bath_rooms,0.0,0.0,0.0
num_bed_rooms,0.0,0.0,0.0
price,8000.0,833.3,13999.5
property_description,NaN,NaN,NaN
property_overview,NaN,NaN,NaN
property_url,https://pbazaar.com//en/200-sft-commercial-spa...,https://pbazaar.com//en/120-sft-shop-rent-at-m...,https://pbazaar.com//en/150-sft-shop-rent-at-m...
purpose,Rent,Rent,Rent
city,Dhaka,Dhaka,Dhaka
locality,Mirpur,Mirpur,Mirpur
address,Bangladesh,Bangladesh,Bangladesh
parking-spaces-amenity,NaN,NaN,NaN
price_info_extraInfo,Per Sft,Per Sft,Per Sft
dining_extraInfo,NaN,NaN,NaN
floor_extraInfo,NaN,NaN,NaN
floor_type_extraInfo,NaN,NaN,NaN
living_extraInfo,NaN,NaN,NaN
road_width_ft_extraInfo,NaN,NaN,NaN
total_floor_extraInfo,NaN,NaN,NaN
view_extraInfo,NaN,NaN,NaN

In [23]:
# Creating an id column for the dataframe
pbazaar_df["id"] = pbazaar_df.index.values
pbazaar_df["id"] = pbazaar_df["id"].apply(lambda x: "pbazaar-"+str(x) )
pbazaar_df["id"]

0            pbazaar-0
1            pbazaar-1
2            pbazaar-2
3            pbazaar-3
4            pbazaar-4
             ...
17088    pbazaar-17088
17089    pbazaar-17089
17090    pbazaar-17090
17091    pbazaar-17091
17092    pbazaar-17092
Name: id, Length: 17093, dtype: object

In [24]:
# Importing flatforsale cleaned csv
flatforsale_df = pd.read_csv(f"{flatforsale_folder}/cleaned_flatforsaleindhaka_spider.csv")
flatforsale_df.head(3).T

                                         0             1              2
city                                 Dhaka         Dhaka          Dhaka
locality                         Motijheel           NaN      Baridhara
address                          Old Town    Green Road    Kalachadpur
area                                 100.0        1150.0          850.0
building_type           Commerical - Other     Apartment      Apartment
building_nature                 Commercial   Residential    Residential
num_bath_rooms                         0.0           3.0            2.0
num_bed_rooms                          0.0           3.0            2.0
price                            2000000.0     6900000.0      3357500.0
purpose                               Sale          Sale           Sale
parking-spaces-amenity                 0.0           1.0            1.0
property_description                   NaN           NaN            NaN
property_overview                      NaN           NaN            NaN

In [25]:
flatforsale_df.shape

(25, 13)

In [26]:
flatforsale_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   city                    25 non-null     object
 1   locality                24 non-null     object
 2   address                 12 non-null     object
 3   area                    25 non-null     float64
 4   building_type           25 non-null     object
 5   building_nature         25 non-null     object
 6   num_bath_rooms          25 non-null     float64
 7   num_bed_rooms           25 non-null     float64
 8   price                   25 non-null     float64
 9   purpose                 25 non-null     object
 10  parking-spaces-amenity  25 non-null     float64
 11  property_description    0 non-null      float64
 12  property_overview       0 non-null      float64
dtypes: float64(7), object(6)
memory usage: 2.7+ KB

In [27]:
# Creating an id column for the dataframe
flatforsale_df["id"] = flatforsale_df.index.values
flatforsale_df["id"] = flatforsale_df["id"].apply(lambda x: "flatforsale-"+str(x) )
flatforsale_df["id"]

0      flatforsale-0
1      flatforsale-1
2      flatforsale-2
3      flatforsale-3
4      flatforsale-4
5      flatforsale-5
6      flatforsale-6
7      flatforsale-7
8      flatforsale-8
9      flatforsale-9
10    flatforsale-10
11    flatforsale-11
12    flatforsale-12
13    flatforsale-13
14    flatforsale-14
15    flatforsale-15
16    flatforsale-16
17    flatforsale-17
18    flatforsale-18
19    flatforsale-19
20    flatforsale-20
21    flatforsale-21
22    flatforsale-22
23    flatforsale-23
24    flatforsale-24
Name: id, dtype: object

In [28]:
# Importing iqibd cleaned csv
iqibd_df = pd.read_csv(f"{iqibd_folder}/cleaned_iqibd_Sunitha.csv")
iqibd_df.head(3).T

,0,1,2
air_conditioning-amenity,NaN,NaN,NaN
area,1380.0,1470.0,1500.0
balcony-or-terrace-amenity,NaN,NaN,NaN
building_type,Apartment,Apartment,Apartment
cctv-security-amenity,yes,NaN,yes
central-heating-amenity,NaN,NaN,NaN
elevators-in-building-amenity,yes,yes,yes
emergency_stairs-amenity,yes,yes,yes
fitness_center-amenity,NaN,NaN,NaN
floor,5th,9th,4th
garage,1.0,1.0,1.0
lawn-or-garden-amenity,NaN,NaN,NaN
generator-amenity,yes,yes,yes
government_gas-amenity,NaN,NaN,yes
interior,Un-Furnished,Un-Furnished,Un-Furnished
land_size,3.5 Katha,5 Katha,3 Katha
num_balcony,4.0,3.0,4.0
num_bath_rooms,3,3,4
num_bed_rooms,3,3,3
parking-spaces-amenity,yes,yes,yes
pets_allow-amenity,NaN,NaN,NaN
price,9800000.0,9500000.0,10500000.0
property_url,https://iqibd.com/properties/306,https://iqibd.com/properties/295,https://iqibd.com/properties/298
reception-amenity,yes,yes,yes
security-amenity,yes,yes,yes
servant_room-amenity,NaN,NaN,NaN
purpose,Sale,Sale,Sale
swimming-pool-amenity,NaN,NaN,NaN
tv_cable-amenity,yes,yes,yes
unit,Single Unit,9A & 9B,4A
wifi-amenity,yes,NaN,yes
year_built,2019.0,2023.0,2023.0
building_nature,Residential,Residential,Residential
city,NaN,NaN,NaN
address,Aftabnagar,Mirpur,Mohammadpur
property_description,NaN,NaN,NaN
property_overview,NaN,NaN,NaN

In [29]:
iqibd_df.shape

(261, 37)

In [30]:
iqibd_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261 entries, 0 to 260
Data columns (total 37 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   air_conditioning-amenity       48 non-null     object
 1   area                           261 non-null    float64
 2   balcony-or-terrace-amenity     19 non-null     object
 3   building_type                  261 non-null    object
 4   cctv-security-amenity          214 non-null    object
 5   central-heating-amenity        5 non-null      object
 6   elevators-in-building-amenity  253 non-null    object
 7   emergency_stairs-amenity       183 non-null    object
 8   fitness_center-amenity         20 non-null     object
 9   floor                          260 non-null    object
 10  garage                         199 non-null    float64
 11  lawn-or-garden-amenity         8 non-null      object
 12  generator-amenity              257 non-null    object
 13  government_gas-amenity         18 non-null     object
 14  interior                       261 non-null    object
 15  land_size                      192 non-null    object
 16  num_balcony                    242 non-null    float64
 17  num_bath_rooms                 261 non-null    int64
 18  num_bed_rooms                  261 non-null    int64
 19  parking-spaces-amenity         205 non-null    object
 20  pets_allow-amenity             2 non-null      object
 21  price                          261 non-null    float64
 22  property_url                   261 non-null    object
 23  reception-amenity              224 non-null    object
 24  security-amenity               253 non-null    object
 25  servant_room-amenity           32 non-null     object
 26  purpose                        261 non-null    object
 27  swimming-pool-amenity          16 non-null     object
 28  tv_cable-amenity               205 non-null    object
 29  unit                           241 non-null    object
 30  wifi-amenity                   240 non-null    object
 31  year_built                     256 non-null    float64
 32  building_nature                261 non-null    object
 33  city                           28 non-null     object
 34  address                        261 non-null    object
 35  property_description           0 non-null      float64
 36  property_overview              0 non-null      float64
dtypes: float64(7), int64(2), object(28)
memory usage: 75.6+ KB

In [31]:
# Creating an id column for the dataframe
iqibd_df["id"] = iqibd_df.index.values
iqibd_df["id"] = iqibd_df["id"].apply(lambda x: "iqibd-"+str(x) )
iqibd_df["id"]

0        iqibd-0
1        iqibd-1
2        iqibd-2
3        iqibd-3
4        iqibd-4
         ...
256    iqibd-256
257    iqibd-257
258    iqibd-258
259    iqibd-259
260    iqibd-260
Name: id, Length: 261, dtype: object

In [32]:
# Importing btibrokeragebd cleaned csv
btib_df = pd.read_csv(f"{btibrokeragebd_folder}/cleaned_btibrokeragebd.csv")
btib_df.head(3).T

,0,1,2
area,1517.0,935.0,1636.0
building_type,NaN,NaN,NaN
building_nature,Residential,Residential,Residential
image_url,NaN,NaN,NaN
num_bath_rooms,3.0,2.0,4.0
num_bed_rooms,3.0,2.0,3.0
price,12000000.0,5700000.0,14000000.0
property_description,Are you searching for a beautiful home to buy ...,Are you searching for a beautiful home to buy ...,Are you searching for a beautiful home to buy ...
property_overview,NaN,NaN,NaN
property_url,https://btibrokeragebd.com/property/1517-sft-a...,https://btibrokeragebd.com/property/935-sft-ap...,https://btibrokeragebd.com/property/1636-sft-a...
purpose,Sale,Sale,Sale
city,Dhaka,Dhaka,Dhaka
locality,Uttara,Uttarkhan,Uttara
address,NaN,NaN,NaN
Intercom-amenity,True,False,True
Air-Condition Provision-amenity,True,True,True
Fire Extinguisher-amenity,True,True,True
Reception Desk & Lobby-amenity,True,False,True
Prayer Room-amenity,False,False,False
Cable TV Provision-amenity,True,True,True
Lift-amenity,True,True,True
Generator-amenity,True,True,True
Tiled Floor-amenity,True,True,True
Emergency Exit-amenity,False,True,True
Built-in Kitchen Cabinet-amenity,False,False,False
Filtered Water-amenity,False,False,False
Dry Kitchen-amenity,False,False,False
Electricity Supply-amenity,True,True,True
Open Terrace-amenity,False,False,False
Gas Supply-amenity,False,True,True
Parking-amenity,True,False,True

In [33]:
# Creating an id column for the dataframe
btib_df["id"] = btib_df.index.values
btib_df["id"] = btib_df["id"].apply(lambda x: "btibrokeragebd-"+str(x) )
btib_df["id"]

0        btibrokeragebd-0
1        btibrokeragebd-1
2        btibrokeragebd-2
3        btibrokeragebd-3
4        btibrokeragebd-4
              ...
176    btibrokeragebd-176
177    btibrokeragebd-177
178    btibrokeragebd-178
179    btibrokeragebd-179
180    btibrokeragebd-180
Name: id, Length: 181, dtype: object

<span id="merging-cleaned-csvs" ></span>

## Merging cleaned csv files

In [34]:
# First step: the merged dataframe is based on the overall structure of bproperty, which is the master dataset
merged_df = bproperty_df.copy()
merged_df.shape

(17329, 52)

<span id="merging-bdstall" ></span>

### Merging `bdstall_df` to master dataset

In [35]:
bdstall_df.shape

(58, 14)

In [36]:
bdstall_df.head(3).T

,0,1,2
area,1350.0,1250.0,1252.0
building_type,Apartment,Apartment,Apartment
building_nature,NaN,NaN,NaN
num_bath_rooms,3.0,3.0,3.0
num_bed_rooms,3.0,3.0,3.0
price,1500000,2500000,5200000
property_description,Shares of 1350 Sqft land share in Banasree M B...,Shares of 1250 Sqft land will be sold on the o...,A 1252 Sqft flat will be sold in Arshi Nagar a...
property_overview,NaN,NaN,NaN
property_url,https://www.bdstall.com/details/near-hatirjhee...,https://www.bdstall.com/details/banasree-near-...,https://www.bdstall.com/details/near-mohammadp...
purpose,Sale,Sale,Sale
city,NaN,NaN,NaN
locality,NaN,Rampura,NaN
address,Banasree M Block.,Opposite Banasree Police Park,Arshi Nagar
id,bdstall-0,bdstall-1,bdstall-2

**Remark**: Looking at the variables in `bdstall`, we can confirm that it can be merged to the `merged_df` since the two datasets have similar variables.

In [37]:
merged_df.shape

(17329, 52)

In [38]:
bdstall_df.shape

(58, 14)

In [39]:
merged_df.shape[0] + bdstall_df.shape[0]

17387

In [40]:
merged_df = pd.concat([merged_df, bdstall_df])
merged_df.shape

(17387, 52)

<span id="merging-toleter" ></span>

### Merging `toleter_df` to master dataset

In [41]:
toleter_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 17 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   area                             169 non-null    float64
 1   building_type                    258 non-null    object
 2   building_nature                  0 non-null      float64
 3   num_bath_rooms                   258 non-null    float64
 4   num_bed_rooms                    258 non-null    float64
 5   price                            258 non-null    float64
 6   property_description             251 non-null    object
 7   property_overview                224 non-null    object
 8   property_url                     258 non-null    object
 9   purpose                          258 non-null    object
 10  city                             40 non-null     object
 11  locality                         161 non-null    object
 12  address                          257 non-null    object
 13  maintenance-staff-amenity        170 non-null    object
 14  security-staff-amenity           168 non-null    object
 15  facilities-for-disabled-amenity  45 non-null     object
 16  id                               258 non-null    object
dtypes: float64(5), object(12)
memory usage: 34.4+ KB

**Remark**: The variables here are pretty similar to those of the master dataset. The merge should be able to proceed successfully.

In [42]:
toleter_df.shape

(258, 17)

In [43]:
merged_df.shape[0] + toleter_df.shape[0]

17645

In [44]:
merged_df = pd.concat([merged_df, toleter_df])
merged_df.shape

(17645, 53)

<span id="merging-rentalhomebd" ></span>

### Merging `rentalhomebd_df` to master dataset

In [45]:
rentalhomebd_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 441 entries, 0 to 440
Data columns (total 53 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   title                          441 non-null    object
 1   num_bed_rooms                  441 non-null    int32
 2   num_bath_rooms                 441 non-null    int32
 3   area                           441 non-null    float64
 4   building_type                  441 non-null    object
 5   purpose                        441 non-null    object
 6   price                          441 non-null    float64
 7   property_description           441 non-null    object
 8   property_url                   441 non-null    object
 9   wifi-amenity                   441 non-null    object
 10  landscape-garden-amenity       441 non-null    object
 11  wasa-amenity                   441 non-null    object
 12  internet-amenity               441 non-null    object
 13  emergency-exit-amenity         441 non-null    object
 14  electricity-amenity            441 non-null    object
 15  child-allowed-amenity          441 non-null    object
 16  gymnasium-amenity              441 non-null    object
 17  community-center-amenity       441 non-null    object
 18  elevators-in-building-amenity  441 non-null    object
 19  guard-room-amenity             441 non-null    object
 20  intercom-amenity               441 non-null    object
 21  fire-alarm-amenity             441 non-null    object
 22  cctv-security-amenity          441 non-null    object
 23  pet-allowed-amenity            441 non-null    object
 24  swimming-pool-amenity          441 non-null    object
 25  safety-grill-amenity           441 non-null    object
 26  govt-gas-amenity               441 non-null    object
 27  visitor-car-parking-amenity    441 non-null    object
 28  hot-water-amenity              441 non-null    object
 29  security-guard-amenity         441 non-null    object
 30  rooftop-garden-amenity         441 non-null    object
 31  driver-room-amenity            441 non-null    object
 32  building_nature                441 non-null    object
 33  city                           441 non-null    object
 34  locality                       355 non-null    object
 35  address                        259 non-null    object
 36  servant-room-amenity           284 non-null    object
 37  floor number-amenity           437 non-null    float64
 38  available-for-amenity          439 non-null    object
 39  furnished-status-amenity       441 non-null    object
 40  advance-deposit-amenity        425 non-null    float64
 41  drawing-room-amenity           383 non-null    object
 42  floor-type-amenity             56 non-null     object
 43  dining-room-amenity            384 non-null    object
 44  kitchen-amenity                385 non-null    float64
 45  negotiable-amenity             127 non-null    object
 46  parking-spaces-amenity         392 non-null    object
 47  service-charge-amenity         338 non-null    float64
 48  staff-toilet-amenity           320 non-null    object
 49  balcony-or-terrace-amenity     97 non-null     object
 50  property-condition-amenity     441 non-null    object
 51  living-room-amenity            200 non-null    object
 52  id                             441 non-null    object
dtypes: float64(6), int32(2), object(45)
memory usage: 179.3+ KB

In [46]:
rentalhomebd_df.shape

(441, 53)

In [47]:
merged_df.shape[0] + rentalhomebd_df.shape[0]

18086

In [48]:
merged_df = pd.concat([merged_df, rentalhomebd_df])
merged_df.shape

(18086, 87)

<span id="merging-pbazaar" ></span>

### Merging `pbazaar_df` to master dataset

In [49]:
pbazaar_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17093 entries, 0 to 17092
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   area                     14910 non-null  float64
 1   building_type            17093 non-null  object
 2   building_nature          17093 non-null  object
 3   num_bath_rooms           17093 non-null  float64
 4   num_bed_rooms            17093 non-null  float64
 5   price                    16025 non-null  float64
 6   property_description     0 non-null      float64
 7   property_overview        0 non-null      float64
 8   property_url             17093 non-null  object
 9   purpose                  17081 non-null  object
 10  city                     17046 non-null  object
 11  locality                 17038 non-null  object
 12  address                  17046 non-null  object
 13  parking-spaces-amenity   8084 non-null   float64
 14  price_info_extraInfo     16177 non-null  object
 15  dining_extraInfo         13263 non-null  object
 16  floor_extraInfo          437 non-null    float64
 17  floor_type_extraInfo     13916 non-null  object
 18  living_extraInfo         13038 non-null  object
 19  road_width_ft_extraInfo  645 non-null    float64
 20  total_floor_extraInfo    1354 non-null   float64
 21  view_extraInfo           1566 non-null   object
 22  id                       17093 non-null  object
dtypes: float64(10), object(13)
memory usage: 3.0+ MB

In [50]:
pbazaar_df.shape

(17093, 23)

In [51]:
merged_df.shape[0] + pbazaar_df.shape[0]

35179

In [52]:
merged_df = pd.concat([merged_df, pbazaar_df])
merged_df.shape

(35179, 95)

<span id="merging-flatforsale" ></span>

### Merging `flatforsale_df` to master dataset

In [53]:
flatforsale_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   city                    25 non-null     object
 1   locality                24 non-null     object
 2   address                 12 non-null     object
 3   area                    25 non-null     float64
 4   building_type           25 non-null     object
 5   building_nature         25 non-null     object
 6   num_bath_rooms          25 non-null     float64
 7   num_bed_rooms           25 non-null     float64
 8   price                   25 non-null     float64
 9   purpose                 25 non-null     object
 10  parking-spaces-amenity  25 non-null     float64
 11  property_description    0 non-null      float64
 12  property_overview       0 non-null      float64
 13  id                      25 non-null     object
dtypes: float64(7), object(7)
memory usage: 2.9+ KB

In [54]:
flatforsale_df.shape

(25, 14)

In [55]:
merged_df.shape[0] + flatforsale_df.shape[0]

35204

In [56]:
merged_df = pd.concat([merged_df, flatforsale_df])
merged_df.shape

(35204, 95)

<span id="merging-iqibd" ></span>

### Merging `iqibd_df` to master dataset

In [57]:
iqibd_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261 entries, 0 to 260
Data columns (total 38 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   air_conditioning-amenity       48 non-null     object
 1   area                           261 non-null    float64
 2   balcony-or-terrace-amenity     19 non-null     object
 3   building_type                  261 non-null    object
 4   cctv-security-amenity          214 non-null    object
 5   central-heating-amenity        5 non-null      object
 6   elevators-in-building-amenity  253 non-null    object
 7   emergency_stairs-amenity       183 non-null    object
 8   fitness_center-amenity         20 non-null     object
 9   floor                          260 non-null    object
 10  garage                         199 non-null    float64
 11  lawn-or-garden-amenity         8 non-null      object
 12  generator-amenity              257 non-null    object
 13  government_gas-amenity         18 non-null     object
 14  interior                       261 non-null    object
 15  land_size                      192 non-null    object
 16  num_balcony                    242 non-null    float64
 17  num_bath_rooms                 261 non-null    int64
 18  num_bed_rooms                  261 non-null    int64
 19  parking-spaces-amenity         205 non-null    object
 20  pets_allow-amenity             2 non-null      object
 21  price                          261 non-null    float64
 22  property_url                   261 non-null    object
 23  reception-amenity              224 non-null    object
 24  security-amenity               253 non-null    object
 25  servant_room-amenity           32 non-null     object
 26  purpose                        261 non-null    object
 27  swimming-pool-amenity          16 non-null     object
 28  tv_cable-amenity               205 non-null    object
 29  unit                           241 non-null    object
 30  wifi-amenity                   240 non-null    object
 31  year_built                     256 non-null    float64
 32  building_nature                261 non-null    object
 33  city                           28 non-null     object
 34  address                        261 non-null    object
 35  property_description           0 non-null      float64
 36  property_overview              0 non-null      float64
 37  id                             261 non-null    object
dtypes: float64(7), int64(2), object(29)
memory usage: 77.6+ KB

In [58]:
iqibd_df["floor"].unique()

array(['5th', '9th', '4th', '6th', '8th', '3rd', '1st', '2nd',
       '8th & 9th', '7th', '6th & 7th', '1st,2nd,3rd,4th,5th,6th,7th,8th',
       '2nd & 5th', '4th,6th,8th & 10th', '3rd,7th & 9th', '1st & 9th',
       '5th & 6th', '1st,3rd,5th & 6th', '2nd,4th,6th,8th & 9th',
       '2nd & 6th', '5tt & 8th', '1st & 8th', '2nd,6th,7th',
       '2nd,4th,6th.8th', '3rd & 4th', '1st,7th', '1sr & 3rd', '3rd,5th',
       '3', '5th,6th,7th,9th', '1st,8th', '3rd,5th,7th', '1st,6th',
       '4th,5th,6th', '3rd,4th', '3rd,5th,6th', '1st & 7th', '12th',
       '2nd,4th,6th', '2nd,3rd,7th,8th', '5th,7th', '9', '8', '7',
       '1st, 5th, 7th', '2nd, 3rd, 5th', '3rd, 7th', '1st-6th',
       '2nd, 4th', '1st,2nd,3rd', '11th', '2nd & 3rd', nan, '7th,9th',
       '4th,5th', '1st & 6th', '2nd,3rd,6th,8th', '1st, 6th, 8th',
       '2nd,4th,6th,7th', '1st, 8th', '1st & 2nd'], dtype=object)

In [59]:
iqibd_df["unit"].unique()

array(['Single Unit', '9A & 9B', '4A', 'C6', nan, '8A', 'A4,B4', '4C',
       'A3', 'B1', 'G9', 'B6', '4B', '9A', '6c', '6A', '2C', '2B',
       'Single', 'c5', '5C', 'A6', 'D-2 & E-5',
       'A-4,B-4,A-10,B-10,C-8,C-6', '7B', 'J1', 'C7', 'E6',
       '3A,3B,7A,7B,9A,9B', 'A1', '5B', 'A-9', '9B', '5A', 'B-1', '8B',
       'A5 & C8', 'A1, A8, B8', 'E1', 'A8', 'D1', 'A7', '3B & 4B', '3B',
       '2A & 2B', 'B2', 'F8', 'C3,C5', 'A-3', 'B-5,B-6,B-7,B-8,B-9',
       'D1,D8', 'D3,D5,D7', '4A,5A,6A', '4B,5B,6B', '3B,5B,6B', 'A1,A7',
       '02', '3B,5A,5B,7A,7B', 'A4', 'A5', 'B12', 'B-12', '2B,4B,6B',
       '2B,3B,7B,8B', '2A,3A,7A,8A', '2A,4A,6A', '5A,5B,7A', 'B5', 'C1',
       'A9', '2E', '3D', 'A5 & C5', '9C', '7D', '3A', '7A', '7A & 7C',
       '7B & 7D', 'A1, A5, A7', '2B, 3A, 3B, 5A', '3C', '10A',
       '3A, 3B, 7A,7B', '6B', '2A', '2B,4A,4B', '7C', '11A', '6C',
       'A9,B7', 'C8', '12J', '2A & 6B',
       '2(A,B,C)3(A,B,C)6(A,B,C)8(A,B,C)', 'D9', 'A2', 'C1, C6, C8',
       '2B,4A,4B,6B,7A,7B', 'B1, B6, B8', 'A1, A8', '1st & 2nd', '1B',
       '7A & 7B', '5A & 5B', 'D4', 'C4', 'C5'], dtype=object)

In [60]:
merged_df["floor-level-amenity"].unique()

array(['yes', nan], dtype=object)

In [61]:
iqibd_df["balcony-or-terrace-amenity"].unique()

array([nan, 'yes'], dtype=object)

In [62]:
iqibd_df["num_balcony"].unique()

array([ 4.,  3.,  2., nan,  7.,  5.,  1.])

In [63]:
bproperty_df["balcony-or-terrace-amenity"].unique()

array(['yes', nan], dtype=object)

In [64]:
# iqibd_df.drop(["balcony-or-terrace-amenity"],inplace=True, axis=1)

In [65]:
# # Renaming some column
# iqibd_df.rename(columns={
#     "num_balcony":"balcony-or-terrace-amenity"
# })

In [66]:
# bproperty_df.columns.to_list()

In [67]:
iqibd_df.shape

(261, 38)

In [68]:
merged_df.shape[0] + iqibd_df.shape[0]

35465

In [69]:
merged_df = pd.concat([merged_df, iqibd_df])
merged_df.shape

(35465, 112)

<span id="merging-btib_df" ></span>

### Merging `btib_df` to master dataset

In [70]:
btib_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181 entries, 0 to 180
Data columns (total 32 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   area                              181 non-null    float64
 1   building_type                     0 non-null      float64
 2   building_nature                   181 non-null    object
 3   image_url                         0 non-null      float64
 4   num_bath_rooms                    181 non-null    float64
 5   num_bed_rooms                     181 non-null    float64
 6   price                             181 non-null    float64
 7   property_description              180 non-null    object
 8   property_overview                 0 non-null      float64
 9   property_url                      181 non-null    object
 10  purpose                           181 non-null    object
 11  city                              181 non-null    object
 12  locality                          160 non-null    object
 13  address                           21 non-null     object
 14  Intercom-amenity                  181 non-null    bool
 15  Air-Condition Provision-amenity   181 non-null    bool
 16  Fire Extinguisher-amenity         181 non-null    bool
 17  Reception Desk & Lobby-amenity    181 non-null    bool
 18  Prayer Room-amenity               181 non-null    bool
 19  Cable TV Provision-amenity        181 non-null    bool
 20  Lift-amenity                      181 non-null    bool
 21  Generator-amenity                 181 non-null    bool
 22  Tiled Floor-amenity               181 non-null    bool
 23  Emergency Exit-amenity            181 non-null    bool
 24  Built-in Kitchen Cabinet-amenity  181 non-null    bool
 25  Filtered Water-amenity            181 non-null    bool
 26  Dry Kitchen-amenity               181 non-null    bool
 27  Electricity Supply-amenity        181 non-null    bool
 28  Open Terrace-amenity              181 non-null    bool
 29  Gas Supply-amenity                181 non-null    bool
 30  Parking-amenity                   181 non-null    bool
 31  id                                181 non-null    object
dtypes: bool(17), float64(7), object(8)
memory usage: 24.3+ KB

In [71]:
btib_df.rename(columns={
    "Lift-amenity":"lift-amenity",
    "Generator-amenity":"generator-amenity",
    "Gas Supply-amenity":"gas_supply-amenity",
    "Built-in Kitchen Cabinet-amenity": "built-in-kitchen-and-cabinet-amenity",
    "Reception Desk & Lobby-amenity":"reception-desk-and-lobby-amenity",
    "Tiled Floor-amenity":"tiled-floor-amenity",
    "Dry Kitchen-amenity":"dry-kitchen-amenity",
    "Parking-amenity":"parking-spaces-amenity",
    "Prayer Room-amenity":"prayer-room-amenity",
    "Cable TV Provision-amenity ":"cable-tv-provision-amenity",
    "Intercom-amenity":"intercom-amenity",
    "Filtered Water-amenity":"filtered-water-amenity",
    "Open Terrace-amenity":"balcony-or-terrace-amenity",
    "Electricity Supply-amenity":"electricity-supply-amenity",
    "Air-Condition Provision-amenity":"air-condition-and-provision-amenity",
    "Fire Extinguisher-amenity":"fire-extinguisher-amenity"
},inplace=True)

In [72]:
btib_df.shape

(181, 32)

In [73]:
merged_df.shape[0] + btib_df.shape[0]

35646

In [74]:
merged_df = pd.concat([merged_df, btib_df])
merged_df.shape

(35646, 124)

<span id="tidying-merged-csvs" ></span>

## Tidying the merged csvs

In [75]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35646 entries, 0 to 180
Columns: 124 entries, area to gas_supply-amenity
dtypes: float64(14), object(110)
memory usage: 34.0+ MB

The datatypes of the column are good. Now we are going to explore the content of the columns.

In [76]:
print(merged_df.columns.to_list())

['area', 'building_type', 'building_nature', 'image_url', 'num_bath_rooms', 'num_bed_rooms', 'price', 'property_description', 'property_overview', 'property_url', 'purpose', 'city', 'locality', 'address', 'balcony-or-terrace-amenity', 'flooring-amenity', 'parking-spaces-amenity', 'view-amenity', 'lobby-in-building-amenity', 'electricity-backup-amenity', 'elevators-in-building-amenity', 'floor-level-amenity', 'cctv-security-amenity', 'maintenance-staff-amenity', 'cleaning-services-amenity', 'service-elevators-amenity', 'intercom-amenity', 'atm-facility-amenity', 'freehold-amenity', 'broadband-internet-amenity', 'double-glazed-windows-amenity', 'storage-areas-amenity', '24-hours-concierge-amenity', 'waste-disposal-amenity', 'lawn-or-garden-amenity', 'prayer-room-amenity', 'facilities-for-disabled-amenity', 'conference-room-amenity', 'furnished-amenity', 'swimming-pool-amenity', 'steam-room-amenity', 'sauna-amenity', 'jacuzzi-amenity', 'barbeque-area-amenity', 'central-heating-amenity', 'business-center-amenity', 'first-aid-medical-center-amenity', 'day-care-center-amenity', 'shared-kitchen-amenity', 'cafeteria-or-canteen-amenity', 'laundry-facility-amenity', 'id', 'security-staff-amenity', 'title', 'wifi-amenity', 'landscape-garden-amenity', 'wasa-amenity', 'internet-amenity', 'emergency-exit-amenity', 'electricity-amenity', 'child-allowed-amenity', 'gymnasium-amenity', 'community-center-amenity', 'guard-room-amenity', 'fire-alarm-amenity', 'pet-allowed-amenity', 'safety-grill-amenity', 'govt-gas-amenity', 'visitor-car-parking-amenity', 'hot-water-amenity', 'security-guard-amenity', 'rooftop-garden-amenity', 'driver-room-amenity', 'servant-room-amenity', 'floor number-amenity', 'available-for-amenity', 'furnished-status-amenity', 'advance-deposit-amenity', 'drawing-room-amenity', 'floor-type-amenity', 'dining-room-amenity', 'kitchen-amenity', 'negotiable-amenity', 'service-charge-amenity', 'staff-toilet-amenity', 'property-condition-amenity', 'living-room-amenity', 'price_info_extraInfo', 'dining_extraInfo', 'floor_extraInfo', 'floor_type_extraInfo', 'living_extraInfo', 'road_width_ft_extraInfo', 'total_floor_extraInfo', 'view_extraInfo', 'air_conditioning-amenity', 'emergency_stairs-amenity', 'fitness_center-amenity', 'floor', 'garage', 'generator-amenity', 'government_gas-amenity', 'interior', 'land_size', 'num_balcony', 'pets_allow-amenity', 'reception-amenity', 'security-amenity', 'servant_room-amenity', 'tv_cable-amenity', 'unit', 'year_built', 'air-condition-and-provision-amenity', 'fire-extinguisher-amenity', 'reception-desk-and-lobby-amenity', 'Cable TV Provision-amenity', 'lift-amenity', 'tiled-floor-amenity', 'Emergency Exit-amenity', 'built-in-kitchen-and-cabinet-amenity', 'filtered-water-amenity', 'dry-kitchen-amenity', 'electricity-supply-amenity', 'gas_supply-amenity']

In [77]:
merged_df.isna().sum()

area                                     2272
building_type                             181
building_nature                           316
image_url                               18334
num_bath_rooms                              0
                                        ...
built-in-kitchen-and-cabinet-amenity    35465
filtered-water-amenity                  35465
dry-kitchen-amenity                     35465
electricity-supply-amenity              35465
gas_supply-amenity                      35465
Length: 124, dtype: int64

In [78]:
merged_df.iloc[:,:10].isna().sum()

area                     2272
building_type             181
building_nature           316
image_url               18334
num_bath_rooms              0
num_bed_rooms               0
price                    1068
property_description    17387
property_overview       18093
property_url               25
dtype: int64

In [79]:
merged_df["building_type"].unique()

array(['Apartment', 'Shop', 'Floor', 'Office', 'Building', 'Plot',
       'Duplex', 'Warehouse', 'Factory', 'Apartment/Flats',
       'Office space', 'Duplex Home', 'Showroom / Shop / Restaurant',
       'Independent House', 'Land', 'Garage', 'House', 'Commercial Space',
       'Commerical - Other', 'Apartment, Commercial',
       'Commercial property', nan], dtype=object)

In [80]:
merged_df["building_type"].value_counts()

Apartment                       26291
Office                           2156
Building                         1420
Land                             1342
Shop                             1060
Floor                             885
Plot                              809
Garage                            457
Apartment/Flats                   378
Commercial Space                  249
House                             221
Duplex                             77
Office space                       52
Warehouse                          30
Factory                            19
Duplex Home                         7
Commerical - Other                  4
Commercial property                 2
Independent House                   2
Apartment, Commercial               2
Showroom / Shop / Restaurant        2
Name: building_type, dtype: int64

**TODO**:
* define how to deal with the `building_type` whose value counts are less than 200 (drop them ? group them under the same category, for example `Commercial - other` or `Residence - Other` ?)

In [81]:
merged_df.loc[ merged_df["building_type"].isna() ]

,area,building_type,building_nature,image_url,num_bath_rooms,num_bed_rooms,price,property_description,property_overview,property_url,...,reception-desk-and-lobby-amenity,Cable TV Provision-amenity,lift-amenity,tiled-floor-amenity,Emergency Exit-amenity,built-in-kitchen-and-cabinet-amenity,filtered-water-amenity,dry-kitchen-amenity,electricity-supply-amenity,gas_supply-amenity
0,1517.0,NaN,Residential,NaN,3.0,3.0,12000000.0,Are you searching for a beautiful home to buy ...,NaN,https://btibrokeragebd.com/property/1517-sft-a...,...,True,True,True,True,False,False,False,False,True,False
1,935.0,NaN,Residential,NaN,2.0,2.0,5700000.0,Are you searching for a beautiful home to buy ...,NaN,https://btibrokeragebd.com/property/935-sft-ap...,...,False,True,True,True,True,False,False,False,True,True
2,1636.0,NaN,Residential,NaN,4.0,3.0,14000000.0,Are you searching for a beautiful home to buy ...,NaN,https://btibrokeragebd.com/property/1636-sft-a...,...,True,True,True,True,True,False,False,False,True,True
3,2520.0,NaN,Residential,NaN,3.0,3.0,43000000.0,Are you searching for a beautiful home to buy ...,NaN,https://btibrokeragebd.com/property/2520-sft-a...,...,False,True,True,True,False,False,True,False,True,True
4,1352.0,NaN,Residential,NaN,3.0,3.0,11000000.0,Are you searching for a beautiful home to buy ...,NaN,https://btibrokeragebd.com/property/1352-sft-a...,...,False,True,True,True,True,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,1650.0,NaN,Residential,NaN,4.0,3.0,17000000.0,Are you searching for a beautiful home to buy ...,NaN,https://btibrokeragebd.com/property/1650-sft-a...,...,True,True,True,True,False,False,False,True,True,False
177,1240.0,NaN,Residential,NaN,2.0,2.0,13000000.0,Are you searching for a beautiful home to buy ...,NaN,https://btibrokeragebd.com/property/1240-sft-a...,...,False,True,True,True,True,False,False,True,True,False
178,1250.0,NaN,Residential,NaN,2.0,3.0,9500000.0,Are you searching for a beautiful home to buy ...,NaN,https://btibrokeragebd.com/property/1250sft-ap...,...,True,True,True,False,True,False,False,True,True,False
179,1464.0,NaN,Residential,NaN,3.0,3.0,22000000.0,Are you searching for a beautiful home to buy ...,NaN,https://btibrokeragebd.com/property/1464-sft-a...,...,True,True,True,False,True,False,False,False,True,True
180,1420.0,NaN,Residential,NaN,3.0,3.0,11500000.0,Are you searching for a beautiful home to buy ...,NaN,https://btibrokeragebd.com/property/1420-sft-a...,...,True,True,True,False,False,False,False,False,True,True

**TODO**:
* define which value to give as default to the `building_type` where the value is NaN, or how to deal with those NaN values.

In [82]:
merged_df["building_nature"].unique()

array(['Residential', 'Commercial', nan, 'Apartment'], dtype=object)

Some `building_nature` are `Apartment`. They should be replaced by `Residential`.

In [83]:
# Giving the samples which building_nature is Apartment the value of Residential
merged_df.loc[ merged_df["building_nature"]=="Apartment", ["building_nature"] ] = "Residential"

# making sure Apartment were successfully replaced by 
merged_df["building_nature"].unique()

array(['Residential', 'Commercial', nan], dtype=object)

In [84]:
# Selecting the samples without building_nature
merged_df_without_nature = merged_df.loc[ merged_df["building_nature"].isna() ]
merged_df_without_nature

,area,building_type,building_nature,image_url,num_bath_rooms,num_bed_rooms,price,property_description,property_overview,property_url,...,reception-desk-and-lobby-amenity,Cable TV Provision-amenity,lift-amenity,tiled-floor-amenity,Emergency Exit-amenity,built-in-kitchen-and-cabinet-amenity,filtered-water-amenity,dry-kitchen-amenity,electricity-supply-amenity,gas_supply-amenity
0,1350.0,Apartment,NaN,NaN,3.0,3.0,1500000.0,Shares of 1350 Sqft land share in Banasree M B...,NaN,https://www.bdstall.com/details/near-hatirjhee...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1250.0,Apartment,NaN,NaN,3.0,3.0,2500000.0,Shares of 1250 Sqft land will be sold on the o...,NaN,https://www.bdstall.com/details/banasree-near-...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1252.0,Apartment,NaN,NaN,3.0,3.0,5200000.0,A 1252 Sqft flat will be sold in Arshi Nagar a...,NaN,https://www.bdstall.com/details/near-mohammadp...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1200.0,Apartment,NaN,NaN,3.0,3.0,5200000.0,Shares of 1200 sqft apartment in South Keran...,NaN,https://www.bdstall.com/details/south-keraniga...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1500.0,Apartment,NaN,NaN,3.0,3.0,6500000.0,1500 Sqft flat land share will sale in importa...,NaN,https://www.bdstall.com/details/paltan-vijay-n...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253,NaN,Apartment,NaN,NaN,1.0,2.0,7500.0,The pleasant environment will be rented on the...,Beautiful View,https://www.toleter.com/property/bd222/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254,16140.0,Apartment,NaN,NaN,3.0,5.0,5000.0,Well-to-do living and easy movement! If you ar...,"Built in Year : 2015,Size 1500 Sq. Meter,Floor...",https://www.toleter.com/property/bd101/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
255,16140.0,Apartment,NaN,NaN,3.0,5.0,5000.0,Well-to-do living and easy movement! If you ar...,"Built in Year : 2015,Size 1500 Sq. Meter,Floor...",https://www.toleter.com/property/bd102/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
256,NaN,Apartment,NaN,NaN,3.0,3.0,16000.0,"House # 03, Rod # 4/1, Ward No # 37, Negar, Se...","Parking Spaces,Balcony,Elevator,Others Main Fe...",https://www.toleter.com/property/bd244/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
257,NaN,Apartment,NaN,NaN,0.0,2.0,9500.0,The new building will be rented from April 202...,NaN,https://www.toleter.com/property/bd254/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
merged_df_without_nature["building_type"].unique()

array(['Apartment'], dtype=object)

All samples without `building_nature` are of type `Apartment`. So their `building_nature` should be set to `Residential`.

In [86]:
merged_df.loc[ (merged_df["building_nature"].isna()) & 
             ( merged_df["building_type"]=="Apartment") , ["building_nature"] ] = "Residential"

In [87]:
# Checking if their are still properties without nature
merged_df.loc[ merged_df["building_nature"].isna() ].T

Empty DataFrame
Columns: []
Index: [area, building_type, building_nature, image_url, num_bath_rooms, num_bed_rooms, price, property_description, property_overview, property_url, purpose, city, locality, address, balcony-or-terrace-amenity, flooring-amenity, parking-spaces-amenity, view-amenity, lobby-in-building-amenity, electricity-backup-amenity, elevators-in-building-amenity, floor-level-amenity, cctv-security-amenity, maintenance-staff-amenity, cleaning-services-amenity, service-elevators-amenity, intercom-amenity, atm-facility-amenity, freehold-amenity, broadband-internet-amenity, double-glazed-windows-amenity, storage-areas-amenity, 24-hours-concierge-amenity, waste-disposal-amenity, lawn-or-garden-amenity, prayer-room-amenity, facilities-for-disabled-amenity, conference-room-amenity, furnished-amenity, swimming-pool-amenity, steam-room-amenity, sauna-amenity, jacuzzi-amenity, barbeque-area-amenity, central-heating-amenity, business-center-amenity, first-aid-medical-center-amenity, day-care-center-amenity, shared-kitchen-amenity, cafeteria-or-canteen-amenity, laundry-facility-amenity, id, security-staff-amenity, title, wifi-amenity, landscape-garden-amenity, wasa-amenity, internet-amenity, emergency-exit-amenity, electricity-amenity, child-allowed-amenity, gymnasium-amenity, community-center-amenity, guard-room-amenity, fire-alarm-amenity, pet-allowed-amenity, safety-grill-amenity, govt-gas-amenity, visitor-car-parking-amenity, hot-water-amenity, security-guard-amenity, rooftop-garden-amenity, driver-room-amenity, servant-room-amenity, floor number-amenity, available-for-amenity, furnished-status-amenity, advance-deposit-amenity, drawing-room-amenity, floor-type-amenity, dining-room-amenity, kitchen-amenity, negotiable-amenity, service-charge-amenity, staff-toilet-amenity, property-condition-amenity, living-room-amenity, price_info_extraInfo, dining_extraInfo, floor_extraInfo, floor_type_extraInfo, living_extraInfo, road_width_ft_extraInfo, total_floor_extraInfo, view_extraInfo, air_conditioning-amenity, emergency_stairs-amenity, fitness_center-amenity, floor, garage, ...]

[124 rows x 0 columns]

In [88]:
merged_df["building_nature"].unique()

array(['Residential', 'Commercial'], dtype=object)

In [89]:
# merged_df_without_nature.loc[ merged_df_without_nature["building_nature"].isna() & 
#               merged_df_without_nature["building_type"]=="Apartment", ["building_nature"] ] = "Residential"

In [90]:
del merged_df_without_nature

In [91]:
merged_df["garage"].fillna(0, inplace=True)

<span id="creating-csv-without-amenities" ></span>

## Creating csv without amenities

In [92]:
no_amenity_vars = ['id','area', 'building_type', 'building_nature', 'image_url', 'num_bath_rooms', 'num_bed_rooms', 
                 'price', 'property_description', 'property_overview', 'property_url', 'purpose', 'city', 
                 'locality', 'address','garage']

In [93]:
no_amenity_df = merged_df[ no_amenity_vars ]
no_amenity_df.head(3).T

,0,1,2
id,bproperty-0,bproperty-1,bproperty-2
area,1185.0,2464.0,1140.0
building_type,Apartment,Apartment,Apartment
building_nature,Residential,Residential,Residential
image_url,https://images-cdn.bproperty.com/thumbnails/15...,https://images-cdn.bproperty.com/thumbnails/15...,https://images-cdn.bproperty.com/thumbnails/15...
num_bath_rooms,0.0,4.0,0.0
num_bed_rooms,3.0,3.0,3.0
price,6100000.0,28900000.0,7500000.0
property_description,Grab This 1185 Sq Ft Beautiful Flat Is Vacant ...,A Vibrant 2464 Sq Ft Residential Flat For Sale...,1140 Sq Ft Nicely Planned Apartment Is Availab...
property_overview,This flat consists of facilities you can think...,Ready to move in somewhere with everything nea...,A spacious 1140 Square Feet apartment in Mirp...
property_url,https://www.bproperty.com/en/property/details-...,https://www.bproperty.com/en/property/details-...,https://www.bproperty.com/en/property/details-...
purpose,Sale,Sale,Sale
city,Dhaka,Dhaka,Dhaka
locality,Khilgaon,Dhanmondi,Mirpur
address,NaN,NaN,"Block Ta, Section 6"
garage,0.0,0.0,0.0

In [94]:
no_amenity_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35646 entries, 0 to 180
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    35646 non-null  object
 1   area                  33374 non-null  float64
 2   building_type         35465 non-null  object
 3   building_nature       35646 non-null  object
 4   image_url             17312 non-null  object
 5   num_bath_rooms        35646 non-null  float64
 6   num_bed_rooms         35646 non-null  float64
 7   price                 34578 non-null  float64
 8   property_description  18259 non-null  object
 9   property_overview     17553 non-null  object
 10  property_url          35621 non-null  object
 11  purpose               35632 non-null  object
 12  city                  35110 non-null  object
 13  locality              35046 non-null  object
 14  address               30507 non-null  object
 15  garage                35646 non-null  float64
dtypes: float64(5), object(11)
memory usage: 4.6+ MB

In [95]:
no_amenity_df["building_type"].unique()

array(['Apartment', 'Shop', 'Floor', 'Office', 'Building', 'Plot',
       'Duplex', 'Warehouse', 'Factory', 'Apartment/Flats',
       'Office space', 'Duplex Home', 'Showroom / Shop / Restaurant',
       'Independent House', 'Land', 'Garage', 'House', 'Commercial Space',
       'Commerical - Other', 'Apartment, Commercial',
       'Commercial property', nan], dtype=object)

In [96]:
no_amenity_df["building_nature"].unique()

array(['Residential', 'Commercial'], dtype=object)

In [97]:
no_amenity_df["building_nature"].isna().sum()

0

In [98]:
no_amenity_df.shape

(35646, 16)

In [99]:
# Create folder in which to save cleaned dataset
if not os.path.exists(merged_data_folder):
    os.makedirs(merged_data_folder)
    print(f"Create folder '{merged_data_folder}'")
else:
    print(f"Folder '{merged_data_folder}' already exists")

Folder '../../../data/Merged_Data' already exists

In [100]:
# Save merged datasets to csv
no_amenity_df.to_csv(f"{merged_data_folder}/no_amenity.csv", index=False)

In [101]:
# Load saved csv (to make sure it was successfully save)
saved_no_amenity_df = pd.read_csv(f"{merged_data_folder}/no_amenity.csv")
saved_no_amenity_df.head(3).T

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (4,9) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,0,1,2
id,bproperty-0,bproperty-1,bproperty-2
area,1185.0,2464.0,1140.0
building_type,Apartment,Apartment,Apartment
building_nature,Residential,Residential,Residential
image_url,https://images-cdn.bproperty.com/thumbnails/15...,https://images-cdn.bproperty.com/thumbnails/15...,https://images-cdn.bproperty.com/thumbnails/15...
num_bath_rooms,0.0,4.0,0.0
num_bed_rooms,3.0,3.0,3.0
price,6100000.0,28900000.0,7500000.0
property_description,Grab This 1185 Sq Ft Beautiful Flat Is Vacant ...,A Vibrant 2464 Sq Ft Residential Flat For Sale...,1140 Sq Ft Nicely Planned Apartment Is Availab...
property_overview,This flat consists of facilities you can think...,Ready to move in somewhere with everything nea...,A spacious 1140 Square Feet apartment in Mirp...
property_url,https://www.bproperty.com/en/property/details-...,https://www.bproperty.com/en/property/details-...,https://www.bproperty.com/en/property/details-...
purpose,Sale,Sale,Sale
city,Dhaka,Dhaka,Dhaka
locality,Khilgaon,Dhanmondi,Mirpur
address,NaN,NaN,"Block Ta, Section 6"
garage,0.0,0.0,0.0

In [102]:
# v=5
# type(v), type(v)==int

In [103]:
# # Initializing list
# test_list = [1, 6, 3, 5, 3, 4]
 
# # Checking if 4 exists in list
# # using in
# if (4 in test_list):
#     print("Element Exists")

<span id="creating-csv-with-amenities" ></span>

## Creating csv with amenities